/* Fonts */
/*@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../../ext/fonts/Lato400N.woff) format('woff');
}
@font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(../../ext/fonts/Lato700N.woff) format('woff');
}
@font-face {
    font-family: 'Lato Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(../../ext/fonts/Lato400I.woff) format('woff');
}
@font-face {
    font-family: 'Lato Bold Italic';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(../../ext/fonts/Lato700I.woff) format('woff');
}

/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,700,300&subset=latin,cyrillic-ext);*/
@font-face {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url(../../ext/fonts/Ubuntu300light.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../../ext/fonts/Ubuntu400.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(../../ext/fonts/Ubuntu500medium.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../../ext/fonts/Ubuntu700B.woff) format('woff');
}
/*@font-face {
    font-family: 'Ubuntu Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(../../ext/fonts/Ubuntu400i.woff) format('woff');
}*/

@font-face {
    font-family: "Neucha";
    src: url("../../ext/fonts/Neucha.eot") /* EOT file for IE */
}
@font-face {
    font-family: "Neucha";
    src: url("../../ext/fonts/Neucha.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family: "Play-Regular";
    src: url("../../ext/fonts/Play-Regular.eot") /* EOT file for IE */
}
@font-face {
    font-family: "Play-Regular";
    src: url("../../ext/fonts/Play-Regular.ttf") /* TTF file for CSS3 browsers */
}




/* Global */
body {margin:0; font-family:'Ubuntu Light', sans-serif; font-size:12px; padding-bottom: 36px}
ul, li {list-style: none}
/* Colors of CMS: just for information only */
.colors .color1 {color: #0E467F}
.colors .color2 {color: #3565a5}
.colors .color3 {color: #EDF1F5}
.colors .color4 {color: #E3FEDE}
.colors .color5 {color: #FFFFFF}
/***/
img, a img {border:0}
h3 {font-size: 12px; color: #0E467F; margin:0; display: inline}
input, textarea {font-family: 'Ubuntu Light'; font-size: 12px}
input[type=file] {border: 0 !important;}
textarea {padding: 0}

/* Fonts */
.tab-10-green {color:#4AAE10; font-size:10px}
.tab-w {color:#FFFFFF} /* base-w in OLD man */
.tab-r {color:#CC0000}
.tab-10-r, .txt-10-red {color:#CC0000; font-size:10px}
.tab-g {color:#CCCCCC}
.tab-gb {color:#727272}
.tab-o {color:#FF7707}
.tab-gr {color:#669933}
.tab-bl-b {color:#4D729A; font-weight:bold}
.txt-page-ob {color:#1A7071; font-family: 'Ubuntu Medium'}
.txt-page-ob-desc {font-size:11px; color:#999999}
.txt-9-b {font-size:11px;  color:#000000}
.txt-9-r {font-size:11px;  color:#CC0000}
.txt-10-b {font-size:10px;  color:#000000}
.txt-10-gray {font-size:10px; color:#5F5F5F}
.txt-10-g {font-size:10px; color:#4D729A}
.txt-10 {font-size:11px}

/* Links */
a {text-decoration:none; color:#0E467F;}
a:hover {text-decoration:underline; color:#030303}

a.b {font-weight: bold}
a.l1 {color: #3565a5}
a.active {color: #3565a5 !important}

a.link-w {color:#FFFFFF; font-size:11px; text-decoration:none}
a.link-w:hover {text-decoration:underline}

a.link-b {color:#000000; font-family: 'Ubuntu Medium'; text-decoration:none}
a.link-b:hover {text-decoration:underline}

a.link-green {color:#025920; text-decoration:none}
a.link-green:hover {text-decoration:underline}

a.link-red {color:#CC0000; text-decoration:none}
a.link-red:hover {text-decoration:underline}

a.link-orange {color:#FF7707; text-decoration:none}
a.link-orange:hover {text-decoration:underline}

a.link-gray {color:#CCCCCC; text-decoration:none}
a.link-gray:hover {text-decoration:underline}

a.link-blue {color:#4D729A; text-decoration:none}
a.link-blue:hover {text-decoration:underline}
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ****/

.page-active {font-family: "Ubuntu Medium"; font-weight: bold}

/* Table styles */
table, td {color:#000000}
td {border:none}
thead {}
thead th {background: none repeat scroll 0 0 #0E467F; color: #FFFFFF; font-family: 'Play-Regular'; font-size: 11px; font-weight: normal; height: 20px; padding: 2px 5px 1px;}

.tdL {border:solid; border-width:0 0 1px 0; border-color:#DDDDDD; min-width: 180px; max-width: 240px; text-align: right; vertical-align: top; padding-top: 4px !important}
.tdR {border:solid; border-width:0 0 1px 1px; border-color:#DDDDDD;}
.tdC {border:solid; border-width:0 0 0 1px; border-color:#DDDDDD; }
.tdD {border:solid; border-width:0 0 1px 0; border-color:#DDDDDD; }
.tdDR {border-width:0; text-align: right; height: 36px}
.tdLT {border:solid; border-width:1px 0 1px 0; border-color:#DDDDDD; }
.tdRT {border:solid; border-width:1px 0 1px 1px; border-color:#DDDDDD; }

.tdR li {min-height: 20px}
.tdR li label {line-height: 1.7}

td.tab_on {background-color:#EDEDED; cursor:pointer}
td.tab_out {background-color:White}
td.tab {background-color:#FFE4E1}
td > p {margin: 0 0 3px}

td.cms_user_menu_bar {width: 200px}
td.cms_user_menu_bar .projects_selector {padding-left: 10px; padding-top: 5px}
td.cms_user_menu_bar .projects_selector input.plane {top: 2px; position: relative; cursor: pointer}

.table-list .str {padding-left:4px}
.table-list .tab-w {font-size:10px; font-weight:bold}

.block {margin: 5px 0; padding: 0}
.box-page-title {margin:9px 0 0 0; width:99%; padding:0; border-collapse: collapse; border: 0}
#ajax-loader {position: absolute; top: 50%; margin-top:-100px;  left: 50%; margin-left:-100px;  display: none; z-index: 9999 }

#table-footer-slogan { height:14px; width:100% }
#table-footer-slogan .slogan { padding-left:7px; }
#table-footer-slogan .slogan span.tab-w {font-size:10px; font-weight:bold; text-shadow:#111 1px 1px 1px; }
#table-footer-slogan p.tab-w {font-size:10px; text-align:right }

.tbl {margin: 5px 0; padding:0; border-collapse: separate; border-spacing: 1px; min-width: 600px}
.tblIn {margin:0; padding:0; border-collapse: separate; border-spacing:1px; }
.tbl td, .tblIn td {padding: 1px 4px; }
.list tr:nth-child(even) { background: #efefef; }

.table-form-legend {text-transform: uppercase; font-size:9px; font-weight: bold; color:#000000}

.table-leftmenu {border-collapse: collapse; width: 100%; background: #0E467F; margin: 0 0 7px; }
.table-leftmenu tbody td {padding: 0 1px 1px; background: #EDF1F5; vertical-align: top}
.table-leftmenu tbody td a {font-weight: normal; color: #0E467F; font-family: 'Ubuntu Light', sans-serif; font-size: 13px}
.table-leftmenu tbody td a:hover {color: #303030}
.table-leftmenu thead .title {font-weight: bold; font-size: 10px; color: #FFFFFF; padding-right: 6px; text-align: center; height: 20px}

.list-categories {margin:1px 0 14px}
.list-categories .edit_field input,
#form_add_subcategory input,
#form_add_category input {width: 180px}
.list-categories .li-item {float: left; margin-right: 5px}
.list-categories .sub-item {padding-left: 13px}
.list-categories .sub-item span {padding: 0 13px; color: #999999}
.list-categories .sub-item .link-b {font-weight: normal}
.list-categories a.link-b {top: 2px; position: relative}

/* решает проблему растягивания ячеек, если ширина содержимого больше ширины ячейки */
/*table {table-layout: fixed}*/

/* cellspacing=0 */
/*table {border-collapse: collapse;}*/

/* cellpadding=0 */
/*table td {padding: 0}*/

/* cellspacing=5 */
/*TABLE {border-collapse: separate; border-spacing: 5px}*/
/* cellpadding=3 */
/*TABLE TD {padding: 3px}*/
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ****/


.hidden {display:none}
.finger {cursor:pointer}
.mid {vertical-align: middle !important; text-align: center !important}
.tr {text-align: right}
.hh3 {height: 30px}


/* Form elements */
form, ul, li {margin:0; padding:0}
button {border:0; height:26px; color:white; background-color:#01737B; cursor: pointer; box-shadow:1px 1px 2px #555; -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.6); /* Для Safari и Chrome */}

select.plane, textarea.plane, input.plane, select.error, textarea.error, input.error, textarea.code {border:1px solid #999999; height:17px; margin: 0;}

input.btn {background-color: #01737B; border: 0 none; border-radius: 3px 3px 3px 3px; box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); color: #FFFFFF; cursor: pointer; font-size: 11px; height: 24px; letter-spacing: 0.7px; padding-bottom: 3px; margin-top: 5px; }
input.btn:hover {font-weight: 600}

input.save {background-color:#6682CC}
input.reset {color:#000000; background-color:#CCCCCC}
input.date {width: 66px !important; float: left; margin-right: 3px}
input.small {width: 100px !important}
input.x-small {width: 40px !important}
input.medium {width: 240px !important}
.plane-b {border:1px solid #999999; font-size:11px; height:17px; background-color:#EEEEEE}
textarea.plane-b {width:600px; height:260px; overflow-y:visible; word-wrap:break-word}

#form_edit .warn {margin:10px 0}
#form_edit .plane {width:400px}
#form_edit textarea.plane {height:80px; overflow-y:visible; word-wrap:break-word}
#form_edit select.plane {width: auto}
#form_edit img.logo {border: 1px solid #AFAFAF}

#form_add_weeks_images {margin-bottom: 50px}
#form_add_weeks_images .tbl_newspaper {margin: 14px 0 0}
#form_add_weeks_images .tbl_newspaper thead td {background-color: #3565a5; color: white; text-align: center}
#form_add_weeks_images .tbl_newspaper .img_week {}
#form_add_weeks_images .tbl_newspaper .plane {width: 70px}
#form_add_weeks_images #week_num  {width: 44px}

#list_previous_magazines h3 {margin: 0 0 5px}
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ****/



/* Blocks, Boxes (such as DIV) */
#strPageBody {width:600px; height:250px; overflow-y:visible; word-wrap:break-word}

#top-cms-title {float:left; font-size:31px; color:#3565A5; text-shadow:1px 1px 2px #333; margin-top:21px; margin-left:66px}
#top-cms-menu {float:right}
#top-cms-menu a {}
#top-cms-menu #top-icons img {border:0; width:50px; height:50px}

.top-url-back {color:#333366; text-decoration:none; font-size:10px}
.top-url-box {margin-top:-24px;margin-bottom:15px}

.footer-url-back {margin: 7px 0}
.footer-url-back img {margin: 0 10px 0 0}
.tdDR>.footer-url-back {margin: 0 10px 0 0}

fieldset#loginField {width:200px}
fieldset#loginField legend {color:#214653; font-size:12px; text-shadow:2px 2px 2px #acacac; font-weight: bold}

.box-link-add {margin: 0 0 10px}
.box-link-add img {position: relative; top: 3px}

.footer-line {height:26px; width: 100%; background-color: #0E467F; position: fixed; bottom: 5px}
.footer-line div {margin: 5px 7px 0}
.footer-line div a:hover {color: #86caff}
.cell-logo {width:192px; vertical-align: top; padding-top: 10px}
.cell {margin-right: 10px; margin-bottom: 10px}

.i-count {font-size:10px; margin:7px 0; display:none}
.list-items {margin:0; width:99%}
.list-items td {font-size: 13px}
.list-items tbody tr:nth-child(even) td {background-color: #F5F8FA}
.warn-ch {display:block}
.warn {background-color: #FF7878}
.error {color: #d70a0d }

.left-cms-menu {margin:8px 0}
.left-cms-menu li {padding:2px 2px 2px 6px}
.left-cms-menu .sub-item {padding-left: 16px}
.left-cms-menu li img {margin: 2px 4px 0 0}
.warning-box .tab-gb {font-size: 10px; width:750px}
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ****/

td.inactive-user {background-color: #FF9999}
td.active-user {background-color: #71BB5A}
td.active-user .tab-gb {color: #363636}

.fl {float: left}
.fr {float: right}

form .tbl #strBody {font-size: 14px}
.list-items tbody tr:hover td {background-color: #aaccf6}
.chapter {background-color: #0e88bf }

.work_history {margin: 20px 0}
.work_history .company {list-style: decimal outside none; margin-bottom: 20px; position: relative}
.work_history .company .fl {min-width: 130px; font-style: italic}
.work_history .company a.remove {display: block; left: -23px; position: absolute; top: 20px;}

.search_form_button {vertical-align: bottom; text-align: right; padding-bottom: 2px; width: 60px}
.search_form_button .plane {height: 21px !important;}

.dop_info {margin-left: 30px; color: #454545; cursor: help}

.popup_block {display: none; width: 340px}
.popup_block table {width: 99%}
.popup_block input[type=text] {width: 220px}
.popup_block textarea.plane {width: 220px; height: 77px}

.pause {font-style: italic; color: #acacac}

/* Sizes */
.height200 {min-height: 200px}
