/**
 * General Website Styles - Rabota-Ya.ru
 *
 * @author: Shirokovskiy Dmitry, 2013-2014
**/

body {font-family:Arial,Tahoma,Verdana; font-size:13px; background: #efefef url(../../storage/siteimg/content/newspaper-bg.jpg) 0 0 repeat; padding-bottom: 20px}
body>div {width: 1200px; margin: 0 auto}
form, ul, li {margin: 0}
p {margin: 1px 0; text-align: justify; padding-bottom: 7px}
ul {list-style: none}
ul.discs {list-style-type: disc; list-style-position: inside}
a>img {border: 0}
input[type=text], textarea {width: 80%}
h1 {color: #8A0202; font-size: 18px; margin: 0 0 10px !important; display: inline-block; border-bottom: 2px solid #F99D1C}
h1.title {color: #8A0202; font-size: 18px; margin-bottom: 10px; display: inline-block; border-bottom: 2px solid #F99D1C}
q {font-style: italic; color: #575757}


#page_wrapper {background-color: #ffffff; padding-bottom: 20px; border-bottom: 1px solid #e4e4e4}
#content_footer {background: url(../../storage/siteimg/setka.gif) 0 0 repeat; height: 150px}
#content_footer>div {padding: 20px}

.content_block {
	width:expression(
    	document.body.clientWidth < 780 ? "420" : (document.body.clientWidth-360)
  	);
  	min-width: 420px;
}
.finger {cursor: pointer}
.block {margin: 0 0 15px}
.block_m20 {margin: 20px}
.half {width: 50%; display: inline-block; float: left}
.half.first-child {width: 48%; padding-right: 8px}
.fl {float: left}
.fr {float: right}
.tr {text-align: right}
.inl {display: inline-block; margin-right: 3px}
.flow:before, .flow:after,
.flow {-moz-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s}
.w120 {width: 120px !important}
.w200 {width: 200px !important}
.w240 {width: 240px !important}
.w400 {width: 400px !important}
.wrapper_block {margin: 0 0 10px}
.block_a {margin: 20px 0}
.ac {text-align: center}
.box {padding: 15px}
.hidden {display: none}
.salary,.important {color: #D71A20 !important}
.ac_half {width: 50%; margin: 0 auto}
.redstar {color: red}

/***/
.content_columns {position: relative; min-height: 400px; margin-top: 10px}
.content_columns>div {}
.content_columns .left_sidebar {width: 220px; float: left; padding-bottom: 40px; top:0}
.content_columns .content_block {padding-left: 10px; padding-bottom: 40px; position: relative; width: 80%; min-height: 700px; float: left}
.col-3 .content_columns .content_block {width: 60%; min-width: 400px; margin-bottom: 10px}
.col-2r .content_columns .content_block {padding-left: 20px; width: 900px}
.col-1 .content_columns .content_block {width: 99%}
.content_columns .right_sidebar {width: 230px; margin-right: 10px; float: right}
.content_columns .column {width: 340px; margin-left: 10px;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #e8e8e8, #FFFFFF);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #e8e8e8, #FFFFFF);

	/* IE 10 */
	background: -ms-linear-gradient(top, #e8e8e8, #FFFFFF);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #e8e8e8, #FFFFFF);
}
/*.content_columns .column.first {margin-left: 30px}
.content_columns .column.last {margin-left: 10px}*/
.content_columns .column h1 {border-bottom: 0 none; font-size: 18px; margin-bottom: 10px; padding: 4px 10px; width: 94%; text-align: center}
.content_columns .column.first h1 {background-color: #FFDD00;  color: #8A0202}
.content_columns .column.last h1 {background-color: #8A0202;  color: #FFFFFF}
.content_columns .row {padding: 5px 10px; margin: 0}
.content_columns .column .row a {font-size: 15px; text-decoration: underline; color: #434343}
.content_columns .row span {color: #696969; margin-left: 30px}
.content_columns .row .col1 {min-width: 200px; width: 25%}
.content_columns .row .col2 {}
.content_columns .row .cell {float: left; overflow: hidden; padding-bottom: 10px}
.content_columns .row .cell.col1 {width: 75%}
.content_columns .row .cell.clearer {float: right}
.sidebar_block .row {padding-left: 0}
.sidebar_block .novelty {margin-bottom: 7px; padding-bottom: 10px}
.sidebar_block a {color: #575757}
.sidebar_block h3 {color: #8A0202; font-size: 16px; margin-bottom: 10px; display: inline-block}
.sidebar_block .block {margin-top: 10px}
.list .row {float: left; width: 97%}
.list .row:nth-child(odd) {background-color: #faf9cf}
.central-block {margin:0 auto; width: 500px; min-height: 120px; padding: 30px 50px; background-color: #FCF9AC}

.salary,.important {color: #D71A20 !important}
.ac_half {width: 50%; margin: 0 auto}

.record-card {min-width: 400px; width: 98%}
.record-card .first {width: 36%; min-width: 270px}
.record-card td {vertical-align: top; padding-top: 5px; padding-left: 8px}
.record-card td:first-child {font-weight: bold}
.record-card.company-info {margin-bottom: 30px}
.record-card.company-info .first {width: 20%; min-width: 100px}
h4.company-info {margin-bottom: 7px}
h4.title {margin: 17px 0 7px; font-size: 15px}

/* Links */
a {text-decoration:none; color:#0063c9} /* 3e8ad5 3c6699 */
a:hover {text-decoration:underline}
a.link_grey {color:#4E4E4E}
a.light_grey {color:#a3a3a3}
a.link-inline-note {margin:0 40px}
a.link-darkred {color: #8A0202}
/*****/

/* Text */
.err {color:#e30e27}
.success {color: #388355}
.warning {}
.warning > span {color: #8A0202}
h1,h2,h3,h4,ul,li {margin:0; padding: 0}
h1 {color: #8A0202; font-size: 18px; margin: 0 0 10px !important; display: inline-block; border-bottom: 2px solid #F99D1C}
h1.title {color: #8A0202; font-size: 18px; margin-bottom: 10px; display: inline-block; border-bottom: 2px solid #F99D1C}
h1.logo {border-bottom: 0 none; left: 10px; position: absolute; top: 50px}
h1.logo a {display: block; width: 270px; height: 107px; background: url(../../storage/siteimg/logo.png) 0 0 no-repeat; text-indent: -9999px}
h4.company-info {margin-bottom: 7px}
h4.title {margin: 17px 0 7px; font-size: 15px}
q {font-style: italic; color: #575757}
.txt_grey {color: #5a5a5a}
.block_agreement h2 {font-size: 18px; text-align: center; color: black; text-decoration: none; border: 0}
.block_agreement {font-size: 14px; line-height: 1.7}
.txt_grey {color: #696969 !important}
.txt_darkgrey {color: #444444 !important}
.txt_10 {font-size: 10px !important}
.txt_11 {font-size: 11px !important}
.txt_12 {font-size: 12px !important}
.seo_text {margin: 0 0 20px}
.seo_text h4 {text-align: center; margin: 20px 0 5px}
/*****/

h1.logo {border-bottom: 0 none; left: 10px; position: absolute; top: 50px}
h1.logo a {display: block; width: 270px; height: 107px; background: url(../../storage/siteimg/logo.png) 0 0 no-repeat; text-indent: -9999px}

.top_navigation {height: 175px; position: relative}
.top_navigation .top_links {height: 30px; left: 340px; position: relative; width: 440px}
.top_navigation .top_links #items {overflow: hidden; width: 100%; list-style-type: none}
.top_navigation .top_links #items li {float: left; margin: 0 1px 0 10px}
.top_navigation .top_links #items li a {color: #575757; padding: 8px 12px; position: relative; float: left; font-size: 13px}
.top_navigation .top_links #items li a:hover {background:#8A0202; color:white}
.top_navigation .top_links #items li a::before {border-width:36px 11px 0 0; border-color: transparent white transparent transparent; border-style: solid; content: ""; position: absolute; left: -11px; margin-top: -18px; top: 50%}
.top_navigation .top_links #items li a:hover::before {border-color: transparent #8A0202 transparent transparent}
.top_navigation .top_links #items li a::after {border-width:36px 11px 0 0; border-color: white transparent transparent transparent; border-style: solid; content: ""; position: absolute; right: -11px; margin-top: -18px; top: 50%}
.top_navigation .top_links #items li a:hover::after {border-color: #8A0202 transparent transparent transparent}

.top_navigation .top_actions {position: absolute; top: 0; left: 10px; width: 1180px}
.top_navigation .top_actions .adv_pass {list-style: none outside; margin-right: 40px}
.top_navigation .top_actions .adv_pass li {line-height: 1.8; font-size: 11pt; padding-right: 10px}
.top_navigation .top_actions .adv_pass li a {text-decoration: none; border-bottom: 1px solid}
.top_navigation .top_actions .adv_pass li a:hover,
.top_navigation .top_actions .adv_pass li a:hover span {border-bottom-style: dashed}
.top_navigation .top_actions .adv_pass li span {color: #DB3838; border-bottom: 1px solid}

.phone_box {background: url(../../storage/siteimg/top/phone_s.gif) 0 8px no-repeat transparent; padding-left: 60px}
.phone_box h2 {margin: 3px 0 0; color: #db3838}

.top_navigation .region_set {padding: 22px 15px 0 0; position: absolute; z-index: 99; right: 0}
.top_navigation .region_set a {text-decoration: underline}
.top_navigation .region_set p {padding-bottom: 1px}
.total-count {text-align: right; font-size: 12px; color: #8A0202; margin-left: 10px}
.total-count span {color: #F65D20; text-shadow: 1px 1px 1px #afafaf; font-family: cursive}
.total-count.first {margin-top: 4px}

.phone_number_block {font-size: 13px; text-align: right; width: 210px; color: #363636; display: none}
.phone_number_block span {color: #669933; font-size: 18px; position: relative; top: 2px}
.phone_number_block span span {color: #F65D20; top: 0}

.top_navigation .search_box {height: 152px; position: absolute; right: 0; top: 48px}
.top_navigation .search_box .links {background: none repeat scroll 0 0 #8A0202; height: 122px; margin-top: 30px; width: 100px}
.top_navigation .search_box .links:after {border-color: #8A0202 white transparent transparent; border-style: solid solid none none; border-width: 122px 50px 0 0; content: ""; height: 0; left: 100px; position: absolute; width: 0}
.top_navigation .search_box .links ul {position: absolute; z-index: 99}
.top_navigation .search_box .links li {line-height: 39px; padding-left: 10px}
.top_navigation .search_box .links li a {color: white; font-size: 18px}
.top_navigation .search_box input {font-family: monospace; margin-top: 1px}
.top_navigation .search_box .bar {margin-left: 50px}
.top_navigation .search_box .bar .tabs {height: 24px}
.top_navigation .search_box .bar .tabs ul {margin-left: 12px}
.top_navigation .search_box .bar .tabs li {background-image: url("../../storage/siteimg/shadow.png"); background-position: 99% 100%; background-repeat: no-repeat; display: inline-block; height: 24px; margin: 0 0.5em} /* height зависим с padding .tabs li a, и зависим вместе с border-width для .tabs li a:after & before */
.top_navigation .search_box .bar .tabs li a:before {border-style: solid; border-width: 24px 11px 0 0; content: ""; left: -11px; margin-top: -12px; position: absolute; top: 50%} /*margin-top зависит от font-size & padding для .tabs li a */
.top_navigation .search_box .bar .tabs li a:after {border-style: solid; border-width: 24px 11px 0 0; content: ""; margin-top: -12px; position: absolute; right: -11px; top: 50%} /*margin-top зависит от font-size & padding для .tabs li a */
.top_navigation .search_box .bar .tabs li a {float: left; font-size: 14px; padding: 0.3em; position: relative; text-align: center; color: #4E4E4E}
.top_navigation .search_box .bar .tabs li a:hover {color: #000000}
.top_navigation .search_box .bar .tabs li.color1 a:before {border-color: transparent #FFDD00 transparent transparent}
.top_navigation .search_box .bar .tabs li.color2 a:before {border-color: transparent #F89C1D transparent transparent}
.top_navigation .search_box .bar .tabs li.color3 a:before {border-color: transparent #D71A20 transparent transparent}
.top_navigation .search_box .bar .tabs li.color4 a:before {border-color: transparent #8A0202 transparent transparent}
.top_navigation .search_box .bar .tabs li.color1 a:after {border-color: #FFDD00 transparent transparent}
.top_navigation .search_box .bar .tabs li.color2 a:after {border-color: #F89C1D transparent transparent}
.top_navigation .search_box .bar .tabs li.color3 a:after {border-color: #D71A20 transparent transparent}
.top_navigation .search_box .bar .tabs li.color4 a:after {border-color: #8A0202 transparent transparent}
.top_navigation .search_box .bar .tabs #tab3 a,
.top_navigation .search_box .bar .tabs #tab4 a {color: #DDDDDD}
.top_navigation .search_box .bar .tabs #tab3 a:hover,
.top_navigation .search_box .bar .tabs #tab4 a:hover {color: #FFFFFF}
.top_navigation .search_box .bar #search_field {height: 84px; width: 850px; color: #4E4E4E}
.top_navigation .search_box .bar #search_field:before {border-style: none none solid solid; border-width: 0 0 84px 40px; content: ""; margin-left: -40px; position: absolute}
.top_navigation .search_box .bar #search_field>span {font-size: 11px; color: black}
.top_navigation .search_box .bar #search_field .example {font-size: 11px}
.top_navigation .search_box .bar #search_field .example span {color: #000}
.top_navigation .search_box .bar #search_field.color3 .example span,
.top_navigation .search_box .bar #search_field.color4 .example span {color: #FFFFFF}
.top_navigation .search_box .bar .color1#search_field:before {border-color: transparent transparent #FFDD00 white}
.top_navigation .search_box .bar .color2#search_field:before {border-color: transparent transparent #F89C1D white}
.top_navigation .search_box .bar .color3#search_field:before {border-color: transparent transparent #D71A20 white}
.top_navigation .search_box .bar .color4#search_field:before {border-color: transparent transparent #8A0202 white}
.top_navigation .search_box .bar .color3#search_field,
.top_navigation .search_box .bar .color4#search_field {color: #DDDDDD}
.top_navigation .search_box .bar #search_field>div {padding: 5px}
.top_navigation .search_box .bar .color1 {background: #FFDD00}
.top_navigation .search_box .bar .color2 {background: #F89C1D}
.top_navigation .search_box .bar .color3 {background: #D71A20}
.top_navigation .search_box .bar .color4 {background: #8A0202}
.top_navigation .search_box .bar .color3 a,
.top_navigation .search_box .bar .color4 a {color: #EEEEEE}
.top_navigation .search_box .bar .query {margin: 0}
.top_navigation .search_box .bar .query .plane {font-size: 14px; width: 750px; padding: 3px}
.top_navigation .search_box .bar .query input[type="submit"] {border-color: #F89C1D; font-size: 14px; height: 26px; line-height: 1; margin: 0 0 0 10px; text-transform: uppercase}
.top_navigation .search_box .bar .query input[type="submit"]:hover {border-color: #D71A20; cursor: pointer}
.top_navigation .search_box .bar .precision {margin: 2px 0}
.top_navigation .search_box .bar .precision>span {display: inline-block; font-size: 13px; padding-right: 10px}
.top_navigation .search_box .bar .precision li {display: inline-block}
.top_navigation .search_box .bar .precision li:after {content: "/"; margin: 0 10px; position: relative; top: 1px}
.top_navigation .search_box .bar .precision li.last:after {display: none}
.top_navigation .search_box .bar a {color: #4E4E4E}

.top_navigation .search_box .bar .search_where {margin: 10px 0 0}
.top_navigation .search_box .bar .search_where ul {}
.top_navigation .search_box .bar .search_where li {display: inline-block; min-width: 60px}
.top_navigation .search_box .bar #search_city {height: 15px}
.top_navigation .search_box .bar #search_salary {width: 60px; height: 15px}
.search_where li span {top: 1px; position: relative}
.box_informer {position: absolute; bottom: -65px; right: 0}
.box_informer.usd {bottom: -55px; right: auto; left: 0}

.box-subscribe {text-align: right; padding-right: 10px}

.section {min-height: 300px; left: 10px; position: relative; width: 200px; margin-bottom: 10px}
.section #week_magazines {border: 1px solid #DFDFDF; height: 272px; position: absolute; top: 41px; width: 198px; background: #F0F0F0}
.section #week_magazines.brd_tu {border-radius: 0 15px 15px 15px; -webkit-border-radius: 0 15px 15px 15px; -moz-border-radius: 0 15px 15px 15px}
.section #week_magazines.brd_we {border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px}
.section #week_magazines.brd_th {border-radius: 15px 0 15px 15px; -webkit-border-radius: 15px 0 15px 15px; -moz-border-radius: 15px 0 15px 15px}
.section #look_of_magazine {margin: 10px}
.section #look_of_magazine img {-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; box-shadow: 1px 1px 2px grey; width: 177px}
.section #look_of_magazine .butExpand {
	box-shadow: 2px 2px 4px;
	background: -moz-linear-gradient(top, #807777, #3e2c2c);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#807777), color-stop(100%,#3e2c2c));
	background: -webkit-linear-gradient(top, #807777, #3e2c2c);
	background: -o-linear-gradient(top, #807777, #3e2c2c);
	background: -ms-linear-gradient(top, #807777, #3e2c2c);
	background: linear-gradient(top, #807777, #3e2c2c);
	border: 1px solid #807777;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	cursor: pointer; height: 35px; left: 42px; opacity: 0.85; position: absolute; top: 115px; width: 103px}
.section #look_of_magazine .butExpand:hover {box-shadow: 2px 2px 2px; opacity:1;
	background: -moz-linear-gradient(bottom, #807777, #3e2c2c);
	background: -webkit-linear-gradient(bottom, #807777, #3e2c2c);
	background: -o-linear-gradient(bottom, #807777, #3e2c2c);
	background: -ms-linear-gradient(bottom, #807777, #3e2c2c);
	background: linear-gradient(bottom, #807777, #3e2c2c);
}
.section #look_of_magazine .butExpand span {color: white; font-size: 14px; font-weight: bold; text-shadow: 0 1px 0 black; position: relative; top: -1px}
.section .tabs {height: 40px; position: absolute; top: 0; width: 200px}
.section .tabs .current {background: #F0F0F0; border-color: #DFDFDF #DFDFDF #F0F0F0; border-image: none; border-radius: 15px 15px 0 0; border-style: solid; border-width: 1px; color: #8A0202}
.section .tabs a {width: 66px; font-size: 18px; font-weight: bold; background: none; border: medium none; color: #F99D18; display: block; float: left; height: 30px; padding-top: 10px; text-align: center; text-decoration: none}

.left_sidebar .section .block {
	border: 1px solid #F99D1C;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
}
.left_sidebar .section .block .title {
	background: #F99D1C;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-align: center;
	font-size: 17px;
	color: white;
	margin-right: -1px;
	margin-left: -1px;
	margin-top: -1px;
	padding: 3px 10px;
	border: 1px solid #F99D1C;
	text-transform: uppercase;
	font-weight: bold;
}
.left_sidebar .section .block #distribution {display: block; padding: 15px}
.left_sidebar .section .block #distribution img {width: 166px; margin: 0 auto}
.left_sidebar .section .block #distribution img:hover {box-shadow: 0 0 13px #ddd; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px}

.records-list .record-box .date {float: left; margin-right: 15px}
.records-list .record-cell {padding: 6px 4px 1px 12px}
.record-card tbody tr {height: 28px}

#top-banner {text-align: center; vertical-align: middle; width: 100%}
#top-banner img {margin: 0 auto}
div#top-banner {text-align:left}

#tag-cloud {margin: 40px 0}

#best-companies {background: #F99D1C; height: 145px}
#best-companies h1 {text-transform: uppercase; color: white; text-align: center; padding: 5px 0; font-size: 2em; display: block; font-weight: bold; margin: 0}
#best-companies img.brands {margin: 10px 5px 5px 10px; width: 120px; height: 50px}

.separator {height: 3px; background: url(../../storage/siteimg/separator.png) 50% 0 repeat-y}

#copyright {color: #4E4E4E; font-size: 14px; line-height: 1.3}
#copyright a {text-decoration: none}
#copyright a:hover {text-decoration: underline}

.right_sidebar > div {padding-bottom: 25px}
.content_block h3 {color: #8A0202; font-size: 16px; margin-bottom: 10px; display: inline-block; border-bottom: 2px solid #F99D1C}
.content_block h3 span {color: #0070a3}
.content_block .parameters {display: none}
.content_block .parameters p {padding: 5px 0 15px}
.content_block .parameters p > b {color: #0070a3}
div.date, span.date, p.date {color: red}
#events-brief {margin-top: 10px}

#news-brief {margin-left: 10px; margin-bottom: 40px}
.news-cell {}
.news-box {padding: 3px 0}
.news-cell:nth-child(odd) {background-color: #FAF9CF}
.news-text .txt-block a {font-size: 15px}
.record-cell {margin: 5px 0}
.cell-logo {margin: 5px 0 10px; display: block; border: 1px solid #DFDFDF; width: 120px}
#job-in-cities {overflow: hidden}
#job-in-cities ul {list-style: none; overflow: hidden}
#job-in-cities li {padding: 0 0 8px}
#job-in-cities li a span {color: #AAAAAA}
#expand-cities-list {font-style: italic}
#search_results {padding-right: 18px}
.records-list {	margin-top: 20px}

ul.big_list {list-style: circle inside}
ul.big_list li {line-height: 2; font-size: 16px}

.reg_form {display: none; font-size: 14px; margin: 0 auto; width: 50%}
.reg_form input[type=text] {width: 260px}
.reg_form .col1 {width: 170px; padding-top: 3px; padding-right: 7px; margin-right: 5px}
.reg_form .agreement {margin: 20px 0 0}
.reg_form form div.clearer {height: auto; margin-bottom: 7px; overflow: hidden; position: relative}

.paginator {}
.paginator .pages {margin-left: 0}
.paginator .legend b {margin-right: 7px}
.paginator .pages a,
.paginator .pages span {margin-right: 7px}

.txt-w-shadow {text-shadow: 1px 1px 1px #fff}
.txt-b-shadow {text-shadow: 1px 1px 1px #000}
.txt-norm {font-weight: normal !important}

.under-construction {display: none; text-shadow: 1px 1px 1px #fff}
.under-construction img {float: left; width: 130px; height: auto}

#form_adv_website_request {display: none; min-width: 400px; min-height: 300px}
#form_adv_website_request h4 {margin: 0 0 4px; text-shadow: 1px 1px 1px #fff}
#form_adv_website_request input,
#form_adv_website_request textarea {width: 380px; margin-bottom: 10px}
#form_adv_website_request textarea {height: 100px}

#add_vacancy_msg, #add_resume_msg {display: none; width: 300px; min-height: 40px; padding: 10px 16px}
#tag-vacancy-cloud {margin-top: 40px}
.work_history {margin: 0 0 16px}
.work_history .company {list-style: decimal outside none; margin-bottom: 20px; position: relative}
.work_history .company .fl {min-width: 130px; font-style: italic}
#ajax-loader {position: absolute; top: 50%; margin-top:-100px;  left: 50%; margin-left:-100px;  display: none; z-index: 9999}

table.tbl td {vertical-align: top}
/*table.tbl input[type=text],*/
/*table.tbl textarea {width: 300px}*/
input.x-small {width: 40px !important}
input.small {width: 80px !important}
input.medium {width: 140px !important}
input.date {width: 76px !important; float: left; margin-right: 3px; height: 15px}

.web_form textarea {min-width: 200px}
.web_form .tbl {width: 100%; max-width: 860px}

/* Input Fields */
input.plane,
input.plane-b,
select.plane,
select.plane-b,
textarea.plane,
textarea.plane-b {border:1px solid #BB9F55}
input.plane-b {background-color:#8A0202; color: #FFFFFF}
input.plane-y,
select.plane-y,
textarea.plane-y {border-color: #1d4374;  /* height:16px; */}
input.standart {border: 1px solid #9d9d9d; font-size: 12px; background-color: #cfcfcf; color: #4E4E4E}
fieldset {border: 0; padding: 1px 2px}

input.err {border: 1px solid red}

.clearer:after
{display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden}

#adv_searh_form select.plane {background-color: white; height: 30px}
.profile #adv_searh_form select.plane {width: 100%}
/*****/


/*.content_block .row:nth-child(odd),*/
.record-card tr:nth-child(odd) td,
.records-list .record-cell:nth-child(odd),
.profile_list tr:nth-child(even) td,
.tbl tr:nth-child(odd) td.tdL {background-color: #FAF9CF}

div.overlay {box-shadow: 0 0 20px #fff; margin: 0 0 4px}
div.overlay h4 {text-shadow: 1px 1px 0 #fff; margin: 0 0 4px}
#overlay_login_box #strAuthLogin {margin-bottom: 5px; width: 260px; margin-left: 2px; height: 16px}
#overlay_login_box #strAuthPassword {width: 100px; height: 16px}

#overlay_recovery_box #strRecoveryLogin {margin-bottom: 5px; width: 230px; margin-left: 2px; height: 16px}

.profile {padding: 10px 0 0; margin-right: 10px}
.profile .content {padding: 3px 0 0;overflow: hidden}
.profile .left_sidebar {padding: 0; margin-right: 10px; width:20%}
.profile .left_sidebar > div {padding-left: 38px; padding-top: 6px}
.profile .left_sidebar .resumes {background: url(../../storage/siteimg/notedesk.png) 0 0 no-repeat}
.profile .left_sidebar .vacancies {background: url(../../storage/siteimg/earthzoom.png) 0 0 no-repeat}
.profile .left_sidebar .messages {background: url(../../storage/siteimg/envelop.png) 0 0 no-repeat}
.profile .left_sidebar .longlist {background: url(../../storage/siteimg/envelop.png) 0 0 no-repeat}
.profile .left_sidebar .pay_service {background: url(../../storage/siteimg/pay_service.png) 0 0 no-repeat}
.profile .left_sidebar .useful {background: url(../../storage/siteimg/useful.png) 0 0 no-repeat}
.profile .left_sidebar .settings {background: url(../../storage/siteimg/settings.png) 0 0 no-repeat}

.profile .left_sidebar .block li a {color: #333333; font-size: 14px}
.profile .content h4>span {color: #0070a3}
.profile .block ul li {min-height: 16px; padding-bottom: 10px}
.profile table {border: none; border-collapse: collapse}
.profile table td {padding: 5px 15px; vertical-align: top}
.profile table td:first-child {padding-left: 0; font-size: 14px}
.profile table td.section_title {text-decoration: underline; color: #d03e40; padding-top: 20px}
.profile table .plane {border-color: #d03e40; padding: 3px 5px}
.profile .content table {max-width: 1000px; width: 100%}
.profile .content table .col_titles {width: 240px}
.profile .note {font-size: 10px}

#categories_selection {padding:0 30px 25px 0}
#categories_selection ul {list-style: none}
#categories_selection .list_extensible > li {padding: 5px 0}
#categories_selection .sublist {display: none; margin-left: 10px}
#categories_selection .sublist > li {padding: 2px 0}

#detected_region_box {display: none; position: fixed; width: 300px; height: 100px; padding: 20px; margin: 0 auto; background-color: #edeadc; border: 5px solid #d03e40; box-shadow: 2px 2px 3px #333}
#detected_region_box .note {font-size: 10px}
#detected_region_box #city_confirm_yes {font-weight: bold}
#detected_region_box h4 span {color: red}

ul.in_row {list-style-type: none; display: inline}
.in_row li {float: left; padding: 0 5px; font-size: 14px}
.in_row a {color: #575757; text-decoration: none}
.in_row a:hover {color: #0070a3}
#rus_abc, #eng_abc, #num_abc {margin: 3px 0 7px; font-weight: bold}

#regions_box {display: none; width: 200px; height: auto; background: white; position: absolute; top: 15px; right: 0; z-index: 99;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px #373737;
}
#regions_box ul {list-style-type: none; padding: 10px 20px}
#regions_box li {text-align: right}
#regions_box p {margin: 10px 0 0 10px; padding: 0}

.advanced_search_box {padding: 15px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width: 520px}
.advanced_search_box.vacancies {background-color: #FCF9AC}
.advanced_search_box.resumes {background-color: #FCF9AC}
.advanced_search_box input[type=text] {width: 99%; height: 22px; padding: 3px}
.advanced_search_box ul {width: 100%; list-style: none}
.advanced_search_box ul li {width: 210px; display: inline-block}
.advanced_search_box ul.in_row li {width: auto}
.advanced_search_box ul.in_row li > p {padding-top: 9px}
.advanced_search_box ul.n3col li.col_s {width: 127px}
.advanced_search_box .catSelector {width: 99%}
.advanced_search_box .block label {line-height: 1.6}
.advanced_search_box input.plane-b,
.central-block input.plane-b {line-height: 1.8; font-weight: bold; padding: 5px 17px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-shadow: 1px 1px 1px #000; background-color: #F89C1D}
.advanced_search_box input:hover.plane-b,
.central-block input:hover.plane-b {text-shadow: none; background-color: #F88629; cursor: pointer}
.advanced_search_box input[type="checkbox"] {margin-top: 5px}
.advanced_search_box .x-small {width: 24px !important}

#block_nav_top {position: fixed; top: 0; left: 0; width: 100%; height: 60px; background: #F9E5CE; opacity: 0.9; z-index: 999; display: none}
#block_nav_top .wrapper {margin: 5px auto; width: 1200px}
#block_nav_top img.logo {margin-right: 25px; display: inline-block}
#block_nav_top .links_box {margin: 5px; height: 40px}
#block_nav_top .links_box a {color: #333333}
#block_nav_top table {width: 100%}
#block_nav_top table,
#block_nav_top tbody,
#block_nav_top tr,
#block_nav_top td {padding: 0; margin: 0; border-spacing: 0}
#block_nav_top .phone_box {background: url(/storage/siteimg/top/phone_s.gif) 0 0 no-repeat; padding-left: 60px}
#block_nav_top .phone_box h2 {margin-top: 0; font-size: 14px}
#block_nav_top .total-count {font-size: 14px; margin: 0; padding-bottom: 3px}

#training .description {margin: 10px 0; padding-bottom: 30px; border-bottom: 1px solid #a5a5a5}
#training .box_small_text {margin: 0 0 5px}

input.money {text-align: right}
.phone_snap {height: 90%}
.email_snap {}
ul.list_in_columns {margin-top: 20px}
ul.list_in_columns li {padding: 3px 0}
ul.list_in_columns .column.first,
ul.list_in_columns .column.last {margin-left: 0}
li.a_lot_of a {font-weight: bold}
div.par {padding-top: 9px}

/** Информеры **/
.informer .title {font-size: 14px; color: #3374b4}
.weather_block {position: absolute; right: 5px; top: 30px; width: 140px; text-align: left}
.weather_block .image_cell {padding: 0}
.weather_block .image_cell img {width: 30px}
.weather_block td {font-size: 11px}
.weather_block #weather-max {color: red}
.currency_block {position: absolute; right: 10px; top: 90px; width: 140px}
.currency_block td {padding: 0 !important; text-align: right}
.currency_block td a {font-size: 14px; color: #f21e34}
.currency_block caption.title{text-align: right}
.currency_block #currency-date {font-size: 11px; color: #333}
.color-darkgreen {color: #104e00}
.bgcolor-green {background-color: #89eb64}
.bgcolor-blue {background-color: #c2ddf2; color: #3374b4}
.blocks {border:none; border-collapse: collapse}
.blocks caption {text-align: center; padding: 1px 0 0; border: 1px solid #e1e1e1; border-bottom: 0; font-size: 10px}
.blocks td {text-align: center;padding: 5px; border: 1px solid #e1e1e1}
.blocks td img {border: 0}
.img-weather{position: absolute; right:5px; top:5px}
.img-currency{position: absolute; right:95px; top:122px}
/*******/

/** navigator on page create resume  **/
ul.steps-resume {margin: 0 auto; min-width: 995px}
ul.steps-resume li {display: inline; position: relative; font-size: 14px}
ul.steps-resume li a {
    /**a.steps-resume{*/
    width: 110px;
    height: 38px;
    display: inline-block;
    border-top:1px solid #f3f3f3;
    border-left:1px solid #f3f3f3;
    border-bottom:2px solid #c4c4c4;
    border-right:2px solid #c4c4c4;
    background: #d9d9d9;
    background: -moz-linear-gradient(top, #fefefe 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%, #d9d9d9 100%);
    background: -o-linear-gradient(top, #fefefe 0%,  #d9d9d9 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,  #d9d9d9 100%);
    background: linear-gradient(top, #fff 0%,   #d9d9d9 100% );
    padding: 8px 15px 9px 60px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0px #fff;
    line-height: 1.5;
    float: left;
    border-radius: 2px;
    margin: 0 -2px 15px;
    text-align: center;
    position: relative;
}
ul.steps-resume li a:hover,
ul.steps-resume li a.steps-resume-active {
    border-top:1px solid #b60d37;
    border-left:1px solid #b60d37;
    border-bottom:2px solid #8a0202;
    border-right:2px solid #8a0202;
    background: #8a0202;
    background: -moz-linear-gradient(top, #8a0202 0%, #f30202 100%);
    background: -webkit-linear-gradient(top, #8a0202 0%, #f30202 100%);
    background: -o-linear-gradient(top, #8a0202 0%, #f30202 100%);
    background: -ms-linear-gradient(top, #8a0202 0%, #f30202 100%);
    background: linear-gradient(top, #8a0202 0%, #f30202 100%);
    color: #fff;
    text-shadow:none;
}
nav.center-align {text-align: center; padding: 0 0 15px}
.big-letter {font-size: 2.48em; position: absolute; left: 20px; top: 5px}
/** END navigator on page create resume  **/

form.create_form .header-form-create {color:#fe0000; font-weight: bold; margin-top: 15px; color:#333; text-decoration: none}
form.create_form .under-text {padding: 0; line-height: 1; letter-spacing: pre}
form.create_form .table-fixed-col {table-layout: fixed; width: 100%; position:relative}
form.create_form .col1 {width: 30%}
form.create_form .col2 {width: 70%}
form.create_form .width450 {width: 450px}
form.create_form .width100 {width: 100px}
form.create_form .width60 {width: 60px}
form.create_form .width140 {width: 140px}
form.create_form .width200 {width: 200px}
form.create_form .after-star:after {content: "*"; padding: 5px; color:#fe0000}
form.create_form input[type=text] {height: 34px; box-shadow: inset 0px 0px 2px #6d6e71;; margin: 0px 15px 0 0; display: inline-block; color: #333; outline: none; border: 1px solid #333; border-radius: 4px; padding: 0 5px}
form.create_form textarea {font-family: inherit;height: 60px; box-shadow: inset 0px 0px 2px #6d6e71;; margin: 0px 15px 0 0; display: inline-block; color: #333; outline: none; border: 1px solid #333; border-radius: 4px; padding: 7px 5px}
form.create_form select {font-family: inherit;height: 34px; box-shadow: inset 0px 0px 2px #6d6e71;; margin: 0px 15px 0 0; display: inline-block; color: #333; outline: none; border: 1px solid #333; border-radius: 4px; padding: 7px 5px}
form.create_form table {border: none; border-collapse: collapse}
form.create_form table td {padding: 10px 10px 10px 0px; vertical-align: top; position: relative}
form.create_form table td table td {padding: 0}
form.create_form p {line-height: 2; margin: 0}
form.create_form button {font: 0.88em Tahoma, sans-serif; font-weight: bold; letter-spacing: 1px; outline: none; color: #ffffff}
form.create_form button:hover {cursor: pointer}
form.create_form button.create-vacancy, .blue-button {
    width: 210px;
    height: 44px;
    border-radius: 8px;
    border-top:1px solid #b60d37;
    border-left:1px solid #b60d37;
    border-bottom:2px solid #8a0202;
    border-right:2px solid #8a0202;
    background: #8a0202;
    background: -moz-linear-gradient(top, #8a0202 0%, #f30202 100%);
    background: -webkit-linear-gradient(top, #8a0202 0%, #f30202 100%);
    background: -o-linear-gradient(top, #8a0202 0%, #f30202 100%);
    background: -ms-linear-gradient(top, #8a0202 0%, #f30202 100%);
    background: linear-gradient(top, #8a0202 0%, #f30202 100%);
    box-shadow: inset 1px 1px 2px #fff;
    display: inline-block;
}
form.create_form button.create-vacancy:hover, .blue-button:hover{
    background: #8a0202;
    background: -moz-linear-gradient(bottom, #8a0202 0%, #f30202 100%);
    background: -webkit-linear-gradient(bottom, #8a0202 0%, #f30202 100%);
    background: -o-linear-gradient(bottom, #8a0202 0%, #f30202 100%);
    background: -ms-linear-gradient(bottom, #8a0202 0%, #f30202 100%);
    background: linear-gradient(bottom, #8a0202 0%, #f30202 100%);
}
form.create_form #but-file {position: absolute; left:348px; top:272px; width: 110px; opacity: 0; filter: alpha(opacity=0)}
form.create_form .active-block {display: block}
form.create_form .padding-left-15 {padding-left: 15px}
form.create_form .center-align {text-align: center}
form.create_form .border-bottom1 {border-bottom: 1px solid #6d6e71}
form.create_form .margin5-0 {margin: 5px 0}
#img-photo{float:left;margin-right: 20px}
form.create_form .font-small {font-size: 0.88em; display: inline-block}
form.create_form .color-gray {color:#6d6e71}

#box_footer_links {margin: 50px 0; border-top: 2px solid #8a0202; border-bottom: 2px solid #8a0202; overflow: hidden; padding: 10px 0 0 80px}
#box_footer_links .in_row {width: 80%}
#box_footer_links .in_row li {width: 29%; padding: 0 20px}

#box_magazines {margin-bottom: 60px}

.block_rubrics {background-color: #fcf8ab; padding: 10px; margin: 10px 0; overflow: hidden}
#box_categories {min-height: 80px}
#box_subcategories {background-color: #d7f9fc}
#box_categories a.main {color: #8A0202}
#box_categories a.active {color: #8A0202; font-weight: bold}
#box_subcategories a.active {color: #1b508a; font-weight: bold}

.block-note {padding: 10px; border: 1px solid #8A0202; background-color: #FCF9AC; margin-bottom: 10px}
.profile .content .row {background-color: #FCF9AC}
.profile .content .row:nth-child(odd) {background-color: #FFFFFF}
.profile .content .row p.title {color: #808080}
.edit_template {width: 600px; min-height: 300px}
.edit_template textarea.plane {min-height: 220px; width:98%; overflow-y:auto; word-wrap:break-word}

table.profile_list td {font-size: 14px}
table.profile_list td > span {color: #8A0202}
table.profile_list td > span.title {text-transform: uppercase}
table.profile_list td > span.date_pub {font-size: 13px}
table.profile_list td > a {font-size: 10px; color: black}
table.profile_list a.title {color: #8A0202; text-transform: uppercase; font-size: 14px}
table.profile_list .col-title {width: 300px}
table.profile_list .col-date {width: 120px}
table.profile_list td.star {text-align: center}

table.favorite_vacancies_list {font-size: 14px; max-width: 1000px !important; width: 100%}

ul.profile_menu {}
ul.profile_menu li {padding: 7px 0}
ul.profile_menu a {padding: 7px 0; background-color: #8A0202; background-repeat: no-repeat; color: white; display: block; width: 100%; text-indent: 38px; font-size: 14px}
ul.profile_menu #item1 {padding-top: 0}
ul.profile_menu #item1 a {background-image: url(/storage/siteimg/envelop2.png); background-position: 10px 7px}
ul.profile_menu #item2 a {background-image: url(/storage/siteimg/star.png); background-position: 9px 7px}
ul.profile_menu #item3 a {background-image: url(/storage/siteimg/finger_down.png); background-position: 5px 7px}

div.box-seo-text {padding: 20px 5px; color: #DFDFDF}

.profile .content_jur {
    padding: 3px 0 0;
    float: right;
    display: inline-block;
    width: 79%;
}
.profile .content_jur .yellow_box {
    width: 95%;
    min-height: 100px;
    background-color: #fcf8cb;
    margin-bottom: 20px;
    padding: 10px 0;
    min-width: 530px;
    position: relative;
}
.profile .content_jur .yellow_box .title{
    font-weight: bold;
    margin: 20px 0px 0 20px;
}
.profile .content_jur .yellow_box select{
    margin: 10px 20px;
    height: 24px;
}

.profile .content_jur .red-border{
    border: 1px solid #8A0202;
}
.profile .content_jur .yellow_box input{
    margin: 10px 20px;
    height: 16px;
    padding: 3px 7px;
}
.profile .content_jur .yellow_box input[type='checkbox']{
    margin: 10px 20px;
    height: 17px;
    width: 17px;
    outline: none;
    padding: 0;
    background-color: #fff;
    border-spacing: 0;
}
.profile .content_jur .width50 {width: 50px}
.profile .content_jur .width70 {width: 70px}
.profile .content_jur .width100 {width: 100px}
.profile .content_jur .width130 {width: 130px}
.profile .content_jur .width150 {width: 150px}

.profile .content_jur .width320 {width: 320px}
.profile .content_jur .width515 {width: 515px}

.profile .content_jur input.width695 {width: 695px}
.profile .content_jur select.width710 {width: 710px}

.profile .content_jur input.width90-proc {width: 90%}
.profile .content_jur .top10 {margin-top: 10px}
.profile .content_jur .left20 {margin-left: 20px}
.profile .content_jur .bottom30 {margin-bottom: 30px}
.profile .content_jur #btnResumeSearch{
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.profile .content_jur .disp-inline{
    display: inline;
    float: left;
}
.profile .content_jur #insertCompID{padding-left:370px}
.clr{
    clear: both;
 }
.profile .content_jur .padding20{
    padding: 20px;
}
.profile .content_jur .min-height50{
    min-height: 50px;
}
.profile .content_jur .inform{
    line-height: 2;
}

.profile .content_jur table {max-width: 100%;}
.profile .content_jur table td {width: auto; }
.profile .content_jur table.tbl-yellow-white {margin-top: 10px;font-size: 12px; max-width: 1000px !important; width: 100%; font-weight:normal; table-layout: auto}
.profile .content_jur table.tbl-yellow-white th{font-weight: bold; font-size: 12px; padding: 5px; text-align: center; background-color: #fff; border-bottom: 1px solid  #fcf8cb}
.profile .content_jur table.tbl-yellow-white td{padding: 5px; text-align: center; }
.profile .content_jur table.tbl-yellow-white a span.title {color: #8A0202; text-transform: uppercase; font-size: 12px; font-weight: bold}
.profile .content_jur table.tbl-yellow-white a{color: #000; font-size: 11px;}
.profile .content_jur table.tbl-yellow-white a.block{display: inline-block; margin: 0 20px 0 0}
.profile .content_jur table.tbl-yellow-white tr:nth-child(odd){
    background-color: #fcf8cb;
}
.profile .content_jur table.tbl-yellow-white span.color-green{
    color: #00b700;
}
.profile .content_jur table.tbl-yellow-white span.color-darkred{
    color: #8A0202
}
.profile .content_jur table.tbl-yellow-white tr:nth-child(even){
    background-color: #FFF;
}
.profile .content_jur table.tbl-yellow-white p.smallgray{
    color: #ababab;
    line-height: normal;
    padding: 0;
}
.profile .content_jur table.tbl-yellow-white span.bg-darkred{
    padding: 3px 10px;
    background-color: #8A0202;
    color:#fff;
}
.profile .content_jur table.tbl-yellow-white td.aln-left{
    text-align: left;
}


.profile .content_jur table.tbl-flex{
    table-layout: auto;
}
.profile .content_jur table.tbl-flex td{
    display: inline-flex;
}
.profile .content_jur span.color-red{
    color: #fe0000;
}


.profile .content_jur h2{margin: 20px 0;color: #8A0202; font-size: 14px;}
.profile .content_jur .block_informer, .profile .content_jur .block_left{
    width: 63%;
    margin: 0 2% 0 0;
    float: left;
    position: relative;
}
.profile .content_jur .block_left{padding: 5px 15px}

.profile .content_jur .block_informer #insert_compID{
    position: absolute;
    left:377px;
    top:207px
}
.profile .content_jur .block-informer-pic, .profile .content_jur .block_right{
    width: 31%;
    text-align: center;
    padding: 0 2%;
    float: right;
    position: relative;
}
.profile .content_jur .block_right{
    text-align: left;
    padding: 0;
    vertical-align: middle;
}

.profile .content_jur .block-informer-pic p{
    text-align: center;
}
.profile .content_jur .block-informer-pic h2{
    margin: 10px 0 20px ;color: #8A0202; font-size: 14px;
    text-align: center;
}
.profile .content_jur .block_informer table, .profile .content_jur .block_left table{
    width: 100%;
    position: relative;

}
.profile .content_jur .block_informer table td, .profile .content_jur .block_left table td{
    padding:5px 20px 0 30px;
    text-align: left;
}
.profile .content_jur .block_informer table select, .profile .content_jur .block_left table select, .profile .content_jur .block_left table input{
   margin: 10px 0 0 0;
}
.profile .content_jur .block_informer table td:nth-child(odd), .profile .content_jur .block_left table td:nth-child(odd){
    padding:20px 0 0 20px;
}
.profile .content_jur input[type='button'], .profile .content_jur input[type='submit']{
    height: 30px;
    padding: 5px 15px;
    width: 170px;
    background-color: #8A0202;
    color: #fff;
    border: none;
    font-size: 0.98em;
    font-weight: bold;
    cursor: hand;
    margin: 10px 0 0 0;
}
.profile .content_jur input[type='button']:hover,  .profile .content_jur input[type='submit']:hover{
    background-color: #610202;
}
.profile .content_jur .radio-btn{
    width: 16px;
    height: 16px;
    border-radius: 21px;
    border:1px solid #8A0202;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    margin: -4px 5px -4px 15px;
}
.profile .content_jur .radio-btn-active{
    width: 8px;
    height: 8px;
    border-radius: 20px;
    border:1px solid #8A0202;
    background-color:  #8A0202;
    position: absolute;
    left: 3px;
    top: 3px;
}
.profile .content_jur .radio-btn span{
    margin: 5px 5px 0 0px;
}

.profile .content_jur .img-ico{
    margin: 0 10px 0 0;
    float: left;
    position: relative;
}

.profile .content_jur .small-gray{
    font-size: 0.88em;
    color: #acaea8;
}
table.vacancies_list {margin-top: 10px;font-size: 12px; max-width: 1000px !important; width: 100%; font-weight:normal}
table.vacancies_list th {font-weight: bold; font-size: 12px; padding: 5px; text-align: center}
table.vacancies_list td {padding: 5px; text-align: center}
table.vacancies_list a span.title {color: #8A0202; text-transform: uppercase; font-size: 12px; font-weight: bold}
table.vacancies_list a {color: #000; font-size: 11px}
table.vacancies_list tr:nth-child(odd) {background-color: #fcf8cb}
table.vacancies_list span.color-green {color: #00b700}
table.vacancies_list span.color-darkred {color: #8A0202}
table.vacancies_list tr:nth-child(even) {background-color: #FFF}
table.vacancies_list p.smallgray {color: #ababab; line-height: normal; padding: 0}
span.color-red {color: #fe0000}
.content h2 {color: #8A0202; font-size: 14px}
.content .width60 {width: 60%}
.block-informer-pic {width: 36%; text-align: center; padding: 0 2%}

#unsubscribe {width: 462px; min-height: 90px; margin: 20px auto 0; background-image: url("/storage/siteimg/Email2.png"); background-position: 93% 100%; background-repeat: no-repeat}
#unsubscribe .input {margin: 5px 0}
#unsubscribe .input #email {width: 310px}
.unsubscribe_msg {width: 400px; min-height: 20px; margin: 10px auto; padding: 10px 20px; border: 1px solid #8A0202}
.unsubscribe_msg.err {border-color: #e30e27}
.unsubscribe_msg.success {border-color: #388355}

form input#strEmail.plane {width: 377px; height: 30px; margin: 9px 2px; border-radius: 5px;	padding: 0 4px;}
.right-top-block-link { position: absolute; right: 26px; top: 3px; text-align: right; }
.right-top-block-link a { font-size: 16px; }

#logo-cell {width: 200px}
#logo-cell .authorized-box {padding: 0 10px 0 0}
#logo-cell img.company-logo {margin:0 auto 30px; display: block}
.info-table {width: 100%}
.info-table td {vertical-align: top}
#content-cell {font-size: 14px; position: relative}
#content-cell h1 {border: 0}
#content-cell h1 a {color: #8A0202; font-size: 24px; font-weight: normal}
#content-cell .list {font-size: 15px}
#content-cell .list .first {width: 310px}
#content-cell .list td {padding: 4px 0}
#content-cell .list .salary-cell {font-size: 17px; color: black}
#content-cell .small-title {color: #8A0202; border-bottom: 1px solid #8A0202; margin: 26px 0 10px; padding: 0 0 5px; font-size: 15px}
#content-cell #contact-info {position: relative; min-height: 180px; display: none}
#content-cell #contact-info div.note {position: absolute; top: 30px; left: 640px; width: 200px; text-align: center; line-height: 1.4; padding: 3px 10px; background-color: #8A0202; color: white; font-size: 12px}
#content-cell #contact-info div.note span {background-color: white; color: #8A0202; padding: 3px; float: left; position: relative; left: 50%; margin-left: -70px; font-size: 13px}
#content-cell #contact-info div.note span:before {border-style: solid; border-width: 24px 11px 0 0; content: ""; margin-top: -12px; position: absolute; left: -11px; top: 50%; border-color: transparent white transparent transparent}
#content-cell #contact-info div.note span:after {border-style: solid; border-width: 24px 11px 0 0; content: ""; margin-top: -13px; position: absolute; right: -11px; top: 50%; border-color: white transparent transparent transparent}
#content-cell .box-contacts-btn {position: absolute; top: 16px; left: 640px; width: 240px}
#content-cell .box-contacts-btn button {background-color: #8A0202; color: white; padding: 8px 12px; border: 0; cursor: pointer; width: 220px}
#content-cell .box-contacts-btn button.inactive {background-color: #aeaeae}
#content-cell .description {line-height: 1.4}
