body {font-family:Arial,Tahoma,Verdana; font-size:13px; background: #efefef url(../../storage/siteimg/content/newspaper-bg.jpg) 0 0 repeat; padding-bottom: 20px}
body>div {width: 1000px; margin: 0 auto}
form, ul, li {margin: 0}
p {margin: 1px 0; text-align: justify; padding-bottom: 7px}
ul {list-style: none}
ul.discs {list-style-type: disc; list-style-position: inside}
a>img {border: 0}
input[type=text], textarea {width: 80%}

#page_wrapper {background-color: #ffffff; padding-bottom: 20px; border-bottom: 1px solid #e4e4e4}
#content_footer {background: url(../../storage/siteimg/setka.gif) 0 0 repeat; height: 122px}
#content_footer>div {padding: 20px}

.content_block {
	width:expression(
    	document.body.clientWidth < 780 ? "420" : (document.body.clientWidth-360)
  	);
  	min-width: 420px;
}
.finger {cursor: pointer}
.block {margin: 0 0 15px}
.half {width: 50%; display: inline-block; float: left}
.fl {float: left}
.fr {float: right}
.tr {text-align: right}
.inl {display: inline-block; margin-right: 3px}
.flow:before, .flow:after,
.flow {-moz-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s}

.wrapper_block {margin: 0 0 50px}
.block_a {margin: 20px 0}
.ac {text-align: center}
.box {padding: 15px}
.required {color: red}

/***/
.content_columns {position: relative; min-height: 400px; margin-top: 10px}
.content_columns>div {position: absolute; top: 10px}
.content_columns .left_sidebar {width: 220px; float: left; padding-bottom: 40px; top:0}
.content_columns .content_block {padding-left: 230px; padding-bottom: 40px; position: relative; min-height: 700px}
.col-3 .content_columns .content_block {width: 60%; min-width: 400px; margin-bottom: 30px}
.col-2r .content_columns .content_block {padding-left: 20px; width: 900px}
.content_columns .right_sidebar {width: 230px; right: 10px}
.content_columns .column {width: 340px}
.content_columns .column.first {margin-left: 30px}
.content_columns .column.last {margin-left: 10px}
.content_columns .column h1, h1.title {color: #8A0202; font-size: 18px; margin-bottom: 10px; display: inline-block; border-bottom: 2px solid #F99D1C}
.content_columns .row {padding: 5px 10px; margin: 0;}
.content_columns .column .row a {font-size: 14px; text-decoration: underline}
.content_columns .row span {color: #696969; margin-left: 30px}
.content_columns .row .col1 {min-width: 200px; width: 25%}
.content_columns .row .col2 {}
.content_columns .row .cell {float: left; overflow: hidden; padding-bottom: 10px;}
.content_columns .row .cell.col1 {width: 75%}
.content_columns .row .cell.clearer {float: right;}
#sidebar-articles .row {padding-left: 0}
.list .row {float: left; width: 97%}
#sidebar-articles .block a,
#news-brief .block a {color: #575757}


.salary {color: #D71A20 !important}

.record-card {min-width: 400px; width: 98%}
.record-card .first {width: 36%; min-width: 270px}
.record-card td {vertical-align: top; padding-top: 5px; padding-left: 8px}
.record-card td:first-child {font-weight: bold}
.record-card.company-info {margin-bottom: 30px}
.record-card.company-info .first {width: 20%; min-width: 100px}
h4.company-info {margin-bottom: 7px}
h4.title {margin: 17px 0 7px; font-size: 15px}

/* Links */
a {text-decoration:none; color:#0063c9} /* 3e8ad5 3c6699 */
a:hover {text-decoration:underline}
a.link_grey {color:#4E4E4E}
.light_grey {color:#a3a3a3}
/*****/

/* Text */
.err {color:#e30e27}
.success {color: #3CB371}
h1,h2,h3,h4,ul,li {margin:0; padding: 0}
/*****/

h1.logo {padding-left: 18px; padding-top: 10px}
h1.logo a {display: block; width: 194px; height: 77px; background: url(../../storage/siteimg/logo.png) 0 0 no-repeat; text-indent: -9999px}

.top_navigation {height: 295px; position: relative}
.top_navigation .top_links {width: 440px; height: 30px}
.top_navigation .top_links #items {overflow: hidden; width: 100%; list-style-type: none}
.top_navigation .top_links #items li {float: left; margin: 0 1px 0 10px}
.top_navigation .top_links #items li a {color: #8A0202; padding: 9px 12px; position: relative; float: left; font-size: 14px}
.top_navigation .top_links #items li a:hover {background:#8A0202; color:white}
.top_navigation .top_links #items li a::before {border-width:36px 11px 0 0; border-color: transparent white transparent transparent; border-style: solid; content: ""; position: absolute; left: -11px; margin-top: -18px; top: 50%}
.top_navigation .top_links #items li a:hover::before {border-color: transparent #8A0202 transparent transparent}
.top_navigation .top_links #items li a::after {border-width:36px 11px 0 0; border-color: white transparent transparent transparent; border-style: solid; content: ""; position: absolute; right: -11px; margin-top: -18px; top: 50%}
.top_navigation .top_links #items li a:hover::after {border-color: #8A0202 transparent transparent transparent}

.top_navigation .top_actions {left: 270px; position: absolute; top: 32px; width: 702px;}
.top_navigation .top_actions .adv_pass {list-style: none outside; margin-right: 60px}
.top_navigation .top_actions .adv_pass li {line-height: 1.8; font-size: 12pt}
.top_navigation .top_actions .adv_pass li a {text-decoration: none; border-bottom: 1px solid}
.top_navigation .top_actions .adv_pass li a:hover,
.top_navigation .top_actions .adv_pass li a:hover span {border-bottom-style: dashed}
.top_navigation .top_actions .adv_pass li span {color: #DB3838; border-bottom: 1px solid}

.phone_box {background: url(../../storage/siteimg/top/phone.gif) 0 8px no-repeat transparent; padding-left: 90px; padding-bottom: 7px}
.phone_box h2 {margin: 10px 0 0; color: #db3838}

.top_navigation .top_actions .region_set {padding: 22px 0 0}
.top_navigation .top_actions .region_set a {text-decoration: underline}
.total-count {text-align: right; font-size: 16px; color: #8A0202; margin-top: 7px}
.total-count span {color: #F65D20; text-shadow: 1px 1px 1px #afafaf; font-family: cursive}
.total-count.first {margin-top: 16px}

.phone_number_block {font-size: 13px; text-align: right; width: 210px; color: #363636}
.phone_number_block span {color: #669933; font-size: 18px; position: relative; top: 2px}
.phone_number_block span span {color: #F65D20; top: 0}

.top_navigation .search_box {position: relative; top: 25px; height: 152px}
.top_navigation .search_box .links {background: none repeat scroll 0 0 #8A0202; height: 122px; margin-top: 30px; width: 100px}
.top_navigation .search_box .links:after {border-color: #8A0202 white transparent transparent; border-style: solid solid none none; border-width: 122px 50px 0 0; content: ""; height: 0; left: 100px; position: absolute; width: 0}
.top_navigation .search_box .links ul {position: absolute; z-index: 99}
.top_navigation .search_box .links li {line-height: 39px; padding-left: 10px}
.top_navigation .search_box .links li a {color: white; font-size: 18px}
.top_navigation .search_box input {font-family: monospace; margin-top: 1px}
.top_navigation .search_box .bar {margin-left: 100px}
.top_navigation .search_box .bar .tabs {height: 30px}
.top_navigation .search_box .bar .tabs ul {margin-left: 40px}
.top_navigation .search_box .bar .tabs li {background-image: url("../../storage/siteimg/shadow.png"); background-position: 99% 100%; background-repeat: no-repeat; display: inline-block; height: 30px; margin: 0 0.5em}
.top_navigation .search_box .bar .tabs li a:before {border-style: solid; border-width: 30px 11px 0 0; content: ""; left: -11px; margin-top: -15px; position: absolute; top: 50%}
.top_navigation .search_box .bar .tabs li a:after {border-style: solid; border-width: 30px 11px 0 0; content: ""; margin-top: -15px; position: absolute; right: -11px; top: 50%}
.top_navigation .search_box .bar .tabs li a {float: left; font-size: 15px; padding: 0.4em 0.5em; position: relative; text-align: center; color: #4E4E4E}
.top_navigation .search_box .bar .tabs li a:hover {color: #000000}
.top_navigation .search_box .bar .tabs li.color1 a:before {border-color: transparent #FFDD00 transparent transparent}
.top_navigation .search_box .bar .tabs li.color2 a:before {border-color: transparent #F89C1D transparent transparent}
.top_navigation .search_box .bar .tabs li.color3 a:before {border-color: transparent #D71A20 transparent transparent}
.top_navigation .search_box .bar .tabs li.color4 a:before {border-color: transparent #8A0202 transparent transparent}
.top_navigation .search_box .bar .tabs li.color1 a:after {border-color: #FFDD00 transparent transparent}
.top_navigation .search_box .bar .tabs li.color2 a:after {border-color: #F89C1D transparent transparent}
.top_navigation .search_box .bar .tabs li.color3 a:after {border-color: #D71A20 transparent transparent}
.top_navigation .search_box .bar .tabs li.color4 a:after {border-color: #8A0202 transparent transparent}
.top_navigation .search_box .bar .tabs #tab3 a,
.top_navigation .search_box .bar .tabs #tab4 a {color: #DDDDDD}
.top_navigation .search_box .bar .tabs #tab3 a:hover,
.top_navigation .search_box .bar .tabs #tab4 a:hover {color: #FFFFFF}
.top_navigation .search_box .bar #search_field {height: 122px; width: 800px; color: #4E4E4E}
.top_navigation .search_box .bar #search_field:before {border-style: none none solid solid; border-width: 0 0 122px 50px; content: ""; margin-left: -50px; position: absolute}
.top_navigation .search_box .bar #search_field>span {font-size: 11px; color: black}
.top_navigation .search_box .bar #search_field .example {font-size: 11px}
.top_navigation .search_box .bar #search_field .example span {color: #000}
.top_navigation .search_box .bar #search_field.color3 .example span,
.top_navigation .search_box .bar #search_field.color4 .example span {color: #FFFFFF}
.top_navigation .search_box .bar .color1#search_field:before {border-color: transparent transparent #FFDD00 white}
.top_navigation .search_box .bar .color2#search_field:before {border-color: transparent transparent #F89C1D white}
.top_navigation .search_box .bar .color3#search_field:before {border-color: transparent transparent #D71A20 white}
.top_navigation .search_box .bar .color4#search_field:before {border-color: transparent transparent #8A0202 white}
.top_navigation .search_box .bar .color3#search_field,
.top_navigation .search_box .bar .color4#search_field {color: #DDDDDD}
.top_navigation .search_box .bar #search_field>div {padding: 9px 5px}
.top_navigation .search_box .bar .color1 {background: #FFDD00}
.top_navigation .search_box .bar .color2 {background: #F89C1D}
.top_navigation .search_box .bar .color3 {background: #D71A20}
.top_navigation .search_box .bar .color4 {background: #8A0202}
.top_navigation .search_box .bar .color3 a,
.top_navigation .search_box .bar .color4 a {color: #EEEEEE}
.top_navigation .search_box .bar .query {margin: 10px 0 0}
.top_navigation .search_box .bar .query .plane {font-size: 14px}
.top_navigation .search_box .bar .query input[type="submit"] {font-size: 14px; font-weight: bold; height: 21px; line-height: 1; margin: 0 10px; border-color: #F89C1D}
.top_navigation .search_box .bar .query input[type="submit"]:hover {border-color: #D71A20; cursor: pointer}
.top_navigation .search_box .bar .precision {margin: 10px 0}
.top_navigation .search_box .bar .precision>span {display: inline-block; font-size: 13px; padding-right: 10px}
.top_navigation .search_box .bar .precision li {display: inline-block}
.top_navigation .search_box .bar .precision li:after {content: "/"; margin: 0 10px; position: relative; top: 1px}
.top_navigation .search_box .bar .precision li.last:after {display: none}
.top_navigation .search_box .bar a {color: #4E4E4E}

.top_navigation .search_box .bar .search_where {margin: 10px 0 0}
.top_navigation .search_box .bar .search_where ul {}
.top_navigation .search_box .bar .search_where li {display: inline-block; min-width: 60px}
.top_navigation .search_box .bar .search_where li {display: inline-block; min-width: 60px}
.top_navigation .search_box .bar #search_city {height: 15px}
.top_navigation .search_box .bar #search_salary {width: 60px; height: 15px}
.search_where li span {top: 1px; position: relative;}

.section {height: 305px; left: 10px; position: relative; width: 200px; margin-bottom: 20px}
.section #week_magazines {border: 1px solid #DFDFDF; height: 272px; position: absolute; top: 41px; width: 198px; background: #F0F0F0}
.section #week_magazines.brd_tu {border-radius: 0 15px 15px 15px; -webkit-border-radius: 0 15px 15px 15px; -moz-border-radius: 0 15px 15px 15px}
.section #week_magazines.brd_we {border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px}
.section #week_magazines.brd_th {border-radius: 15px 0 15px 15px; -webkit-border-radius: 15px 0 15px 15px; -moz-border-radius: 15px 0 15px 15px}
.section #look_of_magazine {margin: 10px}
.section #look_of_magazine img {-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; box-shadow: 1px 1px 2px grey; width: 177px}
.section #look_of_magazine .butExpand {
	box-shadow: 2px 2px 4px;
	background: -moz-linear-gradient(top, #807777, #3e2c2c);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#807777), color-stop(100%,#3e2c2c));
	background: -webkit-linear-gradient(top, #807777, #3e2c2c);
	background: -o-linear-gradient(top, #807777, #3e2c2c);
	background: -ms-linear-gradient(top, #807777, #3e2c2c);
	background: linear-gradient(top, #807777, #3e2c2c);
	border: 1px solid #807777;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	cursor: pointer; height: 35px; left: 42px; opacity: 0.85; position: absolute; top: 115px; width: 103px;}
.section #look_of_magazine .butExpand:hover {box-shadow: 2px 2px 2px; opacity:1;
	background: -moz-linear-gradient(bottom, #807777, #3e2c2c);
	background: -webkit-linear-gradient(bottom, #807777, #3e2c2c);
	background: -o-linear-gradient(bottom, #807777, #3e2c2c);
	background: -ms-linear-gradient(bottom, #807777, #3e2c2c);
	background: linear-gradient(bottom, #807777, #3e2c2c);
}
.section #look_of_magazine .butExpand span {color: white; font-size: 14px; font-weight: bold; text-shadow: 0 1px 0 black; position: relative; top: -1px}
.section .tabs {height: 40px; position: absolute; top: 0; width: 200px}
.section .tabs .current {background: #F0F0F0; border-color: #DFDFDF #DFDFDF #F0F0F0; border-image: none; border-radius: 15px 15px 0 0; border-style: solid; border-width: 1px; color: #8A0202;}
.section .tabs a {width: 66px; font-size: 18px; font-weight: bold; background: none; border: medium none; color: #F99D18; display: block; float: left; height: 30px; padding-top: 10px; text-align: center; text-decoration: none}

.left_sidebar .section .block {
	border: 1px solid #F99D1C;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
}
.left_sidebar .section .block .title {
	background: #F99D1C;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-align: center;
	font-size: 17px;
	color: white;
	margin-right: -1px;
	margin-left: -1px;
	margin-top: -1px;
	padding: 3px 10px;
	border: 1px solid #F99D1C;
	text-transform: uppercase;
	font-weight: bold;
}
.left_sidebar .section .block #distribution {display: block; padding: 15px}
.left_sidebar .section .block #distribution img {width: 166px; margin: 0 auto}
.left_sidebar .section .block #distribution img:hover {box-shadow: 0 0 13px #ddd; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px}


.records-list .record-box .date {float: left; margin-right: 15px}
.record-card tbody tr {height: 28px}

#top-banner {text-align: center; vertical-align: middle; width: 100%}
#top-banner img {margin: 0 auto}

#tag-cloud {margin: 40px 0}

#best-companies {background: #F99D1C; height: 145px}
#best-companies h1 {text-transform: uppercase; color: white; text-align: center; padding: 5px 0}
#best-companies img.brands {margin: 10px 5px 5px 10px; width: 120px; height: 50px}

.separator {height: 3px; background: url(../../storage/siteimg/separator.png) 50% 0 repeat-y}

#copyright {color: #4E4E4E; font-size: 11px; line-height: 1.3}
#copyright a {text-decoration: none}
#copyright a:hover {text-decoration: underline}

.right_sidebar > div {padding-bottom: 25px}
.right_sidebar > div h3,
.content_block h3 {color: #8A0202; font-size: 16px; margin-bottom: 10px; display: inline-block; border-bottom: 2px solid #F99D1C}
.content_block h3 span {color: #0070a3}
div.date, span.date, p.date {color: red}

#news-brief .novelty {margin-bottom: 7px}
#news-brief .novelty a {}
.news-cell {margin: 8px 0 4px}
.record-cell {margin: 5px 0}
.cell-logo {margin: 5px 0 10px; display: block; border: 1px solid #DFDFDF; width: 120px}
#job-in-cities ul {list-style: none}
#job-in-cities li {	padding: 0 0 8px}
#search_results {padding-right: 18px}
.records-list {	margin-top: 20px}

ul.big_list {list-style: circle inside}
ul.big_list li {line-height: 2; font-size: 16px}

.reg_form {display: none; font-size: 14px}
.reg_form input[type=text] {width: 260px}
.reg_form .col1 {width: 170px; padding-top: 3px; padding-right: 7px; margin-right: 5px}
.reg_form .agreement {margin: 20px 0 0}
.reg_form form div.clearer {margin-bottom: 3px}

.paginator {}
.paginator .pages {margin-left: 0}
.paginator .legend b {margin-right: 7px}
.paginator .pages a,
.paginator .pages span {margin-right: 7px}

.txt-w-shadow {text-shadow: 1px 1px 1px #fff}
.txt-b-shadow {text-shadow: 1px 1px 1px #000}
.txt-norm {font-weight: normal !important}

.under-construction {display: none; text-shadow: 1px 1px 1px #fff}
.under-construction img {float: left; width: 130px; height: auto}

#form_adv_website_request {display: none; min-width: 400px; min-height: 300px}
#form_adv_website_request h4 {margin: 0 0 4px; text-shadow: 1px 1px 1px #fff}
#form_adv_website_request input,
#form_adv_website_request textarea {width: 380px; margin-bottom: 10px}
#form_adv_website_request textarea {height: 100px}

#add_vacancy_msg, #add_resume_msg {display: none; width: 300px; min-height: 40px; padding: 10px 16px}
#tag-vacancy-cloud {margin-top: 40px}
.work_history {margin: 0 0 16px}
.work_history .company {list-style: decimal outside none; margin-bottom: 20px; position: relative}
.work_history .company .fl {min-width: 130px; font-style: italic}
#ajax-loader {position: absolute; top: 50%; margin-top:-100px;  left: 50%; margin-left:-100px;  display: none; z-index: 9999}

.redstar {color: red}

table.tbl td {vertical-align: top}
/*table.tbl input[type=text],*/
/*table.tbl textarea {width: 300px}*/
input.small {width: 80px !important;}
input.medium {width: 140px !important;}
input.date {width: 76px !important; float: left; margin-right: 3px; height: 15px}

.web_form textarea {min-width: 200px}
.web_form .tbl {width: 100%; max-width: 860px}

/* Input Fields */
input.plane,
input.plane-b,
select.plane,
select.plane-b,
textarea.plane,
textarea.plane-b {font-size: 12px; border:1px solid #BB9F55}
input.plane-b {background-color:#8A0202; color: #FFFFFF}
input.plane-y,
select.plane-y,
textarea.plane-y {border-color: #1d4374;  /* height:16px; */}
input.standart {border: 1px solid #9d9d9d; font-size: 12px; background-color: #cfcfcf; color: #4E4E4E}
fieldset {border: 0; padding: 1px 2px}

input.err {border: 1px solid red}

.clearer:after
{display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden}
/*****/


.content_block .row:nth-child(odd),
.record-card tr:nth-child(odd) td,
.tbl tr:nth-child(odd) td.tdL {background-color: #faf9cf }

#overlay_box h4 {text-shadow: 1px 1px 0 #fff; margin: 0 0 4px}
#overlay_box #strAuthLogin {margin-bottom: 5px; width: 230px; margin-left: 2px; height: 16px}
#overlay_box #strAuthPassword {width: 100px; height: 16px}

.profile .left_sidebar {padding: 0; margin-right: 10px}
.profile .left_sidebar > div {padding-left: 38px; padding-top: 6px}
.profile .left_sidebar .resumes {background: url(../../storage/siteimg/notedesk.png) 0 0 no-repeat}
.profile .left_sidebar .vacancies {background: url(../../storage/siteimg/earthzoom.png) 0 0 no-repeat}
.profile .left_sidebar .messages {background: url(../../storage/siteimg/envelop.png) 0 0 no-repeat}
.profile .content h4>span {color: #0070a3}

#categories_selection {padding:0 30px 25px 0}
#categories_selection ul {list-style: none}
#categories_selection .list_extensible > li {padding: 5px 0}
#categories_selection .sublist {display: none; margin-left: 10px}
#categories_selection .sublist > li {padding: 2px 0}

.seo_text {margin: 0 0 20px}
.seo_text h4 {text-align: center; margin: 20px 0 5px}

.alphabetic_list {list-style-type: none; display: inline}
.alphabetic_list li {float: left; padding: 0 5px; font-size: 14px; font-weight: bold}
.alphabetic_list a {color: #575757; text-decoration: none}
.alphabetic_list a:hover {color: #0070a3}
#rus_abc, #eng_abc, #num_abc {margin: 3px 0 7px}

#regions_box {display: none; width: 200px; height: 80px; background: white; position: absolute; top: 45px; right: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px #373737;
}
#regions_box ul {list-style-type: none; padding: 10px 20px}
#regions_box li {text-align: right}

.advanced_search_box {padding: 15px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width: 520px}
.advanced_search_box.vacancies {background-color: #FFFDEA}
.advanced_search_box.resumes {background-color: #FFFDEA}
.advanced_search_box input[type=text] {width: 99%; height: 22px; padding: 3px}
.advanced_search_box ul {width: 100%; list-style: none}
.advanced_search_box ul li {width: 210px; display: inline-block}
.advanced_search_box .catSelector {width: 99%}
.advanced_search_box .block label {line-height: 1.6}
.advanced_search_box input.plane-b {line-height: 1.8; font-weight: bold; padding: 5px 17px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

#block_nav_top {position: fixed; top: 0; left: 0; width: 100%; height: 60px; background: #F9E5CE; opacity: 0.9; z-index: 999; display: none}
#block_nav_top .wrapper {margin: 5px auto; width: 1200px;}
#block_nav_top img.logo {margin-right: 25px; display: inline-block}
#block_nav_top .links_box {margin: 5px; height: 40px }
#block_nav_top .links_box a {color: #333333;}
#block_nav_top table {width: 100%}
#block_nav_top table,
#block_nav_top tbody,
#block_nav_top tr,
#block_nav_top td {padding: 0; margin: 0; border-spacing: 0}
#block_nav_top .phone_box {background: url(/storage/siteimg/top/phone_s.gif) 0 0 no-repeat; padding-left: 60px}
#block_nav_top .phone_box h2 {margin-top: 0; font-size: 14px}
#block_nav_top .total-count {font-size: 14px; margin: 0; padding-bottom: 3px}

input.money {text-align: right}
.phone_snap {height: 16px}
.email_snap {}