/* container for slides */
.jcarousel-skin-raya {margin: 2px 0 20px 80px;}
.jcarousel-skin-raya .jcarousel-container {margin: 0 auto;}
.jcarousel-skin-raya .jcarousel-container-horizontal {width: 800px}
.jcarousel-skin-raya .jcarousel-clip-horizontal {height: 160px; width: 800px;}
.jcarousel-skin-raya .jcarousel-clip {overflow: hidden; width: 800px}
.jcarousel-skin-raya .jcarousel-item {width: 800px; height: 160px;}

/* Overlay */
.overlay {background-color:#FFDD00; display:none; min-height:100px; padding:10px 20px; min-width:205px; z-index:10000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.no-boxshadow #overlay,
.no-boxshadow .overlay {border:1px solid #E9E9E9}
.contentWrap .ajax-loader {left:50%; position:absolute; top:45%}
.close {background:url("../../storage/siteimg/overlay-close.png") no-repeat scroll 0 0 transparent; cursor:pointer; height:14px; position:absolute; right:15px; top:15px; width:16px}


.jcarousel-skin-brands {width: 1180px; margin: 0 auto}
.jcarousel-skin-brands .jcarousel-clip {overflow: hidden; width: 1100px; margin: 0 auto}
.jcarousel-skin-brands .jcarousel-item {width: 137px; text-align: center; height: 63px}
.jcarousel-skin-brands .jcarousel-item img {margin-top: 7px}
.jcarousel-skin-brands .jcarousel-item:hover img {box-shadow: 0 0 10px #FFF; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
.jcarousel-skin-brands .jcarousel-next-horizontal {
	position: absolute;
	top: 10px;
	right: 0px;
	width: 16px;
	height: 41px;
	cursor: pointer;
	background: transparent url(/storage/siteimg/btn_arrow_right.png) no-repeat 0 0;
}
.jcarousel-skin-brands .jcarousel-prev-horizontal {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 16px;
	height: 41px;
	cursor: pointer;
	background: transparent url(/storage/siteimg/btn_arrow_left.png) no-repeat 0 0;
}
#cloudTags {position: relative; margin: 0 auto}
