<table cellpadding="0" cellspacing="0" width="100%" height="94%">
    <tr valign="top">
        <td class="cms_user_menu_bar"><tpl user.menu></td>
        <td width="14"><table height="100%"><tr><td width="9" background="{cfgAdminImg}bg_dotted_vert.gif"></td></tr></table></td>
        <td>
            <table cellpadding="0" cellspacing="0" width="100%" height="20" bgcolor="#{cSecondColor}">
                <tr>
                    <td>&nbsp;<span class="tab-w">Добро пожаловать, <b>{strUserName}</b></span></td>
                    <td align="right"><span class="tab-w">Сегодня: <b>{strCurrentDate}</b>&nbsp;&nbsp;</span></td>
                </tr>
            </table>

<if title.module>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
    if(!isMSIE)
        $('#top-cms-title').animate({opacity:0},0).text('{module.title}').animate({opacity:1},1000);
    else
        $('#top-cms-title').hide().text('{module.title}').show(1000);
});
//]]>
</script>
</if title.module>

