<tpl header>

<if block.error.login>
<table cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td width="22"><img src="{cfgAdminImg}error.gif" width="18" height="18"></td>
        <td><span class="tab-r"><b>{strLoginError}</b></span></td>
    </tr>
</table>
</if block.error.login>

<center style="margin-top:35px">
<fieldset id="loginField">
<legend>Авторизация</legend>
<form name="login" method="post">
<input type="hidden" name="submit_login" value="yes">
<table cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td>&nbsp;</td>
        <td>
            <table cellpadding="0" cellspacing="0" style="margin-top:7px">
                <tr height="24">
                    <td><input class="plane" type="text" id="bss_username" name="bss_username" style="color:#214653" /></td>
                </tr>
                <tr height="24">
                    <td><input class="plane" type="password" id="bss_password" name="bss_password" style="color:#214653" /></td>
                </tr>
                <tr height="24">
                    <td align="right"><input type="submit" value="Войти" class="btn enter" style="width: 70px" id="submitLogin" name="submitLogin"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</form>
</fieldset>
</center>

<img src="{cfgAdminImg}break.gif" width="1" height="5">

<script language="JavaScript">
//<![CDATA[
$(document).ready(function(){
    if( $('#bss_username').val() == '' )
        $('#bss_username').focus();
    else if( $('#bss_password').val() == '' )
        $('#bss_password').focus();
    else
        $('#submitLogin').focus();
});
//]]>
</script>

<tpl footer>
