<if block.login.true>
    <!--For the header.login.true module-->
                    </td>
                </tr>
            </table>
</if block.login.true>
        </td>
    </tr>
</table>

<div class="footer-line">
    <div class="fl"><span class="tab-w">The best internet development solutions</span></div>
    <div class="fr tab-w"><a href="http://www.phpwebstudio.com" target="_blank" class="link-w">phpWebStudio&trade;</a> (CMS-version {strNumVersion})</div>
</div>
<img src="{cfgSiteImg}ajax-circle.gif" width="200" alt="ajax-loader" id="ajax-loader"/>
</body>
</html>
