<table class="table-leftmenu">
    <thead>
        <tr>
            <td class="title">Проект</td>
        </tr>
    </thead>
    <tbody>
<if block.lst.projects>
        <tr>
            <td height="30">
                <div class="projects_selector">
                    <form method="post">
                        <input type="hidden" name="frmSelectProject" value="true" />
                        <select name="enumProjects" class="plane" style="font-size: 9px; width: 120px;">
                            <loop lst.projects>
                                <option value="{intIdProject}"{intIdProjectSelected}>{strNameProject}</option>
                            </loop lst.projects>
                        </select>&nbsp;<input type="submit" value="Ok" class="plane" />
                    </form>
                </div>
            </td>
        </tr>
</if block.lst.projects>
<if block.project>
        <tr>
            <td class="mid hh3"><h3>{strCurrentProject}</h3></td>
        </tr>
</if block.project>
    </tbody>
</table>

<if block.subitem.menu>
<table class="table-leftmenu">
    <thead>
        <tr>
            <td class="title chapter">Управление</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            <ul class="left-cms-menu">
<loop menu.insert.item>
                <li><img src="{cfgAdminImg}li_menu_item_{cId}.gif"/><a href="{strLink}{strLinkAtrib}">{strModuleName}</a></li>
                {dotSeparator}
</loop menu.insert.item>
            </ul>
            </td>
        </tr>
    </tbody>
</table>
</if block.subitem.menu>

<table class="table-leftmenu">
    <thead>
        <tr>
            <td class="title">Разделы сайта</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            <ul class="left-cms-menu">
<loop menu.item>
                <li><img src="{cfgAdminImg}li_menu_item_1.gif"/><a href="{strLink}{strLinkAtrib}">{strModuleName}</a></li>
<loop menu.sub.{intIdModule}>
                <li class="sub-item"><img src="{cfgAdminImg}li_menu_item_3.gif"/><a href="{strSubLink}{strSubLinkAtrib}">{strSubModuleName}</a></li>
</loop menu.sub.{intIdModule}>
</loop menu.item>
            </ul>
            </td>
        </tr>
    </tbody>
</table>

<!--<iframe align="center" width="170" height="170" src="{cfgAdminUrl}frame.php" noresize frameborder="0" scrolling="no"></iframe>-->
