<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
    <span class="txt-page-ob-desc">Здесь редактируют и добавляют статьи для сайта.</span>{dot1px}</td>
</tr>
</table>
{error}

<div id="articlesStore"></div>
<script type="text/javascript" src="{cfgAdminUrl}js/articles.js"></script>

<tpl footer>
