<tpl header>
<tpl header.login.true>

<table class="box-page-title">
    <tr>
        <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
            <span class="txt-page-ob-desc">Раздел для работы с рекламными баннерами и площадками.</span>{dot1px}</td>
    </tr>
</table>
{error}

<if showlist>
    <div class="box-link-add">
        <img src="{cfgAdminImg}btn-plus.png"/> <a href="{module.name}?action=add&stPage={stPage}" class="l1 b txt-10">добавить баннер...</a>
    </div>

	<if records>
		{blockPaginator}
		<table class="tbl list-items">
            <thead>
            <tr bgcolor="{cFirstColor}">
                <th class="tab-w" width="5%">ID</th>
                <th class="tab-w">Название файла</th>
                <th class="tab-w">Расположение баннера</th>
                <th class="tab-w">Описание</th>
                <th class="tab-w" width="7%">Статус</th>
                <th class="tab-w" width="10%">Опции</th>
            </tr>
            </thead>

<loop list>
            <tr>
				<td><b>{si_id}</b></td>
				<td><a href="{module.name}?id={si_id}&stPage={stPage}" class="l">{si_filename}</a></td>
				<td>{strRasp}</td>
				<td>{si_desc}</td>
				<td align="center"><input type="checkbox" id="cbxStatus{si_id}" name="cbxStatus" {cbxStatus} disabled/><label for="cbxStatus{si_id}"></label></td>
				<td align="center">
					<a href="{module.name}?id={si_id}&stPage={stPage}"><img src="{cfgAdminImg}icon_edit.gif" border=0 hspace=3></a>
					<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id_del={si_id}');"><img src="{cfgAdminImg}icon_delete.gif" border=0 hspace=3></a>
				</td>
            </tr>
</loop list>
		</table>
	</if records>
	<if norecords>
		<p><i class="error">Нет записей для просмотра</i></p>
	</if norecords>
</if showlist>

<if editrecord>
	<form method="post" enctype="multipart/form-data">
		<input type="hidden" name="frmEditForm" value="true">
		<input type="hidden" name="intRecordId" value="{intRecordId}">
		<table class="cms-box">
			<tr>
				<td>
					<table cellpadding=2 cellspacing=1 width=600>
						<tr valign="bottom">
							<td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О ФАЙЛЕ БАННЕРА</b></span></td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-b">Описание:&nbsp;</span><span class=tab-10-r>*</span></td>
							<td width="75%" class="tdR">
								<input type="text" name="strFileDesc" class="plane" value="{strFileDesc}" maxlength=255 style="width:400px">
							</td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Файл:&nbsp;</span><span class=tab-10-r>*</span>
                                <p class="txt-10-gray">Внимание! Изображение будет автоматически обрезано под указанные размеры.</p>
                            </td>
							<td width="75%" class="tdR">
								<if is.image>
									<p><a href="{cfgAllImg}banners/{strFileName}" class="link-blue fb">смотреть фото...</a></p>
                                    <input type="hidden" name="isFileExists" value="{isFileExists}" />
                                    <input type="hidden" name="strFileName" value="{strFileName}" />
								</if is.image>
								<input type="file" name="flPhoto" class="file" style="width:400px">
								<div style="margin-top:7px;">или заполните содержимое Flash-баннера</div>
								<div>
									<textarea name="strBannerContent" style="width:400px;height:40px;overflow-y:visible; word-wrap:break-word;" class="plane">{strBannerContent}</textarea>
								</div>
							</td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-b">Куда ведёт ссылка? http://</span></td>
							<td width="75%" class="tdR">
								<input type="text" name="strFileUrlTo" class="plane" value="{strFileUrlTo}" maxlength=255 style="width:400px">
							</td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-b">Установить ...:&nbsp;</span><span class=tab-10-r>*</span></td>
							<td width="75%" class="tdR">
                                <loop list.rasp>
                                    <div>
                                        <input type="radio" name="rbWhere" value="{ch}" id="rb{x}"{ch_{ch}}/><label for="rb{x}"> - {rasp}</label>
                                    </div>
                                </loop list.rasp>
							</td>
						</tr>
						<tr>
							<td colspan=2 class="tdD">
								<table cellpadding=0 cellspacing=0>
									<tr>
										<td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus} /></td>
										<td><label for="cbxStatus"><span class="tab-gb" style="font:9px">- статус активности</span></label></td>
									</tr>
									<tr>
										<td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn} /></td>
										<td><label for="cbxReturn"><span class="tab-gb" style="font:9px">- вернуться к редактированию после сохранения</span></label></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" align="right" height="40">
								<input type="submit" name="submit" value="сохранить" class="btn save">
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</form>

	<a href="{module.name}?stPage={stPage}">&lt;&lt;&lt; вернуться к списку</a>
</if editrecord>

<tpl footer>
