<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
    <span class="txt-page-ob-desc">Раздел для работы с отраслевыми категориями, сферами деятельности.</span>{dot1px}</td>
</tr>
</table>
{error}

<if block.categories.empty>
    <span class="tab-10-r"><b>Для выбранного проекта нет категорий сфер деятельности</b></span>
</if block.categories.empty>
<ifelse block.categories.empty>
    <table class="list-categories">
    <loop list>
        <tr>
            <td><img src="{cfgAdminImg}li_folder.png" class="li-item" />&nbsp;<a href="{module.name}?idItem={intIdItem}" class="link-b">{strNameItem}</a></td>
            <td><div id="edit{intIdItem}" name="edit{intIdItem}"><a href="#" onclick="$('#item{intIdItem}').show(); $('#noedit{intIdItem}').show(); $('#edit{intIdItem}').hide(); $('#saveBtn').show(); return false;"><img src="{cfgAdminImg}icon_edit.gif" border="0"></a></div><div id="noedit{intIdItem}" name="noedit{intIdItem}" style="display: none;"><img src="{cfgAdminImg}icon_edit_inactive.gif"></div></td>
            <td>
                <if delItem{intIdItem}>
                <a href="javascript:confirmDelete('{module.name}?delItem={intIdItem}')"><img src="{cfgAdminImg}icon_delete.gif" border=0 width="16" height="14" alt="Категорию можно удалить потому что нет подкатегорий"></a>
                </if delItem{intIdItem}>
            </td>
            <td width=20>&nbsp;</td>
            <td class="edit_field">
                <div id="item{intIdItem}" name="item{intIdItem}" style="display: none">
                    <input type="text" name="name{intIdItem}" class="plane" value="{strNameItem}" />
                </div>
            </td>
        </tr>
        <if block.{intIdItem}>
        <loop list.subitem.{intIdItem}>
        <tr>
            <td class="sub-item"><img src="{cfgAdminImg}li_double_arrow_orange.gif" width="10" height="7" border="0"/>&nbsp;{strNameSubItem} <span>(рез.:{intResNum}, вак.:{intVacNum})</span></td>
            <td>
                <div id="edit{intIdSubItem}" name="edit{intIdSubItem}"><a class="popup-with-form" href="#test-form{intIdSubItem}"><img src="{cfgAdminImg}icon_edit.gif" border="0" alt="Редактировать"></a></div>
                <div id="noedit{intIdSubItem}" name="noedit{intIdSubItem}" style="display: none"><img src="{cfgAdminImg}icon_edit_inactive.gif"></div>
            </td>
            <td><a href="javascript:confirmDelete('{module.name}?delItem={intIdSubItem}')"><img src="{cfgAdminImg}icon_delete.gif" border=0 width="16" height="14"></a></td>
            <td width=20>&nbsp;</td>
            <td class="edit_field">

                <form id="test-form{intIdSubItem}" class="white-popup-block mfp-hide" method="post">
                    <input type="hidden" name="frmEdit" value="true" />
                    <div id="item{intIdSubItem}" name="item{intIdSubItem}" class="popup-block-wrapper">
                        <h4>Редактирование категории "{strNameSubItem}"</h4>
                        <input type="text" name="name{intIdSubItem}" class="plane" value="{strNameSubItem}">
                        <select name="moveToCatID{intIdSubItem}" id="moveTo{intIdSubItem}" class="plane">
                            <option value="">выберите родительскую категорию</option>
                            <loop list.all.parent.categories>
                                <option value="{cID}">{cName}</option>
                            </loop list.all.parent.categories>
                        </select>

                        <h4>- или -</h4>
                        <p>переместить все вакансии / резюме этой категории в категорию:</p>

                        <select name="relocateToCatID{intIdSubItem}" id="relocateToCatID{intIdSubItem}" class="plane">
                            <option value="">выберите категорию</option>
                            <loop list.all.parent2.categories>
                                <optgroup label="{cName}">
                                    <loop list.all.tree.categories.{cID}>
                                    <option value="{ccID}">{ccName}</option>
                                    </loop list.all.tree.categories.{cID}>
                                </optgroup>
                            </loop list.all.parent2.categories>
                        </select>

                        <p class="tab-o">Внимание! Если Вы объедините вакансии/резюме категории "{strNameSubItem}" с выбранной категорией, то дальнейшая отмена данной операции будет невозможна!</p>

                        <div>
                            <input type="submit" class="btn save" id="saveBtn{intIdSubItem}" value="Сохранить" />
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        </loop list.subitem.{intIdItem}>
        </if block.{intIdItem}>
    </loop list>
    </table>
</ifelse block.categories.empty>


<if addChild>
    <form method="post" id="form_add_subcategory">
        <input type="hidden" name="frmSubAdd" value="true" />

        <table class="box-page-title">
            <tr><td><span class="txt-page-ob">Добавление новой подкатегории</span><br /><span class="txt-page-ob-desc">Эта подкатегория будет создана в категории <b>{currentParentGroup}</b>.</span>{dot1px}</td></tr>
        </table>

        <table><tr><td><span class="tab-10-r"><b>Имя новой подкатегории: </b></span></td><td><input type="text" name="frmName" class="plane" value=""></td></tr></table>

        <input type="submit" class="btn enter" value="Создать новую подкатегорию">
    </form>

    <script type="text/javascript">
        $(function(){
            $('#form_add_category').hide();
        });
    </script>
</if addChild>

<form method="post" id="form_add_category">
    <input type="hidden" name="frmAdd" value="true" />

    <table class="box-page-title">
        <tr><td><span class="txt-page-ob">Добавление новой категории сферы деятельности</span><br /><span class="txt-page-ob-desc">Здесь вы можете создать новую корневую категорию.</span>{dot1px}</td></tr>
    </table>

    <table><tr><td><span class="tab-10-r"><b>Имя новой категории: </b></span></td><td><input type="text" name="frmName" class="plane" value="" /></td></tr></table>

    <input type="submit" class="btn enter" value="Создать новую категорию"/>
</form>


    <script type="text/javascript">
        $(document).ready(function() {
            $('.popup-with-form').magnificPopup({
                type: 'inline',
                preloader: false,
                focus: '.popup-block-wrapper input.plane',

                // When elemened is focused, some mobile browsers in some cases zoom in
                // It looks not nice, so we disable it:
                callbacks: {
                    beforeOpen: function() {
                        if($(window).width() < 700) {
                            this.st.focus = false;
                        } else {
                            this.st.focus = '.popup-block-wrapper input.plane';
                        }
                    }
                }
            });
        });
    </script>

<tpl footer>
