<tpl header>
<tpl header.login.true>

{help.module}

<table class="box-page-title">
<tr>
	<td><span class=txt-page-ob>Смена пароля для доступа</span><br /><span class=txt-page-ob-desc>Смена Вашего пароля для входа в Систему Управления</span>{dot1px}</td>
</tr>
<tr>
    <td><b>Внимание!</b> При смене пароля для входа в систему обязательно запомните вводимый пароль. Пароль должен состоять только из цифр, знаков латинского алфавита и не должен содержать пробелов. Так же обратите внимание на чувствительность к регистру написания букв - "А" не равна "а". Пароль должен состоять не менее чем из 5-ти символов.</b></span><br /><img src="{cfgAdminImg}break.gif" width=1 height=6></td>
</tr>
</table>

{error}

<table cellpadding="2" cellspacing="0" align="center" width="400">
<tr>
    <td bgcolor="#{c_first_color}"><p class="base-w"><b>&nbsp;ИЗМЕНЕНИЕ ПАРОЛЯ</b></td>
</tr>
</table>

<table cellpadding="0" cellspacing="1" align="center" width="400" bgcolor="#{c_first_color}">
<form method="post">
<tr>
  <td bgcolor="#{c_bg_color}">

  <table cellpadding="1" cellspacing="3" align="center" width="330">
  <tr>
    <td width="120"><p>Новый пароль: <span class="base-10-r">*</span></td>
    <td colspan="5"><input type="password" name="PwdChangeOne" style="width: 150px;" class="plane"></td>
  </tr>
  <tr>
    <td width="120"><p>Повторите ввод: <span class="base-10-r">*</span></td>
    <td colspan="5"><input type="password" name="PwdChangeToo" style="width: 150px;" class="plane"></td>
  </tr>
  </table>

  </td>
</tr>
</table>
<br />
<p align="center"><input type="submit" value="изменить" class="btn save" name="submitChangePwd">&nbsp;<input type="reset" value="очистить форму" class="btn reset">
</form>
<tpl footer>
