<tpl header>
<tpl header.login.true>

<table class="box-page-title"><tr><td><span class="txt-page-ob"><b>{module.title}</b></span>{dot1px}</td></tr></table>
{error}

<div id="citiesStore"></div>
<script type="text/javascript" src="{cfgAdminUrl}js/cities.js"></script>

<tpl footer>
