<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob"><b>{module.title}</b></span></td>
</tr>
</table>
{error}

<p><a href="{module.parent}?stPage={stPage}">&lt;&lt;&lt; вернуться к списку</a></p>

<form method="post" enctype="multipart/form-data" id="form_edit">
    <input type="hidden" name="frmEdit" value="true" />
    <input type="hidden" name="intRecordId" value="{intRecordId}" />
    <table class="tbl">
        <tr>
            <td class="tdL">Наименование компании:&nbsp;<span class=tab-10-r>*</span></td>
            <td class="tdR"><input type="text" name="strTitle" class="plane" value="{strTitle}" maxlength="255" /></td>
        </tr>
        <tr>
            <td class="tdL">Наниматель:</td>
            <td class="tdR">
                <ul>
                    <li class="clearer"><label><input type="radio" name="rbAgency" value="direct"{jc_type_direct} class="fl"/> &mdash; прямой работодатель</label></li>
                    <li class="clearer"><label><input type="radio" name="rbAgency" value="recrut"{jc_type_recrut} class="fl"/> &mdash; кадровое агентство</label></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="tdL">Город:</td>
            <td class="tdR"><input type="text" id="strCompanyCity" name="strCompanyCity" class="plane" value="{strCompanyCity}" maxlength="128" /></td>
        </tr>
        <tr>
            <td class="tdL">Адрес:</td>
            <td class="tdR"><textarea id="strAddress" name="strAddress" class="plane">{strAddress}</textarea></td>
        </tr>
        <tr>
            <td class="tdL">Web-сайт компании:</td>
            <td class="tdR"><input type="text" id="strWeb" name="strWeb" class="plane" value="{strWeb}" maxlength="255" /></td>
        </tr>
        <tr>
            <td class="tdL">Email компании:</td>
            <td class="tdR"><input type="text" id="strCompanyEmail" name="strCompanyEmail" class="plane" value="{strCompanyEmail}" maxlength="255" /></td>
        </tr>
        <tr>
            <td class="tdL">Телефон компании:</td>
            <td class="tdR"><input type="text" id="strCompanyPhone" name="strCompanyPhone" class="plane" value="{strCompanyPhone}" maxlength="64" /></td>
        </tr>
        <tr>
            <td class="tdL">Описание компании:</td>
            <td class="tdR"><textarea id="strCompanyDescription" name="strCompanyDescription" class="plane">{strCompanyDescription}</textarea></td>
        </tr>
        <tr>
            <td class="tdL">Изображение логотипа:&nbsp;<br /><span class="txt-page-ob-desc">в формате JPEG (JPG)<br/>PNG, GIF (120x50)</span></td>
            <td class="tdR">
                <if exist.image>
                    <input type="hidden" id="isLogo" name="isLogo" value="1"/>
                    <img class="logo" src="{cfgAllImg}companies/{strFilename}" />  | <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id_del={intImgId}&act=del&id={intRecordId}');">удалить фото</a>
                </if exist.image>
                <if no.image>
                    <input type="file" name="flPhoto" class="plane" />
                </if no.image>
            </td>
        </tr>
        <tr>
            <td colspan=2 class="tdD">
                <table>
                    <tr>
                        <td><input type="checkbox" id="cbxTop" name="cbxTop"{cbxTop} /></td>
                        <td class="tab-gb"><label for="cbxTop">- <b>ведущая компания</b></label></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus} /></td>
                        <td class="tab-gb"><label for="cbxStatus">- статус активности</label></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn} /></td>
                        <td class="tab-gb"><label for="cbxReturn">- вернуться к редактированию после сохранения</label></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="tdDR">
                <div class="footer-url-back fl"><a href="{module.parent}?stPage={stPage}">&lt;&lt;&lt; вернуться к списку</a></div>
                <div class="tab-r">* - поля обязательные для заполнения.</div>
                <input type="submit" name="submit" value="сохранить" class="btn save" />
                <if record.exists>
                    <input type="button" name="removeRecord" value="удалить" class="btn reset" onclick="confirmDelete('{module.parent}?stPage={stPage}&id={intRecordId}&act=del');" />
                </if record.exists>
            </td>
        </tr>
    </table>
</form>

<if dependencies>
<table class="box-page-title">
    <tr>
        <td><span class="txt-page-ob"><b>Вакансии этой компании</b></span></td>
    </tr>
</table>
<table class="tbl list">
    <thead>
        <th>Название вакансии</th>
        <th width="150">Дата публикации</th>
    </thead>
    <tbody>
    <loop lst.dependencies>
        <tr>
            <td class="str"><a href="{module.name.child}?id={jv_id}">{jv_title}</a></td>
            <td class="str">{strDatePublish}</td>
        </tr>
    </loop lst.dependencies>
    </tbody>
</table>
</if dependencies>


<tpl footer>
