<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr><td><span class="txt-page-ob"><b>{module.title}</b></span><br><span class="txt-page-ob-desc">Раздел для работы с компаниями.</span>{dot1px}</td></tr>
</table>
{error}

<form method="POST">
<input type="hidden" name="frmSearch" value="true"/>
<table style="width: 90%">
    <tr>
        <td style="width: 410px">
            <table cellPadding="2" cellSpacing="1" style="background-color:#{cThirdColor}; border: 1px solid #BFBFBF;" width="400px">
                <tr><td colspan="3">Искать записи по...</td></tr>
                <tr>
                    <td width="30%">...ID:</td>
                    <td><input type="text" id="intID2Find" name="intID2Find" class="plane x-small" value="{intID2Find}" maxlength=5 /></td>
                    <td rowspan="4" class="search_form_button">
                        <input type="submit" name="submit" class="plane finger" value="искать" />
                    </td>
                </tr>
                <tr>
                    <td>...названию:</td>
                    <td><input type="text" id="strTitle2Find" name="strTitle2Find" class="plane" value="{strTitle2Find}" maxlength=255 style="width:100%" /></td>
                </tr>
                <tr>
                    <td>...городу:</td>
                    <td><input type="text" id="strCity2Find" name="strCity2Find" class="plane" value="{strCity2Find}" maxlength=255 style="width:100%" /></td>
                </tr>
                <tr>
                    <td>Ведущие:</td>
                    <td><input type="checkbox" id="cbxVed" name="cbxVed"{cbxVed} class="plane"/></td>
                </tr>
            </table>
        </td>
        <td style="vertical-align: top">
            <table>
                <tr>
                    <td><img src="{cfgAdminImg}excel.png" alt="Excel export" style="width: 36px"/></td>
                    <td><a href="{cfgSiteCurrentUri}export=csv">экспорт телефонов в файл</a></td>
                </tr>
                <tr>
                    <td><img src="{cfgAdminImg}excel.png" alt="Excel export" style="width: 36px"/></td>
                    <td><a href="{cfgSiteCurrentUri}export=csv&type=email">экспорт e-mail в файл</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</form>

{blockPaginator}
<table class="tbl list-items">
    <thead>
        <th width="5%">ID</th>
        <th>Название компании</th>
        <th>Город</th>
        <th width="6%">Кол-во вак-сий</th>
        <th width="6%">Статус</th>
        <th width="10%">Изобр.</th>
        <th width="10%">Опции</th>
    </thead>
    <loop records>
        <tr>
            <td><b>{jc_id}</b></td>
            <td><a href="{module.child}?id={jc_id}&stPage={stPage}">{jc_title}</a></td>
            <td>{jc_city}</td>
            <td align="center">{intVacs}</td>
            <td align="center"><input type="checkbox" name="cbxStatus" {cbxStatus} disabled /></td>
            <td align="center">
            <if attach.{jc_id}>
                <img src="{cfgAdminImg}attach.gif" border="0">
            </if attach.{jc_id}>
            </td>
            <td>
                <a href="{module.child}?id={jc_id}&stPage={stPage}"><img src="{cfgAdminImg}icon_edit.gif" border=0 hspace=3></a>
                <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={jc_id}&act=del');"><img src="{cfgAdminImg}icon_delete.gif" border=0 hspace=3></a>
            </td>
        </tr>
    </loop records>
</table>


<tpl footer>
