<tpl header>
<tpl header.login.true>

<script type="text/javascript">
    $(function(){
        $('.picker').datepicker({
            showOn: "button",
            buttonImage: "{cfgAdminImg}calendar_icon.png",
            buttonImageOnly: true,
            dateFormat: "dd.mm.yy",
            changeYear: true
        });

        $("a#pictureMain").fancybox({
            'titleShow'		: true
            , 'titlePosition'	: 'over'
        });
    });
</script>

<table class="box-page-title"><tr><td><span class="txt-page-ob"><b>{module.title}</b></span><br>{dot1px}</td></tr></table>
{error}

<p><a href="{module.parent}?stPage={stPage}">&lt;&lt;&lt; вернуться к списку</a></p>

<form method="post" enctype="multipart/form-data" id="form_edit">
<input type="hidden" name="frmEditEvent" value="true" />
<input type="hidden" name="intRecordId" value="{intRecordId}" />
<table class="tbl">
    <tr>
        <td class="tdL">Заголовок:&nbsp;<span class=tab-10-r>*</span></td>
        <td class="tdR"><input type="text" name="strTitle" class="plane" value="{strTitle}" maxlength="255" /></td>
    </tr>
    <tr>
        <td class="tdL">Событие:&nbsp;<span class=tab-10-r>*</span></td>
        <td class="tdR"><textarea name="strEventBody" class="plane">{strEventBody}</textarea></td>
    </tr>
    <tr>
        <td class="tdL">Дата публикации:&nbsp;<span class=tab-10-r>*</span></td>
        <td class="tdR">
            <input type="text" name="strDatePublish" class="plane date picker" value="{strDatePublish}" maxlength="10" placeholder="ДД.ММ.ГГГГ" />
        </td>
    </tr>
    <tr>
        <td class="tdL">Изображение:&nbsp;<br /><span class="txt-page-ob-desc">в формате JPEG (JPG)</span></td>
        <td class="tdR">
            <if exist.image>
                <a id="pictureMain" href="{cfgAllImg}events/events.photo.{intRecordId}.b.jpg" target="_blank"><img src="{cfgAllImg}events/events.photo.{intRecordId}.jpg" /></a>  | <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={intRecordId}&act=del');">удалить фото</a>
            </if exist.image>
            <if no.image>
                <input type="file" name="flPhoto" class="plane" />
            </if no.image>
        </td>
    </tr>
    <tr>
        <td colspan=2 class="tdD">
            <table>
                <tr>
                    <td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus} /></td>
                    <td class="tab-gb"><label for="cbxStatus">- статус активности</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn} /></td>
                    <td class="tab-gb"><label for="cbxReturn">- вернуться к редактированию после сохранения</label></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="tdDR">
            <div class="footer-url-back fl"><a href="{module.parent}?stPage={stPage}">&lt;&lt;&lt; вернуться к списку</a></div>
            <div class="tab-r">* - поля обязательные для заполнения.</div>
            <input type="submit" name="submit" value="сохранить" class="btn save" />
        </td>
    </tr>
</table>
</form>


<tpl footer>
