<tpl header>
<tpl header.login.true>

<table cellpadding=0 cellspacing=0 width="99%">
<tr>
  <td><span class="txt-page-ob"><b>Формы сообщенией пользователей</b></span><br>
    <span class="txt-page-ob-desc">Управление результатами опросов, предложений, высказываний посетителей сайта.</span>{dot1px}</td>
</tr>
</table>

<br><img src="{cfgAdminImg}break.gif" width=1 height=3><br>
{error}




<tpl footer>
