<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr><td><span class=txt-page-ob>Каталог фрагментов</span><br /><span class=txt-page-ob-desc>Для просмотра фрагмента выберите каталог в котором расположен нужный вам фрагмент.</span>{dot1px}</td></tr>
</table>

{error}

<if block.catalogue.empty>
<span class="tab-10-r"><b>Для выбранного проекта нет групп фрагментов (Управление разделом -> Группы фрагментов)</b></span>
</if block.catalogue.empty>

<table class="list-categories">
<loop lst.item>
    <tr><td><img src="{cfgAdminImg}li_folder.png" class="li-item" /><a href="{module.name}?idItem={intIdItem}" class="link-b{strHrefStyle}">{strNameItem}</a></td></tr>

<if block.{intIdItem}>

<loop lst.subitem.{intIdItem}>
    <tr><td class="sub-item"><img src="{cfgAdminImg}li_folder.png" class="li-item" /><a href="{module.name}?idItem={intIdSubItem}" class="link-b{strSubHrefStyle}">{strNameSubItem}</a></td></tr>
</loop lst.subitem.{intIdItem}>

</if block.{intIdItem}>
</loop lst.item>
</table>

<div class="i-count">Всего фрагментов: <b>{strQuantAllRecords}</b></div>


<if block.show.fragments>
<table>
<tr><td><span class=txt-page-ob>Список фрагментов в выбранном каталоге</span><br /><span class=txt-page-ob-desc>Для редактирования фрагмента страниц сайта воспользуйтесь "Опции->Редактировать фрагмент".</span>{dot1px}</td></tr>
</table>

<if block.lst.yes>
<table class="tbl list">
    <thead>
        <th>Название фрагмента</th>
        <th width="150">UID имя фрагмента</th>
        <th width="100">Опции</th>
    </thead>
<loop lst.fragments>
    <tr>
        <td class="str"><a href="{module.name.child}?idItem={intIdItem}&frg={intIdFrg}">{strNameFrg}</a></td>
        <td class="str">{strUNameFrg}</td>
        <td align=center>
            <a href="{module.name.child}?idItem={intIdItem}&frg={intIdFrg}"><img src="{cfgAdminImg}icon_edit.gif"  title="Редактировать фрагмент"></a>&nbsp;
            <a href="{module.name.child}?idItem={intIdItem}&frg={intIdFrg}&action=delete"><img src="{cfgAdminImg}icon_delete.gif"  title="Удалить фрагмент"></a>
<if difference.in.content.{intIdFrg}>
            <a href="#"><img src="{cfgAdminImg}icon_compare.gif"  title="Несовпадение контента в {intDiffs} символов" hspace="2"></a>
</if difference.in.content.{intIdFrg}>
        </td>
    </tr>
</loop lst.fragments>
</table>
</if block.lst.yes>

<if block.lst.no>
<span class="tab-10-r"><b>Нет доступных фрагментов в выбранном каталоге...</b></span>
</if block.lst.no>

</if block.show.fragments>


<tpl footer>
