<tpl header>
<tpl header.login.true>

{error}

<if message.noPublish.yes>
<span class="tab-10-r" align="center"><b>(!) {strNoPublishMessage}</b></span><br /><img src="{cfgAdminImg}break.gif" width="1" height="5"><br />
</if message.noPublish.yes>

<form method="post" id="form_edit">
<input type="hidden" name="frmFragmentAddEdit" value="true" />
<input type="hidden" name="intIdFragment" value="{intIdFragment}" />
<input type="hidden" name="strUNameFrgSaved" value="{strUNameFrgSaved}" />
<table class="tbl">
    <tr>
        <td class="tdL">Наименование: <span class="tab-r">*</span></td>
        <td class="tdR"><input type="text" name="strNameFrg" value="{strNameFrg}" class="plane" /></td>
    </tr>
    <tr>
        <td class="tdL">Идентификатор фрагмента: <span class="tab-r">*</span></td>
        <td class="tdR"><input type="text" name="strUNameFrg" value="{strUNameFrg}" class="plane" /></td>
    </tr>

    <tr>
        <td class="tdL">Контент: <span class="tab-r">*</span></td>
        <td class="tdR"><textarea id="strBody" name="strBody" style="width: 600px; height: 250px; overflow-y:visible; word-wrap:break-word;" class="plane-b">{strBody}</textarea></td>
    </tr>
    <tr>
        <td class="tdL">Описание: </td>
        <td class="tdR"><textarea name="strDescFrg" style="width: 600px; height: 50px; overflow-y:visible; word-wrap:break-word;" class="plane-b">{strDescFrg}</textarea></td>
    </tr>
    <tr>
        <td class="tdL" align="right" width="20%">Включить на сайте: </td>
        <td class="tdR"><input type="checkbox" name="cbxStatusFrg"{cbxStatusFrg_checked} /></td>
    </tr>

<if block.fragment.edit>
    <tr>
        <td class="tdL" align="right" width="20%">Последняя публикация: </td>
        <td width="80%" class="tdR">{strLastPublishDate}</td>
    </tr>
</if block.fragment.edit>
    <tr>
        <td class="tdL">Группа: <span class="tab-r">*</span></td>
        <td class="tdR">
            <select name="intFrgGroup" class="plane" style="width: 300px;">
                <option value="" style="color: #5A5A5A">--------- Выберите группу ----------</option>
<loop lst.fragment.group>
                <option value="{intIdGroup}"{intIdGroup_selected}>{strNameGroup}</option>
</loop lst.fragment.group>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="tdD">

            <table>
            <tr>
                <td><input type="checkbox" id="cbxPublish" name="cbxPublish" checked /></td>
                <td class="tab-gb"><label for="cbxPublish" class="finger">- применить изменения во фрагменте к сайту</label></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="cbxReturn" name="cbxReturn" {cbxReturn_checked} /></td>
                <td class="tab-gb"><label for="cbxReturn" class="finger">- вернуться к редактированию после сохранения</label></td>
            </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td colspan=2 class="tdDR">
            <div class="footer-url-back fl"><img src="{cfgAdminImg}li_menu_item_{cId}.gif" /><a href="{module.parent}?idItem={intIdItem}">вернуться к списку</a></div>
            <div class="tab-r">* - поля обязательные для заполнения.</div>
<if block.fragment.add>
            <input type="submit" value="создать фрагмент" class="btn enter" />
</if block.fragment.add>
<if block.fragment.edit>
            <input type="submit" value="сохранить" class="btn save" id="smbSaveDoc" name="smbSaveDoc" />
</if block.fragment.edit>
        </td>
    </tr>
</table>
</form>

<tpl footer>
