<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob">Поиск фрагментов</span><br />
    <span class="txt-page-ob-desc">Раздел для работы с враг-ментами :). Враг-мент - это мент и одновременно враг народа.</span>{dot1px}</td>
</tr>
</table>

{error}<br />
<form method="POST">
<input type="hidden" name="frmSearchFrg" value="true"/>
<table class="tbl">
    <tr>
        <td class="tdL">Альяс фрагмента : <br /><span class="txt-page-ob-desc">Допустимо неполное название</span></td>
        <td class="tdR">
            <input type="text" name="strFrgSearch" value="{strFrgSearch}" class="plane-b" size="40"/><br />
            <input type="checkbox" name="cbxOtherProjects"{cbxOtherProjects}> - искать в других проектах
        </td>
    </tr>
    <tr>
        <td class="tdL">Фрагмент во фрагменте : <br /><span class="txt-page-ob-desc">Допустимо <b>только</b> полное название альяса</span></td>
        <td class="tdR"><input type="text" name="strFrgInFrg" value="{strFrgInFrg}" class="plane-b" size="40" /></td>
    </tr>
    <tr>
        <td class="tdDR" colspan="2"><input type="submit" name="submitSearch" value="поиск" class="btn enter" /></td>
    </tr>
</table>
</form>

<table class="tbl" width="800">
<if alias.not.found>
    <tr>
        <td class="tdL">Результаты поиска &nbsp;</td>
        <td class="tdR"><b>Ничего не найдено.</b> Вероятно фрагмент с таким названием находиться в другом проекте.</td>
    </tr>
</if alias.not.found>
<if alias.searched>
    <tr>
        <td class="tdL">Результаты поиска &nbsp;</td>
        <td class="tdR">&nbsp;
<loop lst.searched.frgs>
            <table class="tblIn">
                <tr>
                    <td>
                        <table class="tblIn">
                        <tr>
                          <td width="55%"><span class="txt-10-g">алиас фрагмента</span> </td>
                          <td><span class="txt-10-b"><b>{sf_id_name}</b></span></td>
                        </tr>
                        <tr>
                          <td width="55%"><span class="txt-10-gray">имя файла фрагмента</span> </td>
                          <td><span class="txt-10-b">{sf_id_name}.frg</span></td>
                        </tr>
                        <tr>
                          <td width="55%"><span class="txt-10-gray">название фрагмента</span> </td>
                          <td><span class="txt-10-b">{sf_name}</span></td>
                        </tr>
                        <tr>
                          <td width="55%"><span class="txt-10-gray">фрагмент из раздела</span> </td>
                          <td><a href="{hrefChapter}#" class="link-green">{pChapterName}</a> &nbsp;</td>
                        </tr>
                        <tr>
                          <td class=tdL><span class="txt-10-gray">фрагмент из проекта</span> </td>
                          <td class=tdR><a href="{hrefProject}#" class="link-red">{pProjectName}</a> &nbsp;</td>
                        </tr>
                        </table>
                    </td>
                    <td>
<if this.project.{sf_id}>
                        <a href="{module.child}?idItem={pChapterID}&frg={sf_id}"><img src="{cfgAdminImg}icon_edit.gif" border=0 alt="Редактировать фрагмент"></a>
</if this.project.{sf_id}>
                    </td>
                </tr>
            </table>
</loop lst.searched.frgs>
        </td>
    </tr>
</if alias.searched>
</table>

<tpl footer>
