<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob">{module.title}</span><br />
    <span class="txt-page-ob-desc">Раздел для работы с {module.title}.</span>{dot1px}</td>
</tr>
</table>

{error}




<tpl footer>
