<tpl header>
<tpl header.login.true>

<table class="box-page-title">
    <tr>
        <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
            </span>{dot1px}</td>
    </tr>
</table>
{error}

<script type="text/javascript">
$(function(){
    $('.img_week').hide();
    $('#week_num').spinner({
        min: 1,
        max: 53
    });
    $('#check_num').click(function(){
        gotoUrl("{cfgCmsUrl}{module.name}?week_num="+$('#week_num').val()+"&year_num="+$('#year_num').val());
    });

    {script_tu}
    {script_we}
    {script_th}

    if (window.location.search.indexOf('errMess=') > -1) {
        $('#ajax-loader').show();
        setTimeout(function(){gotoUrl("{cfgCmsUrl}{module.name}")}, 3000);
    }
});
</script>

<form method="post" id="form_add_weeks_images" enctype="multipart/form-data">
<div id="week_num_box">
    <span>Номер недели: </span>
    <input type="text" id="week_num" name="week_num" value="{week_num}" class="plane" maxlength="2" placeholder="NN"/>
    <span>Год</span>
    <input type="text" id="year_num" name="year_num" value="{year_num}" class="plane x-small" maxlength="4" placeholder="ГГГГ"/>
    <input type="button" id="check_num" name="check_num" value="проверить"/>
</div>
<table class="tbl_newspaper">
    <thead>
    <tr>
        <td>Вторник</td>
        <td>Среда</td>
        <td>Четверг</td>
    </tr>
    </thead>
    <tr>
        <td><img id="tu" class="img_week" src="" alt=""/><input id="fileTu" type="file" name="fileTu"/></td>
        <td><img id="we" class="img_week" src="" alt=""/><input id="fileWe" type="file" name="fileWe"/></td>
        <td><img id="th" class="img_week" src="" alt=""/><input id="fileTh" type="file" name="fileTh"/></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><input type="text" id="num_tu" name="num_tu" value="{num_tu}" title="{num_tu}" class="plane" maxlength="255" placeholder="номер газеты Вторника"/></td>
        <td><input type="text" id="num_we" name="num_we" value="{num_we}" title="{num_we}" class="plane" maxlength="255" placeholder="номер газеты Среды"/></td>
        <td><input type="text" id="num_th" name="num_th" value="{num_th}" title="{num_th}" class="plane" maxlength="255" placeholder="номер газеты Четверга"/></td>
    </tr>
    <tr><td colspan="3"><input type="submit" id="save_magazines" name="save_magazines" value="Сохранить" class="btn save"/></td></tr>
</table>
</form>

<!--<div id="list_previous_magazines">
    <h3>Список предыдущих номеров</h3>

    <div class="row">
        <span>Неделя #1</span>
    </div>
    <div class="row">
        <span>Неделя #2</span>
    </div>
    <div class="row">
        <span>Неделя #3</span>
    </div>

</div>-->

<tpl footer>
