<tpl popup.header>

<table class="box-page-title">
  <tr>
    <td align="right"><a href="javascript:void('');" onclick="window.close();" class="link-red"><b>закрыть окно [x]</b></a></td>
  </tr>
</table>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob">{module.title}</span><br /><span class="txt-page-ob-desc">Раздел назначения доступа к модулю.</span>{dot1px}</td>
</tr>
</table>

{error}

<form method="post" id="form_edit">
<input type="hidden" name="frmEditForm" value="true" />
<input type="hidden" name="intRecordId" value="{intRecordId}" />
<table class="tbl">
    <tr valign="bottom">
        <td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О ДОСТУПЕ К МОДУЛЮ [<span class="tab-gr">{strModuleName}</span>]</b></span></td>
    </tr>
    <tr>
        <td width="25%" class="tdL" align="right" valign="top" style="padding-top:8px"><span class="txt-9-b">Доступ получат:&nbsp;</span><b><span class=tab-10-r>*</span></b></td>
        <td width="75%" class="tdR">
            <table cellPadding="2" cellSpacing="0">
              <tr>
                <td class="tdLT" width="26">
                  <input type="radio" name="intModuleAccess" value="1" {rbChecked1} />
                </td>
                <td class="tdRT">
                  Все пользователи
                </td>
              </tr>
              <tr>
                <td class="tdL">
                  <input type="radio" name="intModuleAccess" value="2" {rbChecked2} />
                </td>
                <td class="tdR">
                    <select name="intGroupID" class="plane">
<loop list.user.groups>
                        <option value="{intGroupID}"{intGroupID_sel}>{strGroupName}</option>
</loop list.user.groups>
                    </select>
                </td>
              </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td width="25%" class="tdL" align="right" valign="top" style="padding-top:8px"><span class="txt-9-b">Доступ имеют:&nbsp;</span></td>
        <td width="75%" class="tdR">
<loop list.user.access>
            <p><b>{fio}</b> | {ug}</p>
</loop list.user.access>
        </td>
    </tr>

    <tr><td colspan="2" class="tdDR"><input type="submit" name="submit" value="сохранить" class="btn save"></td></tr>
</table>
</form>

<tpl popup.footer>
