<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr><td><span class="txt-page-ob">Модули CMS</span><br /><span class="txt-page-ob-desc">Раздел для работы с модулями CMS.</span>{dot1px}</td></tr>
</table>

{error}

<div class="box-link-add"><img src="{cfgSiteImg}buttons/btn-plus.png" onclick="jsShowModal('{module.child}', 630, 440, 'no', 'no', 'editModule')" class="finger" /> <a href="javascript:void()" onclick="jsShowModal('{module.child}', 630, 440, 'no', 'no', 'editModule')" class="l1 b txt-10">Добавить модуль..</a></div>

{blockPaginator}
<table class="tbl list">
  <thead>
    <th width="20">ID</th>
    <th width="390">Наименование модуля</th>
    <th width="190">Алиас</th>
    <th width="90">Опции</th>
  </thead>
<loop list.modules>
  <tr>
    <td align="right"><b>{moduleID}</b></td>
    <td>{moduleName}</td>
    <td>{moduleAlias}</td>
    <td>
      <a href="#" onClick="jsShowModal('{module.child}?moduleID={moduleID}', 630, 440, 'no', 'no', 'editModule{moduleID}')"><img src="{cfgAdminImg}icon_edit.gif" border="0" hspace="2"></a>
      <a href="#" onClick="jsShowModal('{module.access}?moduleID={moduleID}', 600, 400, 1, 1, 'editModuleAccess')"><img src="{cfgAdminImg}icon_access.gif" border="0" hspace="2"></a>
    </td>
  </tr>
</loop list.modules>
</table>

<tpl footer>
