<tpl header>
<tpl header.login.true>

<table class="box-page-title">
    <tr><td><span class="txt-page-ob">Поиск модуля CMS</span><br /><span class="txt-page-ob-desc">Раздел для работы с модулями CMS.</span>{dot1px}</td></tr>
</table>

{error}

<form method="post" id="form_edit">
    <input type="hidden" name="frmModuleSearch" value="true" />
    <table class="tbl">
        <tr>
            <td class="tdL">Название модуля : </td>
            <td class="tdR"><input type="text" name="strModuleName" value="{strModuleName}" class="plane" /></td>
        </tr>
        <tr>
            <td class="tdL">Алиас : </td>
            <td class="tdR"><input type="text" name="strModuleAlias" value="{strModuleAlias}" class="plane" /></td>
        </tr>
        <tr>
            <td colspan="2" class="tdDR"><input type="submit" name="submit" value="поиск" class="btn enter" /></td>
        </tr>
    </table>
</form>

<if is.searched>
    <table class="tbl list">
        <thead>
        <th width="5%">ID</th>
        <th>Название</th>
        <th>Алиас</th>
        <th width="10%">Опции</th>
        </thead>
        <loop list.modules>
            <tr>
                <td>{cm_id}</td>
                <td>{cm_name}</td>
                <td>{cm_link}</td>
                <td>
                    <a href="javascript:void(0);" onClick="jsShowModal('{module.child}?moduleID={cm_id}', 630, 440, 'no', 'no', 'editModule{cm_id}')"><img src="{cfgAdminImg}icon_edit.gif" border="0"></a>
                    <a href="javascript:void(0);" onClick="jsShowModal('{module.access}?moduleID={cm_id}', 600, 400, 1, 1, 'editModuleAccess{cm_id}')"><img src="{cfgAdminImg}icon_access.gif" border="0" hspace="2"></a>
                </td>
            </tr>
        </loop list.modules>
    </table>

    <div class="box-link-add"><img src="{cfgSiteImg}buttons/btn-plus.png" onclick="jsShowModal('{module.child}', 630, 440, 'no', 'no', 'editModule')" class="finger" /> <a href="javascript:void()" onclick="jsShowModal('{module.child}', 630, 440, 'no', 'no', 'editModule')" class="l1 b txt-10">Добавить модуль..</a></div>
</if is.searched>

<if no.result>
    <table border="0" cellpadding="3" cellspacing="1" width="500">
        <tr>
            <td class="tdL" width="50%" align="right"> <b>Результаты поиска</b>: </td>
            <td class="tdR" width="50%"> По Вашему запросу ничего не найдено, или Вы ещё ничего не искали.</td>
        </tr>
    </table>
</if no.result>

<tpl footer>
