<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
    <td><span class="txt-page-ob">{module.title}</span><br /><span class="txt-page-ob-desc">Раздел для работы с Новостями сайта.</span>{dot1px}</td>
</tr>
</table>
{error}

{blockPaginator}
<table class="tbl list-items">
    <thead>
        <th width="5%">ID</th>
        <th>Заголовок</th>
        <th width="10%">Дата публ.</th>
        <th width="9%">Дата созд.</th>
        <th width="9%">Дата изм.</th>
        <th width="6%">Статус</th>
        <th width="6%">Изобр.</th>
        <th width="10%">Опции</th>
    </thead>
<loop news>
  <tr>
    <td><b>{sn_id}</b></td>
    <td><a href="{module.child}?id={sn_id}&stPage={stPage}">{sn_title}</a></td>
    <td>{strDatePubl}</td>
    <td>{strDateAdd}</td>
    <td>{strDateChange}</td>
    <td align="center"><input type="checkbox" name="cbxStatus" {cbxStatus} disabled /></td>
    <td align="center">
<if attach.{sn_id}>
<img src="{cfgAdminImg}attach.gif" border="0">
</if attach.{sn_id}>
    </td>
    <td>
      <a href="{module.child}?id={sn_id}&stPage={stPage}"><img src="{cfgAdminImg}icon_edit.gif" border=0 hspace=3></a>
      <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={sn_id}&act=del');"><img src="{cfgAdminImg}icon_delete.gif" border=0 hspace=3></a>
    </td>
  </tr>
</loop news>
</table>


<tpl footer>
