<tpl header>
<tpl header.login.true>

<form method="post">
<input type="hidden" name="frmGroupEdit" value="true" />

<table class="box-page-title">
<tr><td><span class=txt-page-ob>Группы страниц</span><br /><span class=txt-page-ob-desc>Для просмотра и редактирования подгрупп ввыберите родительскую группу.</span>{dot1px}</td></tr>
</table>

<if block.catalogue.empty>
<span class="tab-10-r"><b>Для выбранного проекта нет групп страниц</b></span>
</if block.catalogue.empty>

<table class="list-categories">
<loop lst.item>
    <tr>
        <td><img src="{cfgAdminImg}li_folder.png" class="li-item" /><a href="{module.name}?idItem={intIdItem}" class="link-b">{strNameItem}</a></td>
        <td width="40" align="center"><input type="checkbox" name="status{intIdItem}" {strStatusItem} /></td>
        <td><div id="edit{intIdItem}" name="edit{intIdItem}"><img src="{cfgAdminImg}icon_edit.gif" class="finger" onclick="$('#item{intIdItem}').show(); $('#noedit{intIdItem}').show(); $('#edit{intIdItem}').hide()" /></div>
            <div id="noedit{intIdItem}" name="noedit{intIdItem}" style="display: none"><img src="{cfgAdminImg}icon_edit_inactive.gif" /></div></td>
        <td>
<if delItem{intIdItem}>
            <a href="./{module.name}?delItem={intIdItem}"><img src="{cfgAdminImg}icon_delete.gif" border=0 width="16" height="14"></a>
</if delItem{intIdItem}>
        </td>
        <td width=20>&nbsp;</td>
        <td><div id="item{intIdItem}" name="item{intIdItem}" style="display: none;"><input type="text" name="name{intIdItem}" class="plane" value="{strNameItem}" style="width: 200px;"></div></td>
    </tr>

<if block.{intIdItem}>
<loop lst.subitem.{intIdItem}>
    <tr>
        <td class="sub-item"><img src="{cfgAdminImg}li_folder.png" class="li-item" /><a href="{module.name}?idItem={intIdSubItem}" class="link-b">{strNameSubItem}</a></td><td width="100" align="center"><input type="checkbox" name="status{intIdSubItem}" {strStatusSubItem}></td><td><div id="edit{intIdSubItem}" name="edit{intIdSubItem}"><a href="#" onclick="document.getElementById('item{intIdSubItem}').style.display = 'block'; document.getElementById('noedit{intIdSubItem}').style.display = 'block'; document.getElementById('edit{intIdSubItem}').style.display = 'none'; return false;"><img src="{cfgAdminImg}icon_edit.gif" border="0"></a></div><div id="noedit{intIdSubItem}" name="noedit{intIdSubItem}" style="display: none;"><img src="{cfgAdminImg}icon_edit_inactive.gif"></div></td>
        <td>
<if delItem{intIdSubItem}>
            <a href="./{module.name}?delItem={intIdSubItem}"><img src="{cfgAdminImg}icon_delete.gif" border=0 width="16" height="14"></a>
</if delItem{intIdSubItem}>
        </td>
        <td width=20>&nbsp;</td>
        <td><div id="item{intIdSubItem}" name="item{intIdSubItem}" style="display: none;"><input type="text" name="name{intIdSubItem}" class="plane" value="{strNameSubItem}" style="width: 200px;"></div></td>
    </tr>
</loop lst.subitem.{intIdItem}>
</if block.{intIdItem}>
</loop lst.item>
</table>

<ifelse block.catalogue.empty>
<input type="submit" class="btn save" value="Сохранить">
</ifelse block.catalogue.empty>
</form>

<if addChild>
<form method="post">
<input type="hidden" name="frmSubGroupAdd" value="true" />
<table class="box-page-title">
<tr>
	<td><span class=txt-page-ob>Добавление новой подгруппы</span><br /><span class=txt-page-ob-desc>Эта подгруппа будет создана в группе <b>{currentParentGroup}</b>.</span>{dot1px}</td>
</tr>
</table>

<table><tr><td><span class="tab-10-r"><b>Имя новой подгруппы: </b></span></td><td><input type="text" name="frmName" class="plane" value="" style="width: 200px;"></td></tr></table>

<input type="submit" class="btn enter" value="Создать новую подгруппу">

</form>
</if addChild>



<form method="post">
<input type="hidden" name="frmGroupAdd" value="true" />
<table class="box-page-title">
<tr><td><span class=txt-page-ob>Добавление новой группы</span><br /><span class=txt-page-ob-desc>Здесь вы можете создать новую корневую группу.</span>{dot1px}</td></tr>
</table>

<table><tr><td><span class="tab-10-r"><b>Имя новой группы: </b></span></td><td><input type="text" name="frmName" class="plane" value="" style="width: 200px;"></td></tr></table>

<input type="submit" class="btn enter" value="Создать новую группу" />
</form>

<tpl footer>
