<tpl header>
<tpl header.login.true>

{error}

<if message.noPublish.yes>
<span class="tab-10-r" align="center"><b>(!) {strNoPublishMessage}</b></span><br /><img src="{cfgAdminImg}break.gif" width="1" height="5" /><br />
</if message.noPublish.yes>

<form method="post" id="form_edit">
<input type="hidden" name="frmPageAddEdit" value="true" />
<input type="hidden" name="intIdEditPage" value="{intIdEditPage}" />
<table class="tbl">
    <tr>
        <td class="tdL">Наименование страницы: <span class="tab-r">*</span></td>
        <td class="tdR"><input type="text" name="strPageName" value="{strPageName}" class="plane" /></td>
    </tr>
    <tr>
        <td class="tdL">URL key: <span class="tab-r">*</span></td>
        <td class="tdR"><input type="text" name="strPageAlias" value="{strPageAlias}" class="plane" /></td>
    </tr>
<if difference.in.content>
    <tr>
        <td class="tdD" colspan="2">
            <input type="hidden" name="strFileContent" id="strFileContent" value="{strFileContent}" />

            <div class="warning-box">
                <span class="tab-10-r"><b>Внимание! Страница существующая на сервере не совпадает с оригиналом в БД.&nbsp;</b></span><br /><br />
                <div class="tab-gb">Предлагается, восстановить содержимое с сервера, либо записать как есть в БД.
                    Тогда, нажимать кнопку "Заменить" не требуется.</div>
<if specode>    <button class="warn" onclick="makeChange(1); return false;"><span>Заменить</span></button>
</if specode>
<if htmlcode>   <button class="warn" onclick="makeChange(2); return false;"><span>Заменить</span></button>
</if htmlcode>

                <table class="warn-ch">
                    <tr>
                        <td><input type="checkbox" name="cbxReadNotice" id="cbxReadNotice" onClick="doAccept()"></td>
                        <td><span class="tab-10-r">- я соглашаюсь сохранить новый контен</span></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</if difference.in.content>

    <tr>
        <td class="tdL">Контент: <span class="tab-r">*</span></td>
        <td class="tdR"><textarea id="strBody" name="strBody" class="plane-b">{strBody}</textarea></td>
    </tr>

    <tr>
        <td class="tdL">Шаблон: <span class="tab-r">*</span></td>
        <td class="tdR">
            <select name="intPageIdTpl" class="plane">
                <option value="" style="color: #5A5A5A">--------- Выберите шаблон страницы ----------</option>
<loop lst.templates>
                <option value="{intIdTpl}"{intIdTpl_selected}>{strNameTpl}</option>
</loop lst.templates>
            </select>
        </td>
    </tr>
    <tr>
        <td class="tdL">HTML заголовок страницы: </td>
        <td class="tdR"><input type="text" name="strPageTitle" value="{strPageTitle}" class="plane" /></td>
    </tr>
    <tr>
        <td class="tdL">META DESCRIPTION <br>Описание для поисковых серверов: </td>
        <td class="tdR"><textarea name="strPageDescription" style="width: 600px; height: 45px;" class="plane">{strPageDescription}</textarea></td>
    </tr>
    <tr>
        <td class="tdL">META KEYWORDS <br>(ключевые слова через запятую): </td>
        <td class="tdR"><textarea name="strPageKeywords" style="width: 600px; height: 45px;" class="plane">{strPageKeywords}</textarea></td>
    </tr>
    <tr>
        <td class="tdL">Активировать: </td>
        <td class="tdR"><input type="checkbox" name="cbxPageStatus"{cbxPageStatus_checked}></td>
    </tr>
<if block.page.edit>
    <tr>
        <td class="tdL">Последнее обновление было: </td>
        <td class="tdR">{strLastPublishDate}</td>
    </tr>
</if block.page.edit>
    <tr>
        <td class="tdL">Группа страниц: <span class="tab-r">*</span></td>
        <td class="tdR">
            <select name="intPageGroup" class="plane">
                <option value="" style="color: #5A5A5A">--------- Выберите группу ----------</option>
<loop lst.group.pages>
                <option value="{intIdGroup}"{intIdGroup_selected}>{strNameGroup}</option>
</loop lst.group.pages>
            </select>
        </td>
    </tr>
    <tr>
        <td class="tdL">Breadcrumbs: </td>
        <td class="tdR">
            <select name="intIdCrumb" id="breadcrumbs" class="plane" disabled>
<loop lst.breadcrumbs.pages>
				<option value="{intIdCrumb}"{intIdCrumb_selected}>{strNamePrevCrumb}</option>
</loop lst.breadcrumbs.pages>
			</select>
        </td>
    </tr>
    <tr>
        <td colspan=2 class="tdD">
            <table>
                <tr>
                    <td><input type="checkbox" id="cbxPublish" name="cbxPublish"{cbxPublish_checked} /></td>
                    <td><label for="cbxPublish" class="finger tab-gb">- опубликовать страницу</td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn_checked} /></td>
                    <td><label for="cbxReturn" class="finger tab-gb">- остаться в форме редактирования</label></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="tdDR">
            <div class="footer-url-back fl"><img src="{cfgAdminImg}li_menu_item_{cId}.gif" /><a href="{module.parent}?idItem={intIdItem}">вернуться к списку</a></div>
            <div class="tab-r">* - поля обязательные для заполнения.</div>
<if block.page.edit>
            <input type="submit" value="сохранить" class="btn save" name="smbSaveDoc" id="smbSaveDoc" />
</if block.page.edit>
<if block.page.add>
            <input type="submit" value="создать" class="btn enter" />
</if block.page.add>
        </td>
    </tr>
</table>
</form>

<script type="text/javascript">
//<![CDATA[
var isBreadcrumbs = {is_breadcrumbs};

$(document).ready(function(){
    if (isBreadcrumbs) {
        $('#breadcrumbs').attr('disabled', false);
    }
});
//]]>
</script>


<if difference.in.content>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
    $('#smbSaveDoc').attr('disabled', 'disabled');
});

function makeChange(v) {
    if (v==1)
        $('#strBody').text($('#strFileContent').val());
    else if (v==2)
        CKEDITOR.instances['strBody'].setData($('#strFileContent').val(),submitaftersetdata);
    $('#cbxReadNotice').attr('checked', 'true');
    $('#smbSaveDoc').attr('disabled', false);
    alert("Вы восстановили код с сервера!\nСохраните Ваши изменения, или вернитесь к списку.");
    $('.warning-box').hide(777);
    $('#cbxPublish').attr('checked', true);
}

function submitaftersetdata() {
    this.updateElement();
}
//]]>
</script>
</if difference.in.content>



<if htmlcode>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
    CKEDITOR.replace( 'strBody' );
});
//]]>
</script>
</if htmlcode>



<tpl footer>
