<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr><td><span class='txt-page-ob'>Каталог страниц</span><br /><span class=txt-page-ob-desc>Для просмотра страницы выберите каталог в которой расположена нужная Вам страница.</span>{dot1px}</td></tr></table>
{error}

<if block.catalogue.empty>
<span class="tab-10-r"><b>Для выбранного проекта нет групп страниц (Управление разделом -> Группы страниц)</b></span>
</if block.catalogue.empty>

<table class="list-categories">
<loop lst.item>
<tr><td><img src="{cfgAdminImg}li_folder.png" class="li-item" /><a href="{module.name}?idItem={intIdItem}" class="link-b{strHrefStyle}">{strNameItem}</a></td></tr>
<if block.{intIdItem}>
<loop lst.subitem.{intIdItem}>
<tr><td class="sub-item"><img src="{cfgAdminImg}li_folder.png" class="li-item" /><a href="{module.name}?idItem={intIdSubItem}" class="link-b{strSubHrefStyle}">{strNameSubItem}</a></td></tr>
</loop lst.subitem.{intIdItem}>
</if block.{intIdItem}>
</loop lst.item>
</table>

<div class="i-count">
<span>Всего страниц: <b>{strQuantPages}</b></span><br />
<span>Открытых страниц: <b>{strActiveQuantPages}</b></span><br />
<span>Закрытых страниц: <b>{strActiveNoQuantPages}</b></span>
</div>

<if block.pages>
<table>
<tr><td><span class=txt-page-ob>Список страниц в выбранном каталоге</span><br /><span class=txt-page-ob-desc>Для редактирования страницы сайта воспользуйтесь "Опции->Редактирование страницы".</span>{dot1px}</td></tr>
</table>

<if block.lst.pages>
<table cellpadding="2" cellspacing="1" class="tbl list">
    <thead>
        <th width="20">ID</th>
        <th>Название страницы</th>
        <th width="100">Алиас</th>
        <th width="100">Опции</th>
    </thead>
<loop lst.pages>
    <tr>
        <td align="center"{strStatusPublish}><b>{intIdPage}</b></td>
        <td class="str" {strStatusPublish}><a href="{module.child}?idItem={intIdItem}&idRec={intIdPage}">{strNamePage}</a></td>
        <td class="str" {strStatusPublish}>{strAliasPage}</td>
        <td align=center>
            <a href="{module.child}?idItem={intIdItem}&idRec={intIdPage}"><img src="{cfgAdminImg}icon_edit.gif" width="25" height="14" border=0 alt="Редактировать страницу" hspace="2"></a>
            <a href="{page.name.child}?idItem={intIdItem}&idPage={intIdPage}&action=delete"><img src="{cfgAdminImg}icon_delete.gif" width="16" height="14" border=0 alt="Удалить страницу" hspace="2"></a>
<if difference.in.content.{intIdPage}>
            <a href="#"><img src="{cfgAdminImg}icon_compare.gif" height="14" border=0 alt="Несовпадение контента" hspace="2"></a>
</if difference.in.content.{intIdPage}>
        </td>
    </tr>
</loop lst.pages>
</table>
</if block.lst.pages>

<if block.lst.pages.no>
<span class="tab-10-r"><b>Нет страниц в выбранном каталоге...</b></span>
</if block.lst.pages.no>

</if block.pages>
<tpl footer>
