<tpl header>
<tpl header.login.true>

<table class="box-page-title">
    <tr><td><span class="txt-page-ob">Каталог проектов</span><br /><span class="txt-page-ob-desc">Раздел для работы с каталогом проектов.</span>{dot1px}</td></tr>
</table>

{error}

<if show.edit.form>
    <form method="post">
        <input type="hidden" name="frmAddEdit" value="true" />
        <input type="hidden" name="intProjectID" value="{intProjectID}" />
        <table cellpadding=2 cellspacing=1>
            <tr>
                <td width=35% class="tdL"><span style="font:9px">Краткое наименование :&nbsp;</span><b><span class="tab-r">*</span></b></td>
                <td width=65% class="tdR"><input type="text" name="strProjectName" value="{strProjectName}" class=plane style="width:300px"></td>
            </tr>
            <tr>
                <td class="tdL" align="right"><span style="font:9px">Путь к директории проекта:&nbsp;</span><b><span class="tab-r">*</span></b></td>
                <td class="tdR"><input type="text" name="strProjectPath" value="{strProjectPath}" class=plane style="width:300px"></td>
            </tr>
            <tr>
                <td class="tdL" align="right"><span style="font:9px">URL проекта:&nbsp;</span><b><span class="tab-r">*</span></b></td>
                <td class="tdR"><input type="text" name="strProjectUrl" value="{strProjectUrl}" class=plane style="width:300px"></td>
            </tr>
            <tr>
                <td colspan=2 class="tdDR"><input type="submit" value="сохранить" class="btn save" name="smbSaveDoc" /></td>
            </tr>
        </table>
    </form>
</if show.edit.form>

<if show.list>
    <div class="box-link-add"><img src="{cfgSiteImg}buttons/btn-plus.png" onclick="gotoUrl('{module.name}?action=add')" /> <a href="{module.name}?action=add" class="l1 b txt-10">Добавить проект..</a></div>

    <table cellpadding="2" cellspacing="1">
        <thead>
            <tr bgcolor="#{cFirstColor}">
                <th><span class="tab-w">ID</span></th>
                <th width="300"><span class="tab-w">Директория</span></th>
                <th width="200"><span class="tab-w">URL проекта</span></th>
                <th width="100"><span class="tab-w">Опции</span></th>
            </tr>
        </thead>
<loop lst.projects>
        <tr {bg}>
            <td align="center"{strStatusPublish}><b>{fp_id}</b></td>
            <td {strStatusPublish}>{fp_path}</td>
            <td {strStatusPublish}>{fp_url}</td>
            <td align=center>
                <a href="{module.name}?idRec={fp_id}&action=edit">
                    <img src="{cfgAdminImg}icon_edit.gif" width="25" height="14" border=0 alt="Редактировать страницу" hspace="5"></a>&nbsp;
                <a href="{module.name}?idItem={intIdItem}&idPage={intIdPage}&action=delete">
                    <img src="{cfgAdminImg}icon_delete.gif" width="16" height="14" border=0 alt="Удалить страницу" hspace="5"></a>
            </td>
        </tr>
</loop lst.projects>
    </table>

    <div class="box-page-title">
        <div class="fl ">Текущее значение DOCUMENT_ROOT: &nbsp;</div>
        <div class="fl">{DROOT}</div>
        <div class="clearer"></div>
    </div>
</if show.list>

<tpl footer>
