<tpl header>
<tpl header.login.true>

<script type="text/javascript">
    $(function(){//
        var nowDate = new Date();
        $('.picker').datepicker({
            showOn: "button",
            buttonImage: "{cfgAdminImg}calendar_icon.png",
            buttonImageOnly: true,
            dateFormat: "dd.mm.yy",
            changeYear: true
        });
        $('#strBirthday').datepicker({
            showOn: "button",
            buttonImage: "{cfgAdminImg}calendar_icon.png",
            buttonImageOnly: true,
            dateFormat: "dd.mm.yy",
            defaultDate: new Date(1980,0,1),
            changeYear: true
        });
        $('#strEduDateStart').datepicker({
            showOn: "button",
            buttonImage: "{cfgAdminImg}calendar_icon.png",
            buttonImageOnly: true,
            dateFormat: "dd.mm.yy",
            defaultDate: new Date((nowDate.getFullYear() - 10),0,1),
            changeYear: true
        });
        $('#strEduDateFin').datepicker({
            showOn: "button",
            buttonImage: "{cfgAdminImg}calendar_icon.png",
            buttonImageOnly: true,
            dateFormat: "dd.mm.yy",
            defaultDate: new Date((nowDate.getFullYear() - 7),0,1),
            changeYear: true
        });
        $('#strDateFrom').datepicker({
            showOn: "button",
            buttonImage: "{cfgAdminImg}calendar_icon.png",
            buttonImageOnly: true,
            dateFormat: "dd.mm.yy",
            changeYear: true,
            onClose: function( selectedDate ) {
                $( "#strDateTo" ).datepicker( "option", "minDate", selectedDate );
            }
        });
        $('#strDateTo').datepicker({
            showOn: "button",
            buttonImage: "{cfgAdminImg}calendar_icon.png",
            buttonImageOnly: true,
            dateFormat: "dd.mm.yy",
            changeYear: true,
            onClose: function( selectedDate ) {
                $( "#strDateFrom" ).datepicker( "option", "maxDate", selectedDate );
            }
        });
        $('#strAge').spinner({
            min: 14,
            max: 99
        });
        $('#strSalary').spinner({
            min: 0,
            step: 5000
        });
        $('#tabs').tabs();

        var citiesSource = [{strCities}];
        $('#strCity').autocomplete({source: citiesSource, minLength: 3});
        $('#strRegion').autocomplete({source: citiesSource, minLength: 3});
        $('.dop_info').tooltip();
    });
</script>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
    <span class="txt-page-ob-desc">Раздел для работы с формой резюме.</span>{dot1px}</td>
</tr>
</table>
{error}

<p><a href="{module.parent}?stPage={stPage}">&lt;&lt;&lt; вернуться к списку</a></p>

<form method="post" enctype="multipart/form-data" id="form_edit">
    <input type="hidden" name="frmEdit" value="true" />
    <input type="hidden" name="intRecordId" value="{intRecordId}" />

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Информация о резюме</a></li>
            <li><a href="#tabs-2">Хронология мест работы</a></li>
            <li><a href="#tabs-3">Образование</a></li>
            <li><a href="#tabs-4">SEO</a></li>
        </ul>

        <div id="tabs-1">
            <table class="tbl">
                <tr>
                    <td class="tdL">Должность:&nbsp;<span class=tab-10-r>*</span></td>
                    <td class="tdR"><input type="text" name="strTitle" class="plane" value="{strTitle}" maxlength="255" /></td>
                </tr>
                <tr>
                    <td class="tdL">ФИО:<!--&nbsp;<span class=tab-10-r>*</span>--></td>
                    <td class="tdR"><input type="text" name="strFio" class="plane" value="{strFio}" maxlength="128" /></td>
                </tr>
                <tr>
                    <td class="tdL">Пол:<!--&nbsp;<span class=tab-10-r>*</span>--></td>
                    <td class="tdR">
                        <ul>
                            <li class="clearer"><label><input type="radio" name="rbSex" value="male"{jr_sex_male} class="fl"/> &mdash; мужской.</label></li>
                            <li class="clearer"><label><input type="radio" name="rbSex" value="female"{jr_sex_female} class="fl"/> &mdash; женский</label></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tdL">День рождения:</td>
                    <td class="tdR"><input type="text" id="strBirthday" name="strBirthday" class="plane date" value="{strBirthday}" maxlength="10" placeholder="ДД.ММ.ГГГГ" /> </td>
                </tr>
                <tr>
                    <td class="tdL">Возраст:</td>
                    <td class="tdR"><input type="text" id="strAge" name="strAge" class="x-small tr" value="{strAge}" maxlength="2" /> <i class="txt-10-gray">(!) если указана дата рождения, не заполняйте возраст, рассчитается автоматически</i></td>
                </tr>
                <tr>
                    <td class="tdL">Семейное положение:</td>
                    <td class="tdR">
                        <ul><li class="clearer"><label><input type="radio" name="rbMarriage" value="N"{jr_marriage_N} class="fl"/> &mdash; холост / незамужем / разведён(-а)</label></li>
                            <li class="clearer"><label><input type="radio" name="rbMarriage" value="Y"{jr_marriage_Y} class="fl"/> &mdash; женат / замужем</label></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tdL">Наличие детей:</td>
                    <td class="tdR">
                        <ul><li class="clearer"><label><input type="radio" name="rbChildren" value="N"{jr_children_N} class="fl"/> &mdash; нет</label></li>
                            <li class="clearer"><label><input type="radio" name="rbChildren" value="Y"{jr_children_Y} class="fl"/> &mdash; да (один и более)</label></li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="tdL">Зарплата:<!--&nbsp;<span class=tab-10-r>*</span>--></td>
                    <td class="tdR"><input type="text" id="strSalary" name="strSalary" class="small tr" value="{strSalary}" maxlength="7" /> руб./
                        <select name="salaryFor" id="salaryFor">
                            <option value="0">месяц</option>
                            <option value="1">неделю</option>
                            <option value="2">день</option>
                            <option value="3">час</option>
                            <option value="4">год</option>
                        </select>
                        <span class="dop_info" title="информация из старой базы данных">{strSalaryOld}</span>
                    </td>
                </tr>
                <tr>
                    <td class="tdL">Занятость:<!--&nbsp;<span class=tab-10-r>*</span>--></td>
                    <td class="tdR">
                        <ul>
<loop workbusy.types>
                            <li class="clearer"><label><input type="radio" name="rbWorkbusy" value="{jw_id}"{checked} class="fl"/> &mdash; {jw_title}</label></li>
</loop workbusy.types>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tdL">Город:<!--&nbsp;<span class=tab-10-r>*</span>--></td>
                    <td class="tdR"><input type="text" id="strCity" name="strCity" class="plane" value="{strCity}" maxlength="128" /></td>
                </tr>
                <tr>
                    <td class="tdL">Готов(-а) к командировкам:</td>
                    <td class="tdR">
                        <ul><li class="clearer"><label><input type="radio" name="rbTrips" value="N"{jr_trips_N} class="fl"/> &mdash; нет</label></li>
                            <li class="clearer"><label><input type="radio" name="rbTrips" value="Y"{jr_trips_Y} class="fl"/> &mdash; да (в любое время)</label></li>
                            <li class="clearer"><label><input type="radio" name="rbTrips" value="S"{jr_trips_S} class="fl"/> &mdash; иногда / не часто</label></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tdL">О себе:</td>
                    <td class="tdR"><textarea name="strAbout" class="plane">{strAbout}</textarea></td>
                </tr>
                <tr>
                    <td class="tdL">Телефон:<!--&nbsp;<span class=tab-10-r>*</span>--></td>
                    <td class="tdR"><input type="text" name="strPhone" class="plane medium" value="{strPhone}" maxlength="128" /></td>
                </tr>
                <tr>
                    <td class="tdL">Email: </td>
                    <td class="tdR"><input type="text" name="strEmail" class="plane medium" value="{strEmail}" maxlength="128" /></td>
                </tr>
                <tr>
                    <td class="tdL">Skype: </td>
                    <td class="tdR"><input type="text" name="strSkype" class="plane medium" value="{strSkype}" maxlength="96" /></td>
                </tr>
                <tr>
                    <td class="tdL">ICQ#: </td>
                    <td class="tdR"><input type="text" name="strIcq" class="plane small" value="{strIcq}" maxlength="12" /></td>
                </tr>
                <tr>
                    <td class="tdL">LinkedIn страница: </td>
                    <td class="tdR"><input type="text" name="strLinkedin" class="plane" value="{strLinkedin}" maxlength="12" /></td>
                </tr>
                <tr>
                    <td class="tdL">Водительское удостоверение:</td>
                    <td class="tdR">
                        <ul><li class="clearer"><label><input type="radio" name="rbDriver" value="N"{jr_driver_N} class="fl"/> &mdash; нет</label></li>
                            <li class="clearer"><label><input type="radio" name="rbDriver" value="Y"{jr_driver_Y} class="fl"/> &mdash; да</label></li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="tdL">Дата публикации:</td>
                    <td class="tdR"><input type="text" name="strDatePublish" class="plane date picker" value="{strDatePublish}" maxlength="10" placeholder="ДД.ММ.ГГГГ" /></td>
                </tr>
                <tr>
                    <td class="tdL">Изображение:&nbsp;<br /><span class="txt-page-ob-desc">в формате JPEG (JPG)</span></td>
                    <td class="tdR">
                        <if exist.image>
                            <a href="{cfgAllImg}resume/resume.photo.{intRecordId}.b.jpg" target="_blank"><img src="{cfgAllImg}resume/resume.photo.{intRecordId}.jpg" /></a>  | <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={intRecordId}&act=del');">удалить фото</a>
                        </if exist.image>
                        <if no.image>
                            <input type="file" name="flPhoto" class="plane" />
                        </if no.image>
                    </td>
                </tr>
            </table>
        </div>

        <!--WORK HISTORY-->
        <div id="tabs-2">
            <table class="tbl">
                <tr>
                    <td class="tdL">Компания:&nbsp;<span class=tab-10-r>*</span></td>
                    <td class="tdR"><input type="text" name="strCompany" class="plane" value="{strCompany}" maxlength="128" /></td>
                </tr>
                <tr>
                    <td class="tdL">Сфера деятельности:</td>
                    <td class="tdR">
                        <select name="intCategoryId" id="intCategoryId">
                            <option value="">выберите...</option>

                            <loop option.group.category>
                                <optgroup label="{strOptGroupName}">
                                    <loop group.options.{intGroupID}>
                                    <option value="{intOptionValue}">{strOptionTitle}</option>
                                    </loop group.options.{intGroupID}>
                                </optgroup>
                            </loop option.group.category>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tdL">Должность:&nbsp;<span class=tab-10-r>*</span></td>
                    <td class="tdR"><input type="text" name="strPosition" class="plane" value="{strPosition}" maxlength="255" /></td>
                </tr>
                <tr>
                    <td class="tdL">Период работы:&nbsp;<span class=tab-10-r>*</span></td>
                    <td class="tdR">
                        <table>
                            <tr>
                                <td>
                                    <input type="text" id="strDateFrom" name="strDateFrom" value="{strDateFrom}" class="plane date" maxlength="10" placeholder="ДД.ММ.ГГГГ"/>
                                </td>
                                <td>
                                    <input type="text" id="strDateTo" name="strDateTo" value="{strDateTo}" class="plane date" maxlength="10" placeholder="ДД.ММ.ГГГГ"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="tdL">Регион / Город:</td>
                    <td class="tdR"><input type="text" id="strRegion" name="strRegion" class="plane" value="{strRegion}" maxlength="128" /></td>
                </tr>

                <tr>
                    <td class="tdL">Web-сайт компании:</td>
                    <td class="tdR"><input type="text" name="strWeb" class="plane" value="{strWeb}" maxlength="255" /></td>
                </tr>
                <tr>
                    <td class="tdL">Достижения / обязанности:</td>
                    <td class="tdR"><textarea name="strResponsibility" class="plane">{strResponsibility}</textarea></td>
                </tr>
            </table>

            <ol class="work_history">
                <loop resume.history>
                <li class="company"><a href="javascript:void(0)" onClick="confirmDelete('{module.name}?stPage={stPage}&jrw_id={jrw_id}&jr_id={intRecordId}&act=del');" class="remove"><img src="{cfgAdminImg}icon_delete.gif" alt="Удалить"/></a>
                    <div class="clearer">
                        <div class="fl">Компания:</div>
                        <div class="">{strHistoryCompany}</div>
                    </div>
                    <div class="clearer">
                        <div class="fl">Категория:</div>
                        <div class="">{strHistoryCategory}</div>
                    </div>
                    <div class="clearer">
                        <div class="fl">Должность:</div>
                        <div class="">{strHistoryPosition}</div>
                    </div>
                    <div class="clearer">
                        <div class="fl">Период работы:</div>
                        <div class="">{strHistoryDateFrom} &mdash; {strHistoryDateTo}</div>
                    </div>
                    <div class="clearer">
                        <div class="fl">Регион / Город:</div>
                        <div class="">{strHistoryRegion}</div>
                    </div>
                    <div class="clearer">
                        <div class="fl">Web-site</div>
                        <div class="">{strHistoryWeb}</div>
                    </div>
                    <div class="clearer">
                        <div class="fl">Достижения:</div>
                        <div class="">{strHistoryResponsibilities}</div>
                    </div>
                </li>
                </loop resume.history>
            </ol>
        </div>

        <!--EDUCATION-->
        <div id="tabs-3">
            <table class="tbl">
                <tr>
                    <td class="tdL">Образование:<!--&nbsp;<span class=tab-10-r>*</span>--></td>
                    <td class="tdR">
                        <input type="hidden" id="intEduId" name="intEduId" value="{intEduId}"/>
                        <ul>
                            <loop education.types>
                                <li class="clearer"><label><input type="radio" name="rbEdu"{checked} value="{jet_id}" class="fl"/> &mdash; {jet_title}</label></li>
                            </loop education.types>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="tdL">Учебное заведение:<!--&nbsp;<span class=tab-10-r>*</span>--></td>
                    <td class="tdR"><input type="text" name="strInstitution" class="plane" value="{strInstitution}" maxlength="255" /></td>
                </tr>
                <tr>
                    <td class="tdL">Факультет:</td>
                    <td class="tdR"><input type="text" name="strFaculty" class="plane" value="{strFaculty}" maxlength="255" /></td>
                </tr>
                <tr>
                    <td class="tdL">Специализация / специальность:</td>
                    <td class="tdR"><input type="text" name="strSpecialization" class="plane" value="{strSpecialization}" maxlength="255" /></td>
                </tr>
                <tr>
                    <td class="tdL">Даты обучения:<!--&nbsp;<span class=tab-10-r>*</span>--></td>
                    <td class="tdR">
                        <table>
                            <tr>
                                <td>
                                    <input type="text" id="strEduDateStart" name="strEduDateStart" class="plane date" value="{strEduDateStart}" maxlength="10" placeholder="ДД.ММ.ГГГГ" />
                                </td>
                                <td>
                                    <input type="text" id="strEduDateFin" name="strEduDateFin" class="plane date" value="{strEduDateFin}" maxlength="10" placeholder="ДД.ММ.ГГГГ" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                <tr>
                    <td class="tdL">Дополнительное <br />образование / Курсы:</td>
                    <td class="tdR"><textarea id="strEduPlus" name="strEduPlus" class="plane">{strEduPlus}</textarea></td>
                </tr>
            </table>
        </div>

        <!--SEO-->
        <div id="tabs-4">
            <table class="tbl">
                <tr>
                    <td class="tdL">META DESCRIPTION:<br /><span class="txt-page-ob-desc">описание данной страницы</span> </td>
                    <td class="tdR">
                        <textarea id="strMetaDesc" name="strMetaDesc" class="plane">{strMetaDesc}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="tdL">META KEYWORDS:<br /><span class="txt-page-ob-desc">ключевые фразы для поисковых роботов</span> </td>
                    <td class="tdR">
                        <textarea id="strMetaKeywords" name="strMetaKeywords" class="plane">{strMetaKeywords}</textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>




    <table class="tbl">
        <tr>
            <td colspan=2 class="tdD">
                <table>
                    <tr>
                        <td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus} /></td>
                        <td class="tab-gb"><label for="cbxStatus">- статус активности</label></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn} /></td>
                        <td class="tab-gb"><label for="cbxReturn">- вернуться к редактированию после сохранения</label></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="tdDR">
                <div class="footer-url-back fl"><a href="{module.parent}?stPage={stPage}">&lt;&lt;&lt; вернуться к списку</a></div>
                <div class="tab-r">* - поля обязательные для заполнения.</div>
                <input type="submit" name="submit" value="сохранить" class="btn save" />
            </td>
        </tr>
    </table>
</form>




<tpl footer>
