<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr><td><span class="txt-page-ob"><b>{module.title}</b></span><br>
        <span class="txt-page-ob-desc">Раздел для работы с {module.title}.</span>{dot1px}</td>
</tr>
</table>
{error}

<form method="POST" id="searchForm">
<input type="hidden" name="frmSearch" value="true"/>

<table style="width: 99%">
    <tr>
        <td style="width: 410px">
            <table cellPadding="2" cellSpacing="1" style="background-color:#{cThirdColor}; border: 1px solid #BFBFBF;" width="406px">
                <tr><td colspan="3">Искать записи по...</td></tr>
                <tr>
                    <td width="30%">...ID:</td>
                    <td><input type="text" id="intID2Find" name="intID2Find" class="plane small" value="{intID2Find}" maxlength=12 /></td>
                    <td rowspan="5" class="search_form_button">
                        <if is.result>
                        <input type="reset" name="reset" class="plane finger" value="сбросить" style="margin-bottom: 4px" onclick="gotoUrl('{cfgSiteCurrentUri}')" />
                        </if is.result>
                        <input type="submit" name="submit" class="plane finger" value="искать" />
                    </td>
                </tr>
                <tr>
                    <td>...названию:</td>
                    <td><input type="text" id="strTitle2Find" name="strTitle2Find" class="plane" value="{strTitle2Find}" maxlength=255 /></td>
                </tr>
                <tr>
                    <td>...городу:</td>
                    <td><input type="text" id="strCity2Find" name="strCity2Find" class="plane" value="{strCity2Find}" maxlength=255 /></td>
                </tr>
                <tr>
                    <td>..e-mail:</td>
                    <td><input type="text" id="strEmail2Find" name="strEmail2Find" class="plane" value="{strEmail2Find}" maxlength=255 /></td>
                </tr>
                <tr>
                    <td>..телефону:</td>
                    <td><input type="text" id="strPhone2Find" name="strPhone2Find" class="plane" value="{strPhone2Find}" maxlength=255 /></td>
                </tr>
            </table>
        </td>
        <td style="vertical-align: top">
            <table>
                <tr>
                    <td><img src="{cfgAdminImg}excel.png" alt="Excel export" style="width: 36px"/></td>
                    <td><a href="{cfgSiteCurrentUri}export=csv">экспорт в файл</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</form>

{blockPaginator}
<table class="tbl list-items">
    <thead>
        <tr>
            <th width="5%">ID</th>
            <th>Претендует на должность</th>
            <th width="9%">ФИО</th>
            <th width="10%">Дата публ.</th>
            <th width="6%">Статус</th>
            <th width="160">Grab</th>
            <th width="6%">Изобр.</th>
            <th width="80">Опции</th>
        </tr>
    </thead>
    <tbody>
<loop records>
        <tr>
            <td><b>{jr_id}</b></td>
            <td><a href="{module.child}?id={jr_id}&stPage={stPage}">{jr_title}</a></td>
            <td>{strFIO}</td>
            <td align="center">{strDatePublish}</td>
            <td align="center"><input type="checkbox" name="cbxStatus" {cbxStatus} disabled /></td>
            <td align="center"><input type="checkbox" name="cbxGrab" {cbxGrab} disabled />{strSourceGrab}</td>
            <td align="center">
<if attach.{jr_id}>
                <img src="{cfgAdminImg}attach.gif" border="0">
</if attach.{jr_id}>
            </td>
            <td>
                <a href="{module.child}?id={jr_id}&stPage={stPage}"><img src="{cfgAdminImg}icon_edit.gif" border=0 hspace=3></a>
                <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={jr_id}&act=del');"><img src="{cfgAdminImg}icon_delete.gif" border=0 hspace=3></a>
            </td>
        </tr>
</loop records>
    </tbody>
</table>

<tpl footer>
