<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
    <span class="txt-page-ob-desc">Раздел для работы с {module.title}.</span>{dot1px}</td>
</tr>
</table>
{error}


<div id="searchTextStore"></div>

<script type="text/javascript" src="{cfgAdminUrl}js/search.text.js"></script>


<tpl footer>
