<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr><td><span class="txt-page-ob">Настройки CMS</span><br /><span class="txt-page-ob-desc">Раздел для работы с настройками Web Content Management System.</span>{dot1px}</td></tr>
</table>

{error}

<span class="txt-9-b">&nbsp;<b>Изменение пароля для входа в систему:</b></span>
<div style="width:99%">{dot1px}</div>

<table cellpadding="2" cellspacing="0" align="center" width="80%">
<tr>
  <td><p class="txt-9-b"><b>Внимание!</b> При смене пароля для входа в систему
  обязательно запомните вводимый пароль. Пароль должен состоять только из цифр,
  знаков латинского алфавита и не должен содержать пробелов. Так же обратите
  внимание на чувствительность к регистру написания букв: "А" не равна "а".
  Пароль должен состоять не менее чем из 5-ти символов.</td>
</tr>
</table>
<br />
<table cellpadding="2" cellspacing="0" align="center" width="400">
<tr>
  <td bgcolor="#{cFirstColor}"><p class="tab-w"><b>&nbsp;ИЗМЕНЕНИЕ ПАРОЛЯ</b></td>
</tr>
</table>

<table cellpadding="0" cellspacing="1" align="center" width="400" bgcolor="#{cFirstColor}">
<form method="post">
<tr>
  <td bgcolor="#{cBgColor}">

  <table cellpadding="1" cellspacing="3" align="center" width="330">
  <tr>
    <td width="120"><p>Текущий пароль: <span class="tab-10-r">*</span></td>
    <td colspan="5"><input type="password" name="PwdOldForChange" style="width: 150px;" class="plane"></td>
  </tr>
  <tr>
    <td width="120"><p>Новый пароль: <span class="tab-10-r">*</span></td>
    <td colspan="5"><input type="password" name="PwdChangeOne" style="width: 150px;" class="plane"></td>
  </tr>
  <tr>
    <td width="120"><p>Повторите новый: <span class="tab-10-r">*</span></td>
    <td colspan="5"><input type="password" name="PwdChangeToo" style="width: 150px;" class="plane"></td>
  </tr>
  </table>

  </td>
</tr>
</table>
<br />
<p align="center"><input type="submit" value="изменить" class="btn save" name="submitChangePwd">&nbsp;<input type="reset" value="очистить форму" class="btn reset">
</form>


<tpl footer>
