<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
    <span class="txt-page-ob-desc">Форма редактирования данных пользователя.</span>{dot1px}</td>
</tr>
</table>
{error}

<p><a href="{module.parent}?stPage={stPage}">&lt;&lt;&lt; вернуться к списку</a></p>

<form method="post" enctype="multipart/form-data" id="form_edit">
    <input type="hidden" name="frmEdit" value="true" />
    <input type="hidden" name="intRecordId" value="{intRecordId}" />
    <table class="tbl">
        <tr>
            <td class="tdL">Тип пользователя:</td>
            <td class="tdR">
                <input type="radio" id="strTypeF" name="strType" value="fiz" {strType_fiz}/> <label for="strTypeF">- физ.лицо</label>
                <input type="radio" id="strTypeJ" name="strType" value="jur" {strType_jur}/> <label for="strTypeJ">- юр.лицо</label>
            </td>
        </tr>
        <tr>
            <td class="tdL">Фамилия:</td>
            <td class="tdR"><input type="text" name="strLname" class="plane" value="{strLname}" maxlength="255" /></td>
        </tr>
        <tr>
            <td class="tdL">Имя:</td>
            <td class="tdR"><input type="text" name="strFname" class="plane" value="{strFname}" maxlength="255" /></td>
        </tr>
        <tr>
            <td class="tdL">Отчество:</td>
            <td class="tdR"><input type="text" name="strMname" class="plane" value="{strMname}" maxlength="255" /></td>
        </tr>

        <tr>
            <td class="tdL">Email:</td>
            <td class="tdR"><input type="text" id="strEmail" name="strEmail" class="plane" value="{strEmail}" maxlength="255" /></td>
        </tr>
        <tr>
            <td class="tdL">Телефон:</td>
            <td class="tdR"><input type="text" id="strPhone" name="strPhone" class="plane" value="{strPhone}" maxlength="64" /></td>
        </tr>
        <tr>
            <td class="tdL">ИНН:</td>
            <td class="tdR"><input type="text" id="strInn" name="strInn" class="plane" value="{strInn}" maxlength="10" /></td>
        </tr>
        <tr>
            <td class="tdL">Должность:</td>
            <td class="tdR"><input type="text" id="strPosition" name="strPosition" class="plane" value="{strPosition}" maxlength="128" /></td>
        </tr>
        <tr>
            <td class="tdL">Город:</td>
            <td class="tdR"><input type="text" id="strCompanyCity" name="strCompanyCity" class="plane" value="{strCompanyCity}" maxlength="128" /></td>
        </tr>
        <tr>
            <td class="tdL">Адрес:</td>
            <td class="tdR"><textarea id="strAddress" name="strAddress" class="plane">{strAddress}</textarea></td>
        </tr>


        <tr>
            <td class="tdL">Фотография: <br /><span class="txt-page-ob-desc">в формате JPEG (JPG), PNG или GIF</span></td>
            <td class="tdR">
                <if exist.image>
                    <input type="hidden" id="isPic" name="isPic" value="1"/>
                    <img class="logo" src="{cfgAllImg}users/{strFilename}" />  | <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id_del={intImgId}&act=del&id={intRecordId}');">удалить фото</a>
                </if exist.image>
                <if no.image>
                    <input type="file" name="flPhoto" class="plane" />
                </if no.image>
            </td>
        </tr>
        <tr>
            <td colspan=2 class="tdD">
                <table>
                    <tr>
                        <td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus} /></td>
                        <td class="tab-gb"><label for="cbxStatus">- статус активности</label></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn} /></td>
                        <td class="tab-gb"><label for="cbxReturn">- вернуться к редактированию после сохранения</label></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="tdDR">
                <div class="footer-url-back fl"><a href="{module.parent}?stPage={stPage}">&lt;&lt;&lt; вернуться к списку</a></div>
                <div class="tab-r">* - поля обязательные для заполнения.</div>
                <input type="submit" name="submit" value="сохранить" class="btn save" />
                <if record.exists>
                    <input type="button" name="removeRecord" value="удалить" class="btn reset" onclick="confirmDelete('{module.parent}?stPage={stPage}&id={intRecordId}&act=del');" />
                </if record.exists>
            </td>
        </tr>
    </table>
</form>


<tpl footer>
