<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr><td><span class=txt-page-ob>Изображения сайта</span><br /><span class=txt-page-ob-desc>Раздел служит для загрузки изображений на сервер для дальнейшего их использования в страницах сайта</span>{dot1px}</td></tr>
</table>

<p>Всего изображений: <b>{intImagesCount}</b></p>

<table cellpadding=0 cellspacing=0 width=99%>
<tr>
	<td><span class=txt-page-ob>Загрузка изображения на сайт</span><br /><span class=txt-page-ob-desc>Укажите файл изображения на вашей машине, который предполагается закачать на сервер</span>{dot1px}</td>
</tr>
</table>
{error_uploadImg}
<br />

<table cellpadding=2 cellspacing=1 width=650>
<tr>
<form method="post" enctype="multipart/form-data">
<input type="hidden" name="frmAddImage" value="true">
  <td class=tdL align=right width=35%>Загрузить изображение (допустимые форматы: jpg, gif, swf):</b></span></td>
  <td class=tdR><input type="file" name="strUploadFile" class="plane" style="width: 300px;"></td>
</tr>
<tr>
  <td class=tdL align=right width=35%>Группа для изображения:</b></span></td>
  <td class=tdR>
  <select name="intUploadGroup" class="plane" style="width: 300px;">
<loop lst.group.images>
  <option value="{intIdUploadGroup}"{intIdUploadGroup_selected}>{strNameUploadGroup}</option>
</loop lst.group.images>
  </select>
  </td>
</tr>
<tr>
  <td colspan="2" align="right" height="30"><input type="submit" value="загрузить изображение" class="btn enter" style="width: 200px;"></td>
</form>
</tr>
</table>

<table cellpadding=0 cellspacing=0 width=99%>
<tr>
	<td><span class=txt-page-ob>Группы изображений на сервере</span><br /><span class=txt-page-ob-desc>Для просмотра изображений в группе, выберите нужную группу</span>{dot1px}</td>
</tr>
</table>

<table>
<loop lst.item.images>
<tr>
	<td><img src="{adminimg}li_double_arrow_orange.gif" width="10" height="7" border="0" alt="">&nbsp;<a href="{page.name}?idItem={intIdItem}" class="link-b">{strNameItem}</a></td>
</tr>

<if block.images.{intIdItem}>

<loop lst.subitem.images.{intIdItem}>
<tr>
	<td>&nbsp;&nbsp;<img src="{adminimg}li_double_arrow_orange.gif" width="10" height="7" border="0" alt="">&nbsp;<a href="{page.name}?idItem={intIdSubItem}" class="link-b">{strNameSubItem}</a></td>
</tr>
</loop lst.subitem.images.{intIdItem}>

</if block.images.{intIdItem}>

</loop lst.item.images>
</table>
<br />
<br />

<if block.show.images>
<table cellpadding=0 cellspacing=0 width=99%>
<tr>
	<td><span class="txt-page-ob">Список доступных изображений на сервере</span><br /><span class=txt-page-ob-desc>Показан список изображений на сервере, который доступен для использования в страницах сайта</span>{dot1px}</td>
</tr>
</table>
{error}
<img src="{cfgAdminImg}break.gif" width="1" height="3"><br />
Изображений в группе: <b>{intImagesCountGroup}</b>
<br /><img src="{cfgAdminImg}break.gif" width="1" height="10"><br />


<table cellpadding=2 cellspacing=1>
<if lst.images>
<tr valign="top">
<loop lst.images>
  <td bgcolor="#EEEEEE">

  <table cellpadding=4>
  <tr>
  	<td height="200" colspan="3" align="center">{strObject}</td>
  </tr>
  <tr>
  	<td><span class="base-10-gray">код:</span></td>
  	<td><input type="text" name="strImage{strIdImage}" value="[img:{strNameImage}]" style="width: 130px;" class="plane"></td>
    <td><a href="javascript:CopyClipboard('strImage{strIdImage}');"><img src="{adminimg}icon-clipboard.gif" width="16" height="16" alt="копировать в буфер" border="0"></a></td>
  </tr>
  <tr>
  	<td colspan="3"><span class="base-10-gray">добавлено: {strDateAdd}<br />размер: {strSizeImage} px</span></td>
  </tr>
  <tr>
  	<td colspan="3" align="right"><a href="site.images?idItem={intIdItem}&action=delete&img={strIdImage}" class="link-b">удалить</a></td>
  </tr>
  </table>

  </td>
{strTableTr}
</loop lst.images>
</tr>
</if lst.images>

<if lst.images.empty>
<tr>
	<td align=center><span class=base-o><b>Нет доступных изображений...</b></span></td>
</tr>
</if lst.images.empty>

</table>
</if lst.images>

</if block.show.images>

<tpl footer>
