<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
    <span class="txt-page-ob-desc">Раздел для работы с зарегистрированными пользователями сайта.</span>{dot1px}</td>
</tr>
</table>
{error}

<form method="POST">
    <input type="hidden" name="frmSearch" value="true"/>
    <table cellPadding="2" cellSpacing="1" style="background-color:#{cThirdColor}; border: 1px solid #BFBFBF;" width="400px">
        <tr><td colspan="3">Искать записи по...</td></tr>
        <tr>
            <td width="30%">...ID:</td>
            <td><input type="text" id="intID2Find" name="intID2Find" class="plane x-small" value="{intID2Find}" maxlength=5 /></td>
            <td rowspan="4" class="search_form_button">
                <input type="submit" name="submit" class="plane finger" value="искать" />
            </td>
        </tr>
        <tr>
            <td>...ФИО:</td>
            <td><input type="text" name="strFio2Find" class="plane" value="{strFio2Find}" maxlength=255 /></td>
        </tr>
        <tr>
            <td>...Email / Логин:</td>
            <td><input type="text" name="strEmail2Find" class="plane" value="{strEmail2Find}" maxlength=255 /></td>
        </tr>
        <tr>
            <td>Телефон:</td>
            <td><input type="text" name="strPhone2Find" class="plane" value="{strPhone2Find}" maxlength=64 /></td>
        </tr>
    </table>
</form>

{blockPaginator}
<table class="tbl list-items">
    <thead>
        <th width="30">ID</th>
        <th width="300">ФИО пользователя</th>
        <th width="150">Логин</th>
        <th width="150">Фото</th>
        <th width="170">Последний вход</th>
        <th width="80">Опции</th>
    </thead>
    <loop users>
    <tr>
        <td><a href="{module.name.child}?id={intId}&stPage={stPage}" title="ID:{intId}">{intId}</a></td>
        <td><a href="{module.name.child}?id={intId}&stPage={stPage}" title="ID:{intId}">{strFIO}</a></td>
        <td><span class="base-10-s">{strLogin}</span></td>
        <td>
            <if attach.{su_id}>
                <img src="{cfgAdminImg}attach.gif" border="0" />
            </if attach.{su_id}>
        </td>
        <td><span class="tab-gb">{strLastEntry}</span></td>
        <td align="center">
        <a href="{module.name.child}?id={intId}&stPage={stPage}"><img src="{cfgAdminImg}icon_edit.gif" width="25" height="14" border="0" alt="Редактировать" vspace="3"></a>&nbsp;
        <a href="javascript:confirmDelete('{module.name}?id={intId}&action=delete&stPage={stPage}', 'Запись будет удалена безвозвратно,\nтакже будут удалены все связи и файлы!');"><img src="{cfgAdminImg}icon_delete.gif" border="0" alt="Удалить" vspace="3"></a>&nbsp;
        </td>
    </tr>
    </loop users>
</table>


<tpl footer>
