<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
    <span class="txt-page-ob-desc">Раздел для работы с группами подписчиков.</span>{dot1px}</td>
</tr>
</table>
{error}


<if form>
<script type="text/javascript">
    function addNewSubscriber() {
        jQuery.fancybox({
            href: '#add_subscriber'
//                , modal: true
        });
    }
//    jQuery(document).ready(function ($) {
//        $('.edit_record').click(function () {
//            alert('Edit');
//        });
//    });
</script>

<div id="add_subscriber" class="popup_block">
    <form id="add_subscriber_form" method="post">
        <table>
            <tr>
                <td>Email</td>
                <td><input type="text" id="strNewSubsEmail" name="strNewSubsEmail" value="" class="plane" maxlength="255" placeholder="введите Email подписчика"/></td>
            </tr>
            <tr>
                <td>ФИО</td>
                <td><input type="text" id="strNewSubsName" name="strNewSubsName" value="" class="plane" maxlength="255" placeholder="как звать подписчика"/></td>
            </tr>
        </table>
        <input type="submit" value="Сохранить" class="save"/>
    </form>
</div>


<form method="post" id="form_edit">
    <input type="hidden" name="frmEdit" value="true" />
    <input type="hidden" name="intRecordId" value="{intRecordId}" />
    <table class="tbl">
        <tr>
            <td class="tdL">Наименование группы:&nbsp;<span class=tab-10-r>*</span></td>
            <td class="tdR"><input type="text" name="strTitle" class="plane" value="{strTitle}" maxlength="255" /></td>
        </tr>

        <tr>
            <td class="tdL">Описание:</td>
            <td class="tdR"><textarea id="strDesc" name="strDesc" class="plane">{strDesc}</textarea></td>
        </tr>

        <tr>
            <td class="tdL">Дата создания:</td>
            <td class="tdR">{strDateCreate}</td>
        </tr>

        <tr>
            <td colspan=2 class="tdD">
                <table>
                    <!--<tr>-->
                        <!--<td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus} /></td>-->
                        <!--<td class="tab-gb"><label for="cbxStatus">- статус активности</label></td>-->
                    <!--</tr>-->
                    <tr>
                        <td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn} /></td>
                        <td class="tab-gb"><label for="cbxReturn">- вернуться к редактированию после сохранения</label></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="tdDR">
                <div class="tab-r">* - поля обязательные для заполнения.</div>
                <input type="submit" name="submit" value="сохранить" class="btn save" />
            </td>
        </tr>
    </table>
</form>


<div class="footer-url-back"><img src="{cfgAdminImg}li_menu_item_{cId}.gif" /><a href="{module.parent}?stPage={stPage}">вернуться к списку групп подписчиков</a></div>
<br><br>

<h1 class="txt-page-ob">Список подписчиков группы</h1>

<div class="box-link-add"><img class="finger" onclick="addNewSubscriber()" src="{cfgAdminImg}btn-plus.png"> <a class="l1 b txt-10 fb" href="#add_subscriber">добавить подписчика..</a></div>

<div class="block">
    <form method="POST">
        <input type="hidden" name="frmSearch" value="true"/>
        <table cellPadding="2" cellSpacing="1" style="background-color:#{cThirdColor}; border: 1px solid #BFBFBF;" width="400px">
            <tr><td colspan="3">Искать записи по...</td></tr>
            <tr>
                <td width="30%">...ID:</td>
                <td><input type="text" id="intID2Find" name="intID2Find" class="plane x-small" value="{intID2Find}" maxlength=5 /></td>
                <td rowspan="4" class="search_form_button">
                    <input type="submit" name="submit" class="plane finger" value="искать" />
                </td>
            </tr>
            <tr>
                <td>...email:</td>
                <td><input type="text" id="strEmail2Find" name="strEmail2Find" class="plane" value="{strEmail2Find}" maxlength=255 style="width:100%" /></td>
            </tr>
        </table>
    </form>
</div>

{blockPaginator}
<table class="tbl list-items">
    <thead>
        <th width="20">ID</th>
        <th>Email подписчика</th>
        <th>ФИО подписчика</th>
        <th width="126">Дата подписки</th>
        <th width="90">Опции</th>
    </thead>
    <loop subscribers>
        <tr>
            <td class="tr"><b>{sus_id}</b></td>
            <td><a href="mailto:{sus_email}">{sus_email}</a></td>
            <td>{sus_name}</td>
            <td>{strDateSubs}</td>
            <td>
                <!--<a href="#" id="row{sus_id}" class="edit_record"><img src="{cfgAdminImg}icon_edit.gif" border=0 hspace=3 title="Редактировать запись"></a>-->
                <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={intRecordId}&act=untache&mid={sus_id}');"><img src="{cfgAdminImg}icon_delete.gif" border=0 hspace=3></a>
            </td>
        </tr>
    </loop subscribers>
</table>
</if form>





<if list>
<script type="text/javascript">
    function addNewGroup() {
        jQuery.fancybox({
            href: '#add_group'
//                , modal: true
        });
    }
</script>

<div class="box-link-add"><img class="finger" onclick="addNewGroup()" src="{cfgAdminImg}btn-plus.png"> <a class="l1 b txt-10 fb" href="#add_group">добавить группу подписчиков..</a></div>

<div id="add_group" class="popup_block">
    <form id="add_group_form" method="post">
        <input type="hidden" name="frmEdit" value="true"/>
        <table>
            <tr>
                <td>Название группы</td>
                <td><input type="text" name="strTitle" value="" class="plane" maxlength="255" placeholder="введите название группы"/></td>
            </tr>
            <tr>
                <td>Описание группы</td>
                <td><textarea name="strDesc" class="plane"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="Сохранить" class="save"/>
    </form>
</div>

{blockPaginator}
<table class="tbl list-items">
    <thead>
        <th width="20">ID</th>
        <th>Наименование группы</th>
        <th width="10%">Кол-во подп.</th>
        <th width="10%">Дата созд.</th>
        <th width="6%">Статус</th>
        <th width="90">Опции</th>
    </thead>
    <loop subscriber.groups>
        <tr>
            <td class="tr"><b>{susg_id}</b></td>
            <td><a href="{module.child}?id={susg_id}&stPage={stPage}">{susg_title}</a></td>
            <td>{intCountSubs}</td>
            <td>{strDateCreate}</td>
            <td align="center">{strStatus}</td>
            <td>
                <!--<a href="{module.child}?id={susg_id}&stPage={stPage}"><img src="{cfgAdminImg}icon_edit.gif" border=0 hspace=3></a>-->
                <!--<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={susg_id}&act=del');"><img src="{cfgAdminImg}icon_delete.gif" border=0 hspace=3></a>-->
            </td>
        </tr>
    </loop subscriber.groups>
</table>
</if list>





<tpl footer>
