<tpl header>
<tpl header.login.true>

<table class="box-page-title"><tr><td><span class="txt-page-ob">Работа с шаблонами сайта</span><br /><span class=txt-page-ob-desc>Раздел служит для создания, изменения, удаления шаблонов страниц сайта</span>{dot1px}</td></tr></table>

{error}

<if lst.templates>
<table cellpadding=2 cellspacing=1 class="tbl list">
    <thead>
        <th width="20">ID</th>
        <th>Название шаблона</th>
        <th width="50">Статус</th>
        <th width="100">Опции</th>
    </thead>
<loop lst.templates>
<tr>
  <td align=center><b>{st_id}</b></td>
	<td class="str"><a href="{module.child}?tpl={st_id}">{st_name}</a></td>
	<td align=center><input type="checkbox" name="arrStatusTemplate[{st_id}]"{status_checked} disabled /></td>
	<td align=center>
        <a href="{module.child}?tpl={st_id}"><img src="{cfgAdminImg}icon_edit.gif" width="25" height="14" border=0 alt="Редактировать шаблон"></a>
<ifa block.root>
&nbsp;<a href="{page.child}?tpl={st_id}&action=delete"><img src="{cfgAdminImg}icon_delete.gif" width="16" height="14" border=0 alt="Удалить шаблон"></a>
</ifa block.root>
<if difference.in.content.{st_id}>
    <a href="#"><img src="{cfgAdminImg}icon_compare.gif" border=0 title="Несовпадение контента в {intDiffs} символов" hspace="2"></a>
</if difference.in.content.{st_id}>
  </td>
</tr>
</loop lst.templates>
</table>
</if lst.templates>

<if lst.empty>
<span class="tab-gb" style="font-size: 10px;"><b>Нет доступных шаблонов страниц...</b></span>
</if lst.empty>

<tpl footer>
