<tpl header>
<tpl header.login.true>

{error}

<if message.noPublish.yes>
<span class="tab-r" align="center"><b>(!) {strNoPublishMessage}</b></span><br /><img src="{cfgAdminImg}break.gif" width="1" height="5"><br />
</if message.noPublish.yes>

<form method="post" id="form_edit">
<input type="hidden" name="frmAddEditTpl" value="true" />
<input type="hidden" name="intIdTpl" value="{intIdTpl}" />
<table class="tbl">
    <tr>
        <td class="tdL">Название шаблона:&nbsp;<span class="tab-r">*</span></b></td>
        <td class="tdR"><input type="text" name="strTplName" value="{strTplName}" class="plane" /></td>
    </tr>
<if difference.in.content>
    <tr>
        <td class="tdD" colspan="2">
        <input type="hidden" id="strFileContent" name="strFileContent" value="{strFileContent}" />

        <div class="warning-box">
            <span class="tab-10-r"><b>Внимание! Шаблон существующий на сайте не совпадает с оригиналом в БД.&nbsp;</b></span><br /><br />
            <div class="tab-gb">Предлагается, восстановить содержимое с сервера, либо записать как есть в БД.
                        Тогда, нажимать кнопку "Заменить" не требуется.</div>
            <button class="warn" onclick="makeChange(); return false;"><span>Заменить</span></button>

            <table class="warn-ch">
            <tr>
                <td><input type="checkbox" name="cbxReadNotice" onClick="doAccept()" /></td>
                <td><span class="tab-10-r">- я ознакомил{u_gender2}, и соглашаюсь с содержимым шаблона</span></td>
            </tr>
            </table>
        </div>

        </td>
    </tr>
</if difference.in.content>
    <tr>
        <td class="tdL">Тело шаблона:&nbsp;<span class="tab-r">*</span></td>
        <td class="tdR"><textarea id="strBody" name="strBody" class="plane-b">{strBody}</textarea></td>
    </tr>
    <tr>
        <td class="tdL">Группа шаблона:&nbsp;<span class="tab-r">*</span></td>
        <td class="tdR">
            <select name="intTplGroup" class="plane" style="width: 300px;">
                <option value="" style="color: #5A5A5A">--------------- Каталог для шаблона ---------------</option>
<loop lst.group>
                <option value="{intIdGroup}"{intTplGroup_selected}>{strNameGroup}</option>
</loop lst.group>
            </select>
        </td>
    </tr>
<if block.tpl.status>
    <tr>
        <td class="tdL">Шаблон доступен:&nbsp;<span class="tab-r">*</span></td>
        <td class="tdR"><input type="checkbox" name="boolStatus"{boolStatus_checked} /></td>
    </tr>
    <tr>
        <td class="tdL">Последняя публикация:&nbsp;</td>
        <td class="tdR">{strLastPublishDate}</td>
    </tr>
</if block.tpl.status>
    <tr>
        <td colspan=2 class="tdD">
            <table>
                <tr>
                    <td><input type="checkbox" id="cbxPublish" name="cbxPublish" checked /></td>
                    <td><label for="cbxPublish" class="finger tab-gb">- применить изменения в шаблоне к сайту</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn_checked} /></td>
                    <td><label for="cbxReturn" class="finger tab-gb">- вернуться к редактированию после сохранения</label></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan=2 class="tdDR">
            <div class="footer-url-back fl"><img src="{cfgAdminImg}li_menu_item_{cId}.gif" /><a href="{module.parent}">вернуться к списку</a></div>
            <div class="tab-r">* - поля обязательные для заполнения.</div>
        <input type="submit" value="сохранить" class="btn save" id="smbSaveDoc" name="smbSaveDoc" /></td>
    </tr>
</table>
</form>


<if difference.in.content>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
    $('#smbSaveDoc').attr('disabled', true);
});

function makeChange() {
    $('#strBody').text($('#strFileContent').val());
    $('#cbxReadNotice').attr('checked', 'true');
    $('#smbSaveDoc').attr('disabled', false);
    alert("Вы восстановили код с сервера!\nСохраните Ваши изменения, или вернитесь к списку.");
    $('.warning-box').hide(777);
    $('#cbxPublish').attr('checked', true);
}
//]]>
</script>
</if difference.in.content>



<tpl footer>
