<tpl header>
<tpl header.login.true>

<table class="box-page-title"><tr><td><span class="txt-page-ob">УТИЛИТЫ</span><br /><span class="txt-page-ob-desc">Раздел для работы с утилитами CMS.</span>{dot1px}</td></tr></table>

{error}

<tpl footer>
