<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
    <span class="txt-page-ob-desc">Раздел для работы с тренингами.</span>{dot1px}</td>
</tr>
</table>
{error}

<form method="POST">
    <input type="hidden" name="frmSearch" value="true"/>
    <table cellPadding="2" cellSpacing="1" style="background-color:#{cThirdColor}; border: 1px solid #BFBFBF;" width="400px">
        <tr><td colspan="3">Искать записи по...</td></tr>
        <tr>
            <td width="30%">...ID:</td>
            <td><input type="text" id="intID2Find" name="intID2Find" class="plane x-small" value="{intID2Find}" maxlength=5 /></td>
            <td rowspan="4" class="search_form_button">
                <input type="submit" name="submit" class="plane finger" value="искать" />
            </td>
        </tr>
        <tr>
            <td>...названию:</td>
            <td><input type="text" name="strWord2Find" class="plane" value="{strWord2Find}" maxlength=255 /></td>
        </tr>
    </table>
</form>

{blockPaginator}
<table class="tbl list-items">
    <thead>
        <th width="5%">ID</th>
        <th>Заголовок</th>
        <th width="6%">Статус</th>
        <th width="10%">Опции</th>
    </thead>
    <loop trainings>
        <tr>
            <td><b>{str_id}</b></td>
            <td><a href="{module.child}?id={str_id}&stPage={stPage}">{str_title}</a></td>
            <td align="center"><input type="checkbox" name="cbxStatus" {cbxStatus} disabled /></td>
            <td>
                <a href="{module.child}?id={str_id}&stPage={stPage}"><img src="{cfgAdminImg}icon_edit.gif" border=0 hspace=3 /></a>
                <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={str_id}&act=del');"><img src="{cfgAdminImg}icon_delete.gif" border=0 hspace=3 /></a>
            </td>
        </tr>
    </loop trainings>
</table>


<tpl footer>
