<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob">Поиск пользователя</span><br />
    <span class="txt-page-ob-desc">Раздел для работы с пользователями.</span>{dot1px}</td>
</tr>
</table>

<br /><img src="{cfgAdminImg}break.gif" width=1 height=3><br />
{error}

<table border="0" cellpadding="3" cellspacing="1" width="450">
  <tr><form method="POST">
    <input type="hidden" name="frmUserSearch" value="true">
    <td class="tdL" align="right">ФИО пользователя : </td>
    <td class="tdR"><input type="text" name="strUserNameSearch" value="{strUserNameSearch}" class="plane" style="width:250"></td>
  </tr>
  <tr>
    <td class="tdL" align="right">Логин : </td>
    <td class="tdR"><input type="text" name="strUserLoginSearch" value="{strUserLoginSearch}" class="plane"></td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <input type="submit" name="submit" value="поиск" class="btn enter"/>
    </td></form>
  </tr>
</table>

<if is.searched>
<table class="tbl list">
    <thead>
        <th width="5%">ID</th>
        <th>ФИО пользователя</th>
        <th>Логин</th>
        <th>Последний вход</th>
        <th width="10%">Опции</th>
    </thead>
<loop list.users>
    <tr>
        <td>{cu_id}</td>
        <td>{strFIO}</td>
        <td>{cu_login}</td>
        <td>{strLastEnter}</td>
        <td><a href="{module.child}?idManager={cu_id}"><img src="{cfgAdminImg}icon_edit.gif" border="0"></a></td>
    </tr>
</loop list.users>
</table>
</if is.searched>


<tpl footer>
