<tpl header>
<tpl header.login.true>

{help.module}

<table class="box-page-title"><tr><td><span class="txt-page-ob">Список пользователей</span><br /><span class=txt-page-ob-desc>Для редактирования/удаления/изменения доступа пользователя, воспользуйтесь нужной опцией.</span>{dot1px}</td></tr></table>

{error}

{blockPaginatorTop}
<table class="tbl list">
    <thead>
    <th width="300">ФИО пользователя</th>
    <th width="150">Логин</th>
    <th width="150">Тип доступа</th>
    <th width="170">Последний вход</th>
    <th width="80">Опции</th>
    </thead>
    <loop users>
        <tr>
            <td {bgRow}><a href="{module.name.child}?idManager={intIdManager}&stPage={stPage}" title="ID:{intIdManager}">{strFIOManager}</a></td>
            <td {bgRow}><span class="base-10-s">{strLoginManager}</span></td>
            <td {bgRow}><span class="tab-gb">{strTypeAccess}</span></td>
            <td {bgRow}><span class="tab-gb">{strLastEnter}</span></td>
            <td {bgRow} align="center">
                <a href="{module.name.child}?idManager={intIdManager}&stPage={stPage}"><img src="{cfgAdminImg}icon_edit.gif" width="25" height="14" border="0" alt="Редактировать" vspace="3"></a>&nbsp;
                <a href="javascript:confirmDelete('{module.name}?id={intIdManager}&action=delete&stPage={stPage}', 'Запись будет удалена безвозвратно,\nтакже будут удалены все связи и права доступа!');"><img src="{cfgAdminImg}icon_delete.gif" border="0" alt="Удалить" vspace="3"></a>&nbsp;
            </td>
        </tr>
    </loop users>
</table>

<br />
{blockPaginator}
<br />
<table class="table-form-legend">
    <tr>
        <td class="{clrInActiveUser}">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><span> - отключённые пользователи</span></td>
    </tr>
    <tr>
        <td class="{clrActiveUser}">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><span> - текущий пользователь</span></td>
    </tr>
</table>

<tpl footer>
