<tpl header>
<tpl header.login.true>

{help.module}

<script language="JavaScript" type="text/javascript">
    var winLocURL = '';
    function sortMethods ( sort ) {
        objHrefReload = '{urlReload}' + '&sort='+sort+'#sort';
        window.location.replace(objHrefReload);
    }
</script>

<table class="box-page-title">
    <tr><td><span class="txt-page-ob">Редактирование атрибутов пользователя</span> <span>{strEditUserName}</span><br />
        <span class=txt-page-ob-desc>Измените свойства пользователя, его доступ к модулям администрирования.</span>{dot1px}</td></tr></table>
{error}

<form method="post" name="editUser">
<input type="hidden" name="frmUserAddEdit" value="true"/>
<input type="hidden" name="intIdUser" value="{intIdEditUser}"/>
<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>
            <table cellpadding="2" cellspacing="0" width="650">
                <tr>
                    <td class="tdL" align="right" width="190"><span>Фамилия:<span class="tab-r">*</span>&nbsp;</span></td>
                    <td class="tdR"><input type="text" name="strLNameUser" value="{strLNameUser}" class="plane" style="width:200px;"></td>
                </tr>
                <tr>
                    <td class="tdL" align="right" width="190"><span>Имя:<span class="tab-r">*</span>&nbsp;</span></td>
                    <td class="tdR"><input type="text" name="strFNameUser" value="{strFNameUser}" class="plane" style="width:200px;"></td>
                </tr>
                <tr>
                    <td class="tdL" align="right" width="190"><span>Отчество:&nbsp;</span></td>
                    <td class="tdR"><input type="text" name="strPNameUser" value="{strPNameUser}" class="plane" style="width:200px;"></td>
                </tr>
                <tr>
                    <td class="tdL" align="right" width="190"><span>Логин:<span class="tab-r">*</span>&nbsp;</span></td>
                    <td class="tdR"><input type="text" name="strLoginUser" value="{strLoginUser}" class="plane" style="width:200px;"></td>
                </tr>
                <tr>
                    <td class="tdL" align="right" width="190"><span>Пароль:<sup class="tab-r">1</sup>&nbsp;</span></td>
                    <td class="tdR"><input type="text" name="strPassUser" value="{strPassUser}" class="plane" style="width:200px;"></td>
                </tr>
                <tr>
                    <td class="tdL" align="right" width="190"><span>E-mail:&nbsp;</span></td>
                    <td class="tdR"><input type="text" name="strEmailUser" value="{strEmailUser}" class="plane" style="width:200px;"></td>
                </tr>
                <tr>
                    <td class="tdL" align="right" width="190"><span>Пол:<span class="tab-r">*</span>&nbsp;</span></td>
                    <td class="tdR">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td><input type="radio" name="bolSexUser" value="m"{bolSexUser_m}></td>
                                <td><span>- муж</span></td>
                                <td><input type="radio" name="bolSexUser" value="f"{bolSexUser_f}></td>
                                <td><span>- жен</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="tdL" align="right" width="190"><span>Статус:&nbsp;</span></td>
                    <td class="tdR"><input type="checkbox" name="chUserStatus"{chUserStatus}></td>
                </tr>
                <tr>
                    <td class="tdL" align="right" width="190"><span>Группа:&nbsp;</span></td>
                    <td class="tdR">
                        <select name="intGroupID" class="plane">
                            <loop list.user.groups>
                                <option value="{intGroupID}"{intGroupID_sel}>{strGroupName}</option>
                            </loop list.user.groups>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="tab-r">* - <i>поля обязательны для заполнения</i>.</span><br />
                        <span class="tab-r">1 - <i>если добавляется новый пользователь, то необходимо указать пароль</i></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input type="submit" name="saveUserInfo" value="сохранить" class="btn save"/>
                    </td>
                </tr>
            </table>
        <td>
    </tr>
</table>


<div class="block">
    <img src="{cfgAdminImg}li_item_page_{cId}.gif" width=4 height=11>&nbsp;<a href="{module.name.parent}?stPage={stPage}">Вернуться к списку пользователей</a>
</div>


<if access.prj>
<br><br>
<script type="text/javascript">
    var arrProjectModuleAccess = [];
    var arrModules = {arrJsonModules};
</script>

{error_project}

<table cellpadding="0" cellspacing="0" width="99%">
    <tr><td><span class="txt-page-ob">Параметры доступа пользователя к проектам</span><br />
        <span class=txt-page-ob-desc>Измените доступ к администрированию проектов.</span>{dot1px}</td></tr>
</table>


<table cellpadding="2" cellspacing="0" width="650" id="tbl_prj_accesses">
    <loop lst.projects>
        <tr>
            <td class="tdL" align="center" width="20"><input type="checkbox" id="arrAccessProject{fp_id}" value="{fp_id}" name="arrAccessProject[{fp_id}]"{arrAccessProjectChecked} class="access_prj_trigger" /></td>
            <td class="tdR"><span id="prj_title{fp_id}">{fp_name}</span><a href="#block_modules_access" class="link" id="link_prj_title{fp_id}" data="{fp_id}">{fp_name}</a>
                <script type="text/javascript">
                    arrProjectModuleAccess.push({{fp_id}: {arrProjectModuleAccess}});
                </script>
            </td>
        </tr>
    </loop lst.projects>
    <tr><td colspan="2" align="right"><input type="submit" name="saveUserProjects" value="сохранить" class="btn save"></td></tr>
</table>
</form>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.access_prj_trigger').each(function () {
            checkIfActivePrj( $(this) );
        });

        $('.access_prj_trigger').click(function () {
            checkIfActivePrj( $(this) );
        });

        /**
         * Проверяет, если чекбокс по проекту выбран
         */
        function checkIfActivePrj(jQEl) {
            var id = jQEl.val();
            if ( jQEl.is(':checked') ) {
                $('#prj_title'+id).hide();
                $('#link_prj_title'+id).show();
            } else {
                $('#prj_title'+id).show();
                $('#link_prj_title'+id).hide();
            }
        }

        $('#tbl_prj_accesses .link').fancybox().click(function () {
            if (isArray(arrModules) && arrModules.length) {
                for (var x=0; x<arrModules.length; x++) {
                    if ($('#module'+arrModules[x])) {
//                        console.log('module ' + arrModules[x]);
                        $('#module'+arrModules[x]).attr('checked', false);
                    }
                }
            }

            var prj_id = $(this).attr('data');
            if (prj_id > 0) {
                $('#intIdPrj').val( prj_id );

//                console.log('prj_id '+prj_id);

                if (arrProjectModuleAccess.length) {
                    for (var i=0; i<arrProjectModuleAccess.length; i++) {
                        if (isArray(arrProjectModuleAccess[i][prj_id])) {
                            var arrPrjModules = arrProjectModuleAccess[i][prj_id];
                            if (arrPrjModules.length) {
                                for (var c=0; c<arrPrjModules.length; c++) {
                                    if ($('#module'+arrPrjModules[c])) {
                                        if (!$('#module'+arrPrjModules[c]).is(':checked')) {
                                            $('#module'+arrPrjModules[c]).attr('checked', true);
//                                            console.log('module '+arrPrjModules[c]);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        });
    });
</script>
</if access.prj>


<if is.modules>
<script type="text/javascript">
    var selected = false;
    var allSelected = true;

    jQuery(document).ready(function ($) {
        $('.cbx_module_access').each(function () {
            if ( !$(this).is(':checked') ) {
                allSelected = false;
                return;
            }
        });

        $('#checkAll').click(function () {
            if (allSelected) {
                // снять отметку со всех
                allSelected = false;
                $('.cbx_module_access').prop('checked', allSelected);
            } else {
                // поставить отметку на всех
                allSelected = true;
                $('.cbx_module_access').prop('checked', allSelected);
            }

            setBtnCheckAll();
        });


        /**
         * Установить текст кнопки
         */
        function setBtnCheckAll() {
            if (allSelected) {
                $('#checkAll').val('Снять отметку со всех');
            } else {
                $('#checkAll').val('Отметить все');
            }
        }

        setBtnCheckAll(); // do it once
    });
</script>

{error_modules}

<div style="display: none">
    <div id="block_modules_access">
        <form method="post" id="editUserModulesAccess">
            <input type="hidden" name="intIdUser" value="{intIdEditUser}"/>
            <input type="hidden" id="intIdPrj" name="intIdPrj" value=""/>
            <input type="hidden" name="frmUserEditModulesAccess" value="true"/>
            <table width="100%" id="tbl_modules_accesses">
                <tr><td colspan="3"><span class="txt-page-ob">Параметры доступа пользователя к модулям администрирования</span><br /><span class=txt-page-ob-desc>Измените доступ к модулям администрирования.</span></td></tr>
                <tr><td colspan="3"><input id="checkAll" type="button" value="Select All" /></td></tr>

                <if jimmy>
                    <tr>
                        <td colspan="3"><a name="sort"></a>
                            <b class="tab-gb">Сортировать модули по</b>:
                            <select name="sbxSortModules" class="plane" style="width:200px" onChange="sortMethods(this.options[this.selectedIndex].value)">
                                <option value="id"{id_sel}>ID</option>
                                <option value="alias"{alias_sel}>альясу</option>
                                <option value="name"{name_sel}>названию</option>
                            </select>
                        </td>
                    </tr>
                </if jimmy>


                <tr>
                    <loop list.modules>
                        <td valign="top">
                            <table border="0" cellpadding="2" cellspacing="0" width="100%">
                                <loop list.sub.modules.{keyArr}>
                                <tr>
                                    <td><input type="checkbox" class="cbx_module_access" id="module{moduleID}" name="arrModules[{moduleID}]" /></td>
                                    <td><span class="{moduleCssClass}">{moduleName}</span> <span class="txt-9-b">[ID:{moduleID}]</span><br />
                                        <span class="txt-page-ob-desc"> {moduleAlias}</span></td>
                                </tr>
                                </loop list.sub.modules.{keyArr}>
                            </table>
                        </td>
                    </loop list.modules>
                </tr>

                <tr>
                    <td align="right" colspan="3">
                        <input type="submit" name="saveUserPermissions" value="сохранить" class="btn save">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</if is.modules>




<tpl footer>
