<tpl header>
<tpl header.login.true>

<table class="box-page-title" width="100%" align="center">
    <tr valign="top">
        <td>

            <if module.access.error>
                <br /><p class="tab-r" align="center"><b>Внимание! У Вас нет прав на доступ к модулю.</b><br />Если вы считаете это неправомерным, обратитесь к разработчику.<br />
                Если у Вас есть доступ к модулю «Пользователи», установите нужные права на доступ к данному модулю.
            </if module.access.error>

            <if module.exists.error>
                <br /><p class="tab-r" align="center"><b>Внимание! Модуль `{strRequestedModuleName}` не найден.</b><br />Возможно модуль был удален, перемещен и/или переименован
            </if module.exists.error>

            <if block.user>
                <br /><p align="center">Уважаем{u_gender} <b>{strUserName}</b>, добро пожаловать в <b>CMS (Content Management System)</b> ver. {strNumVersion}
            </if block.user>

        </td>
    </tr>
</table>

<center><p style="margin:100px 0 0 0;color:#e3e3e3;font:47px bold Verdana;">{projectName}</p></center>

<tpl footer>
