<tpl header>
<tpl header.login.true>

<table class="box-page-title"><tr><td><span class="txt-page-ob">Группы пользователей</span><br /><span class="txt-page-ob-desc">Раздел для работы с группами пользователей.</span>{dot1px}</td></tr></table>

{error}

<table class="tbl list">
    <thead>
        <th width="5%">ID</th>
        <th>Название</th>
        <th>Статус</th>
        <th width="15%">Опции</th>
    </thead>
<loop list.users.group>
    <tr>
        <td>{cug_id}</td>
        <td>{cug_name}</td>
        <td align="center"><input type="checkbox" name="groupStatus"{chStatus}></td>
        <td align="center"><a href="{module.name}?action=edit&groupID={cug_id}"><img src="{cfgAdminImg}icon_edit.gif" border=0></a></td>
    </tr>
</loop list.users.group>
</table>

<tpl footer>
