<tpl header>
<tpl header.login.true>

<script type="text/javascript">
    $(function(){
        $('.picker').datepicker({
            showOn: "button",
            buttonImage: "{cfgAdminImg}calendar_icon.png",
            buttonImageOnly: true,
            dateFormat: "dd.mm.yy",
            changeYear: true
        });
        $('#strDateFrom').datepicker({
            showOn: "button",
            buttonImage: "{cfgAdminImg}calendar_icon.png",
            buttonImageOnly: true,
            dateFormat: "dd.mm.yy",
            changeYear: true,
            onClose: function( selectedDate ) {
                $( "#strDateTo" ).datepicker( "option", "minDate", selectedDate );
            }
        });
        $('#strDateTo').datepicker({
            showOn: "button",
            buttonImage: "{cfgAdminImg}calendar_icon.png",
            buttonImageOnly: true,
            dateFormat: "dd.mm.yy",
            changeYear: true,
            onClose: function( selectedDate ) {
                $( "#strDateFrom" ).datepicker( "option", "maxDate", selectedDate );
            }
        });
        $('#strSalaryFrom').spinner({
            min: 0,
            step: 5000,
            change: function( event, ui ) {
                $('#strSalaryTo').spinner({
                    min: $('#strSalaryFrom').val(),
                    step: 5000
                }).blur();
            },
            spin: function( event, ui ) {
                $('#strSalaryTo').spinner({
                    min: $('#strSalaryFrom').val(),
                    step: 5000
                }).blur();
            }
        });
        $('#strSalaryTo').spinner({
            min: 0,
            step: 5000,
            change: function( event, ui ) {
                $('#strSalaryFrom').spinner({
                    max: $('#strSalaryTo').val(),
                    step: 5000
                }).blur();
            },
            spin: function( event, ui ) {
                $('#strSalaryFrom').spinner({
                    max: $('#strSalaryTo').val(),
                    step: 5000
                }).blur();
            }
        });
        $( "#rbEdu" ).buttonset();
        $( "#rbSex" ).buttonset();
        $( "#cbxTrips" ).button().change(function(){
            if($(this).is(":checked")) {
                $( "#lTrips>span" ).text("да");
            } else {
                $( "#lTrips>span" ).text("нет");
            }
        });
        if($("#cbxTrips").is(":checked")) {
            $( "#lTrips>span" ).text("да");
        } else {
            $( "#lTrips>span" ).text("нет");
        }
        $( "#cbxDriver" ).button().change(function(){
            if($(this).is(":checked")) {
                $( "#lDriver>span" ).text("обязательно");
            } else {
                $( "#lDriver>span" ).text("неважно");
            }
        });
        if($("#cbxDriver").is(":checked")) {
            $( "#lDriver>span" ).text("обязательно");
        } else {
            $( "#lDriver>span" ).text("неважно");
        }
        var citiesSource = [{strCities}];
        $('#strCity').autocomplete({source: citiesSource, minLength: 3});
        $('#strCompanyCity').autocomplete({source: citiesSource, minLength: 3});
        $('#tabs').tabs();
        $('#strCompany').autocomplete({
            source: "search_cmp.php",
            minLength: 2,
            select: function( event, ui ) {
                if(ui.item) {
                    $('#intCompanyId').attr("value", ui.item.jc_id);
                    if (!isEmpty(ui.item.jc_type)) {
                        $('input[value='+ui.item.jc_type+']').attr("checked", true);
                    }
                    if (!isEmpty(ui.item.jc_city)) {
                        $('#strCompanyCity').attr("value", ui.item.jc_city);
                    }
                    if (!isEmpty(ui.item.jc_email)) {
                        $('#strCompanyEmail').attr("value", ui.item.jc_email);
                    }
                    if (!isEmpty(ui.item.jc_phone)) {
                        $('#strCompanyPhone').attr("value", ui.item.jc_phone);
                    }
                    if (!isEmpty(ui.item.jc_web)) {
                        $('#strWeb').attr("value", ui.item.jc_web);
                    }
                    if (!isEmpty(ui.item.jc_address)) {
                        $('#strAddress').text(ui.item.jc_address);
                    }
                    if (!isEmpty(ui.item.jc_description)) {
                        $('#strCompanyDescription').text(ui.item.jc_description);
                    }
                }
            }
        });
    });
</script>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
    <span class="txt-page-ob-desc">Раздел для работы с формой вакансии.</span>{dot1px}</td>
</tr>
</table>
{error}

<p><a href="{module.parent}?stPage={stPage}">&lt;&lt;&lt; вернуться к списку</a></p>

<form method="post" enctype="multipart/form-data" id="form_edit">
<input type="hidden" name="frmEdit" value="true" />
<input type="hidden" name="intRecordId" value="{intRecordId}" />

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Информация о вакансии</a></li>
        <li><a href="#tabs-2">Информация о компании</a></li>
        <li><a href="#tabs-3">SEO</a></li>
    </ul>

    <div id="tabs-1">
        <table class="tbl">
            <tr>
                <td class="tdL">Должность:&nbsp;<span class=tab-10-r>*</span></td>
                <td class="tdR"><input type="text" name="strTitle" class="plane" value="{strTitle}" maxlength="255" /></td>
            </tr>
            <tr>
                <td class="tdL">Предлагаемая зарплата: </td>
                <td class="tdR"><input type="text" id="strSalaryFrom" name="strSalaryFrom" class="x-small tr" value="{strSalaryFrom}" maxlength="9" placeholder="от" /> &mdash; <input type="text" id="strSalaryTo" name="strSalaryTo" class="x-small tr" value="{strSalaryTo}" maxlength="9" placeholder="до" /> руб./
                    <select name="salaryFor" id="salaryFor">
                        <option value="0">месяц</option>
                        <option value="1">неделю</option>
                        <option value="2">день</option>
                        <option value="3">час</option>
                        <option value="4">год</option>
                    </select>
                    <i class="txt-10-gray">(!) можно указать что-то одно, "от" или "до"</i></td>
            </tr>

            <tr>
                <td class="tdL">Город:&nbsp;<span class=tab-10-r>*</span></td>
                <td class="tdR"><input type="text" id="strCity" name="strCity" class="plane" value="{strCity}" maxlength="128" /></td>
            </tr>
            <tr>
                <td class="tdL">Пол кандидата:</td>
                <td class="tdR">
                    <div id="rbSex">
                        <input type="radio" name="rbSex" id="rbSex1" value="" checked /> <label for="rbSex1">неважно</label>
                        <input type="radio" name="rbSex" id="rbSex2" value="male"{jv_sex_male}/> <label for="rbSex2">мужской</label>
                        <input type="radio" name="rbSex" id="rbSex3" value="female"{jv_sex_female}/> <label for="rbSex3">женский</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdL">Требуемое образование:</td>
                <td class="tdR">
                    <div id="rbEdu">
                        <loop education.types>
                            <input type="radio" name="rbEdu" id="rbEdu{jet_id}" value="{jet_id}"{checked}/><label for="rbEdu{jet_id}">{jet_title}</label>
                        </loop education.types>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdL">Предстоящая занятость: <!--&nbsp;<span class=tab-10-r>*</span>--></td>
                <td class="tdR">
                    <ul>
                        <loop workbusy.types>
                            <li class="clearer"><label><input type="radio" name="rbWorkbusy" value="{jw_id}"{checked} class="fl"/> &mdash; {jw_title}</label></li>
                        </loop workbusy.types>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tdL">Наличие водительского удостоверения:</td>
                <td class="tdR"><input type="checkbox" name="cbxDriver" id="cbxDriver" value="Y"{jv_driver_Y}/><label id="lDriver" for="cbxDriver">неважно</label></td>
            </tr>

            <tr>
                <td class="tdL">Готовность к командировкам:</td>
                <td class="tdR"><input type="checkbox" id="cbxTrips" name="cbxTrips" value="Y"{jv_trips_Y}/><label id="lTrips" for="cbxTrips">нет</label></td>
            </tr>
            <tr>
                <td class="tdL">Дополнительная информация:</td>
                <td class="tdR"><textarea name="strDescription" class="plane">{strDescription}</textarea></td>
            </tr>
            <tr>
                <td class="tdL">Контактное лицо:</td>
                <td class="tdR"><input type="text" id="strContactPerson" name="strContactPerson" class="plane" value="{strContactPerson}" maxlength="255" placeholder="ФИО" /></td>
            </tr>
            <tr>
                <td class="tdL">Телефон:&nbsp;<span class=tab-10-r>**</span></td>
                <td class="tdR"><input type="text" name="strPhone" class="plane medium" value="{strPhone}" maxlength="128" /> <i class="txt-10-gray">(!) либо телефон либо Email должен быть указан</i></td>
            </tr>
            <tr>
                <td class="tdL">Email:&nbsp;<span class=tab-10-r>**</span></td>
                <td class="tdR"><input type="text" name="strEmail" class="plane medium" value="{strEmail}" maxlength="128" /> <i class="txt-10-gray">(!) либо телефон либо Email должен быть указан</i></td>
            </tr>
            <tr>
                <td class="tdL">Дата публикации:</td>
                <td class="tdR">{strDatePublish}</td>
            </tr>
        </table>
    </div>

    <!--КОМПАНИЯ-->
    <div id="tabs-2"><input type="hidden" id="intCompanyId" name="intCompanyId" value="{intCompanyId}"/>
        <table class="tbl">
            <tr>
                <td class="tdL">Наименование компании:<!--&nbsp;<span class=tab-10-r>*</span>--></td>
                <td class="tdR"><input type="text" id="strCompany" name="strCompany" class="plane" value="{strCompany}" maxlength="255" /><br>
                    <i class="txt-10-gray">Начните набирать название, и если компания уже заведена, выберите из списка!</i><br>
                    <i class="txt-10-gray">Наличие в названии хотя бы одного лишнего символа - создаст новую компанию!</i>
                </td>
            </tr>
            <tr>
                <td class="tdL">Наниматель:</td>
                <td class="tdR">
                    <ul>
                        <li class="clearer"><label><input type="radio" name="rbAgency" value="direct"{jc_type_direct} class="fl"/> &mdash; прямой работодатель</label></li>
                        <li class="clearer"><label><input type="radio" name="rbAgency" value="recrut"{jc_type_recrut} class="fl"/> &mdash; кадровое агентство</label></li>
                    </ul>
                </td>
            </tr>
            <!--tr>
                <td class="tdL">Логотип компании:&nbsp;<br /><span class="txt-page-ob-desc">в формате JPEG (JPG)</span></td>
                <td class="tdR">
                    <if exist.image>
                        <a href="{cfgAllImg}news/news.photo.{intRecordId}.b.jpg" target="_blank"><img src="{cfgAllImg}news/news.photo.{intRecordId}.jpg" /></a>  | <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={intRecordId}&act=del');">удалить фото</a>
                    </if exist.image>
                    <if no.image>
                        <input type="file" name="flPhoto" class="plane" />
                    </if no.image>
                </td>
            </tr-->
            <tr>
                <td class="tdL">Город:</td>
                <td class="tdR"><input type="text" id="strCompanyCity" name="strCompanyCity" class="plane" value="{strCompanyCity}" maxlength="128" /></td>
            </tr>
            <tr>
                <td class="tdL">Адрес:</td>
                <td class="tdR"><textarea id="strAddress" name="strAddress" class="plane">{strAddress}</textarea></td>
            </tr>
            <tr>
                <td class="tdL">Web-сайт компании:</td>
                <td class="tdR"><input type="text" id="strWeb" name="strWeb" class="plane" value="{strWeb}" maxlength="255" /></td>
            </tr>
            <tr>
                <td class="tdL">Email компании:</td>
                <td class="tdR"><input type="text" id="strCompanyEmail" name="strCompanyEmail" class="plane" value="{strCompanyEmail}" maxlength="255" /></td>
            </tr>
            <tr>
                <td class="tdL">Телефон компании:</td>
                <td class="tdR"><input type="text" id="strCompanyPhone" name="strCompanyPhone" class="plane" value="{strCompanyPhone}" maxlength="64" /></td>
            </tr>
            <tr>
                <td class="tdL">Описание компании:</td>
                <td class="tdR"><textarea id="strCompanyDescription" name="strCompanyDescription" class="plane">{strCompanyDescription}</textarea></td>
            </tr>
        </table>
    </div>

    <!--SEO-->
    <div id="tabs-3">
        <table class="tbl">
            <tr>
                <td class="tdL">META DESCRIPTION:<br /><span class="txt-page-ob-desc">описание данной страницы</span> </td>
                <td class="tdR">
                    <textarea id="strMetaDesc" name="strMetaDesc" class="plane">{strMetaDesc}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tdL">META KEYWORDS:<br /><span class="txt-page-ob-desc">ключевые фразы для поисковых роботов</span> </td>
                <td class="tdR">
                    <textarea id="strMetaKeywords" name="strMetaKeywords" class="plane">{strMetaKeywords}</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>




<table class="tbl">
    <tr>
        <td colspan=2 class="tdD">
            <table>
                <tr>
                    <td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus} /></td>
                    <td class="tab-gb"><label for="cbxStatus">- статус активности</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn} /></td>
                    <td class="tab-gb"><label for="cbxReturn">- вернуться к редактированию после сохранения</label></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="tdDR">
            <div class="footer-url-back fl"><img src="{cfgAdminImg}li_menu_item_{cId}.gif" /><a href="{module.parent}?stPage={stPage}">вернуться к списку</a></div>
            <div class="tab-r">* - поля обязательные для заполнения.</div>
            <input type="submit" name="submit" value="сохранить" class="btn save" />
            <if record.exists>
                <input type="button" name="removeRecord" value="удалить" class="btn reset" onclick="confirmDelete('{module.parent}?stPage={stPage}&id={intRecordId}&act=del');" />
            </if record.exists>
        </td>
    </tr>
</table>
</form>





<tpl footer>
