<tpl header>
<tpl header.login.true>

<table class="box-page-title">
<tr>
  <td><span class="txt-page-ob"><b>{module.title}</b></span><br>
    <span class="txt-page-ob-desc">Раздел для работы с изображением Зоны Распространения.</span>{dot1px}</td>
</tr>
</table>
{error}


<b>ФОРМА ЗАГРУЗКИ ИЗОБРАЖЕНИЯ</b>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="frmEditForm" value="true">

    <table class="cms-box">
        <tr>
            <td>
                <table cellpadding=2 cellspacing=1 width=600>
                    <tr>
                        <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Файл изображения:&nbsp;</span><span class=tab-10-r>*</span><br>
                            <if is.image><span class="txt-page-ob-desc">Примечание: изображение-миниатюра всегда одно и то же. Меняется только большой файл. Кликните на изображение-миниатюру и отобразится большое фото Зоны распространения.</span><br><br></if is.image>
                            <span class="txt-page-ob-desc">Чтобы загрузить файл - нажмите кнопку Browse..., выберите нужный файл и нажмите Сохранить.</span><br>
                            <if is.image><span class="txt-page-ob-desc">Для проверки сохраненного фото нажмите на изображение-миниатюру. =></span></if is.image>
                        </td>
                        <td width="75%" class="tdR">
                            <if is.image>
                                <p><a href="{cfgAllImg}zone/{strFileName}" class="link-blue fb"><img src="{cfgSiteImg}content/distribution.png" alt="Зона распространения"/></a></p>
                            </if is.image>
                            <input type="file" name="flPhoto" class="file" style="min-width:400px">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" align="right" height="40">
                            <input type="submit" name="submit" value="сохранить" class="btn save">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>


<tpl footer>
