<h3>Все вакансии</h3>

<div class="block">{blockPaginator}</div>
<div class="vacancies list clearer">
<loop list.vacancies>
<div class="row">
    <div class="cell col1"><a href="{cfgSiteUrl}vacancy/{strSeoUrl}">{strTitle}</a>
        <p>{strDescription} <if is.strDescription.{jv_id}><a href="{cfgSiteUrl}vacancy/{strSeoUrl}">&raquo;</a></if is.strDescription.{jv_id}></p>
    </div>
    <div class="cell clearer"><span class="salary">{strSalary}</span></div>
</div>
</loop list.vacancies>
</div>
<br>
<div class="block">{blockPaginator}</div>

<div class="seo_text">
    <h4>Найти работу в Санкт-Петербурге среди вакансий наших клиентов</h4>
    <p>Если на данный момент вы заняты активным поиском работы в компаниях Петербурга, то здесь вы сможете
        ознакомиться с возможнымипредложениями и разместить собственное резюме для потенциальных работодателей.
        <strong>Найти работу в Санкт-Петербурге</strong> непросто, но реально. Все зависит от ваших возможностей и требований к
        потенциальной работе. Для начала необходимо правильно <strong>составить резюме</strong>. А для этого стоит выделить ваши
        сильные стороны и правильно ихпреподнести. Необходимо выбирать работу, которая отлично подойдет к вашим
        сильным сторонам и позволит поработать над слабыми, чтобы в дальнейшем слабые стороны не бросались в глаза
        и не мешали вам качественно выполнять возложенные функции. Хорошую работу найти в Санкт-Петербурге намного
        проще, чем потом ее удержать.
    </p>

    <h4>Не можете найти работу в Санкт-Петербурге?</h4>
    <p>Не отчаивайтесь. <a href="{cfgSiteUrl}all-vacancies" title="Найти работу в Санкт-Петербурге">Найти работу в Санкт-Петербурге</a>
        можно с помощью нашего сайта. Здесь вы ознакомитесь с существующими предложениями, причем для удобства можно воспользоваться поиском.
        Информация на сайте систематизирована и развита по тематическим направлениям. Это удобно для всех соискателей и работодателей.
        Информация постоянно обновляется, регулярно появляются новые вакансии. Старая информация удаляется, поскольку важно учитывать фактор
        времени при поиске работы в Санкт-Петербурге.
    </p>

    <h4>Рекомендации по поиску работы в компаниях Петербурга</h4>
    <p>Информация, представленная на сайте, должна быть краткой, содержать ключевые тезисы вакансии или ваших данных. Лучше представлять данные
        в виде четких пунктов. Это позволит быстрее склонить работодателя к предложению работы. Чтобы гарантированно <strong>найти работу</strong>, необходимо
        помнить о том, что для работодателя ваша рабочая сила - это товар, а значит, раз уж вы задались целью получить вакантную должность, необходимо
        продумать грамотную рекламную кампанию. Мы рады предоставить вам широкие информационные возможности, и вы непременно <strong>найдете работу</strong> в одной из
        компаний Санкт-Петербурга. Информация – это ваш шанс проявить себя. Для поиска высокооплачиваемой работы в Санкт-Петербурге лучше использовать
        всевозможные средства.</p>
</div>
