<h3>Все резюме</h3>

<div class="block">{blockPaginator}</div>
<div class="resumes list clearer">
<loop list.resumes>
<div class="row">
    <div class="cell col1"><a href="{cfgSiteUrl}resume/{strSeoUrl}">{strTitle}</a><p>{strDescription} <if is.strDescription.{jr_id}><a href="{cfgSiteUrl}resume/{strSeoUrl}">&raquo;</a></if is.strDescription.{jr_id}></p></div>
	<div class="cell clearer"><span class="salary">{strSalary}</span></div>
</div>
</loop list.resumes>
</div>
<br>
<div class="block">{blockPaginator}</div>

<div class="seo_text">
    <h4>Быстрый поиск по сотням резюме на сайте нашей газеты</h4>
    <p>Санкт-Петербургская газета «Работа от А до Я» поможет вам в поиске резюме, что упростит для вас процесс подбора кадров.
        Наша газета выходит два раза в неделю тиражом 100 000 экземпляров.</p>

    <h4>Рекомендации по поиску резюме специалистов</h4>
    <p>База соискателей газеты «Работа от А до Я», одна из самых больших в Санкт-Петербурге, ежедневно пополняется новыми резюме.
        Используя инструменты поиска, вы непременно найдете людей с необходимой квалификацией и опытом работы. <strong>Поиск резюме</strong> – это нелегкая
        работа: прежде чем найти хорошее резюме, часто приходится перерабатывать огромное количество информации. На сайте
        газеты «Работа от А до Я» вся информация структурирована, поиск интуитивно понятен, резюме ищут и находят у нас в
        несколько кликов даже HR-менеджеры без опыта работы.</p>

    <h4>Как быстро найти резюме поиском на сайте</h4>
    <p>Для <a href="/all-resumes">поиска резюме</a> воспользуйтесь соответствующим разделом. Вы увидите перечень, структурированный для более удобного
        поискового отбора видам деятельности. Искать резюме профессионала можно бесконечно долго, но <a href="/about">газета вакансий</a> "Работа от А до Я"
        поможет вам в поиске: у нас на сайте постоянно регистрируются новые соискатели.</p>
    <p>Чтобы сузить поиск резюме, воспользуйтесь подразделами поспециальностям. В подразделах находятся постоянно обновляемые
        списки резюме: найти ценного сотрудника для компании можно довольно быстро. Выбрав кандидатуру соискателя, кликните
        на кнопку «Предложить работу», и соискатель сразу же получит Ваше приглашение. Резюмируя все вышесказанное, мы
        надеемся, что совсем немного поискав, вы непременно найдете кандидата на вакантную должность. Поиском по множеству
        свежих резюме в нашей газете давно и успешно пользуются наши постоянные клиенты. Мы надеемся, наш сервис сэкономит
        ваши время и капитал.</p>
</div>
