<h1>
	Контактная информация</h1>
<pre>
Редакция газеты РАБОТА от А до Я
Россия, Санкт-Петербург, Василеостровский район, 11-я линия В.О., 20
Тел. многоканальный: (812) 305-305-7
info@rabota-ya.ru
</pre>