<h1 class="title">
	Rabota-YA.ru поможет Вам найти идеального сотрудника!</h1>
<table width="100%">
	<tbody>
		<tr>
			<td style="width: 26%; padding-right: 10px">
				<p>
					<strong>Портал <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru создан специально для тех, кто ищет персонал в Санкт-Петербурге и Ленинградской области.</strong></p>
				<p>
					Разместив на нашем сайте <span style="color:#ff0000;"><strong>бесплатное</strong></span> объявление, Вы можете быть уверены в результате!</p>
				<p>
					Все объявления на <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru сортируются по сферам профессиональной деятельности, благодаря этому соискателям будет легче найти Вашу вакансию. Вы также можете искать сотрудников с помощью каталога&nbsp; размещенных на сайте резюме или найти понравившихся кандидатов, используя id их публикации.</p>
			</td>
			<td style="width: 26%; padding-right: 10px">
				<p>
					На нашем сайте только<strong> самые актуальные резюме</strong>. Мы ведем постоянную работу по обновлению наших баз данных, чтобы Вы могли найти лучшие кадры.</p>
				<p>
					На нашем сайте соискателям не нужно проходить утомительный процесс регистрации или отправлять электронные запросы, чтобы получить доступ к контактным данным работодателя. Потенциальные сотрудники сразу видят номер телефона и адрес сайта или электронной почты, которые Вы указали в объявлении, что ускоряет процесс найма. Мы стремимся организовывать прямое общение</p>
			</td>
			<td style="width: 26%; padding-right: 10px">
				<p>
					между работодателем и соискателями!</p>
				<p>
					Размещая вакансию на <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru, Вы получаете доступ к личному кабинету. С его помощью Вы сможете отслеживать статус Ваших объявлений, просматривать резюме соискателей, которые ими заинтересовались, а также получать сообщения.</p>
				<p>
					В качестве платной услуги работодатели могут <span style="color:#ff0000;"><strong>размещать</strong></span> на портале <span style="color:#ff0000;"><strong>рекламные баннеры и рекламно-информационные модули своей компании.</strong></span></p>
			</td>
		</tr>
	</tbody>
</table>
<p style="text-align: center;">
	<br />
	<span style="color:#ff0000;"><span style="font-size: 14px;"><strong><em>Ищите идеальных сотрудников вместе с&nbsp; нами!</em></strong></span></span></p>
<p style="text-align: center;">
	Портал <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru создан для максимально удобного поиска резюме в СПб и в других регионах. <strong>Поиск резюме, размещение вакансии осуществляется абсолютно бесплатно</strong>.</p>
<p style="text-align: center;">
	На портале <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru опубликованы тысячи резюме. Получить доступ к резюме вы можете, пройдя несложную регистрацию.</p>
<p style="text-align: center;">
	Поиск резюме не займет у вас много времени и сил &ndash; портал очень прост в использовании.</p>
<p style="text-align: center;">
	<strong>Тысячи резюме от реальных людей, проверенные на подлинность,&nbsp; ждут работодателей.</strong></p>
<p style="text-align: center;">
	Если у вас возникнут вопросы или вам потребуется помощь, вы можете перезвонить в нашу службу тех. поддержки по тел. <strong><span style="color:#ff0000;">305-305-7</span></strong>.</p>