<h3>
	Закон РФ О средствах массовой информации</h3>
<p>
	<br />
	27 декабря 1991 года N 2124-1<br />
	&nbsp;</p>
<h2>
	РОССИЙСКАЯ ФЕДЕРАЦИЯ</h2>
<h4>
	ЗАКОН О СРЕДСТВАХ МАССОВОЙ ИНФОРМАЦИИ</h4>
<br />
<p>
	(в ред. Федеральных законов от 13.01.1995 N 6-ФЗ, от 06.06.1995 N 87-ФЗ,от 19.07.1995 N 114-ФЗ, от 27.12.1995 N 211-ФЗ,от 02.03.1998 N 30-ФЗ, от 20.06.2000 N 90-ФЗ,от 05.08.2000 N 110-ФЗ, от 04.08.2001 N 107-ФЗ,от 21.03.2002 N 31-ФЗ, от 25.07.2002 N 112-ФЗ,от 25.07.2002 N 116-ФЗ, от 04.07.2003 N 94-ФЗ,от 08.12.2003 N 169-ФЗ, от 29.06.2004 N 58-ФЗ,от 22.08.2004 N 122-ФЗ, от 02.11.2004 N 127-ФЗ,от 21.07.2005 N 93-ФЗ, от 27.07.2006 N 153-ФЗ,от 16.10.2006 N 160-ФЗ, от 24.07.2007 N 211-ФЗ,от 25.12.2008 N 281-ФЗ,<br />
	с изм., внесенными Федеральным законом от 09.02.2009 N 10-ФЗ)<br />
	&nbsp;</p>
<br />
<h4>
	Глава I. ОБЩИЕ ПОЛОЖЕНИЯ</h4>
<p>
	<b>Статья 1. Свобода массовой информации</b><br />
	<br />
	В Российской Федерации<br />
	поиск, получение, производство и распространение массовой информации,<br />
	учреждение средств массовой информации, владение, пользование и распоряжение ими,<br />
	изготовление, приобретение, хранение и эксплуатация технических устройств и оборудования, сырья и материалов, предназначенных для производства и распространения продукции средств массовой информации,<br />
	не подлежат ограничениям, за исключением предусмотренных законодательством Российской Федерации о средствах массовой информации.<br />
	<br />
	<b>Статья 2. Средства массовой информации. Основные понятия</b><br />
	<br />
	Для целей настоящего Закона:<br />
	под массовой информацией понимаются предназначенные для неограниченного круга лиц печатные, аудио-, аудиовизуальные и иные сообщения и материалы;<br />
	под средством массовой информации понимается периодическое печатное издание, радио-, теле-, видеопрограмма, кинохроникальная программа, иная форма периодического распространения массовой информации;<br />
	под периодическим печатным изданием понимается газета, журнал, альманах, бюллетень, иное издание, имеющее постоянное название, текущий номер и выходящее в свет не реже одного раза в год;<br />
	под радио-, теле-, видео-, кинохроникальной программой понимается совокупность периодических аудио-, аудиовизуальных сообщений и материалов (передач), имеющая постоянное название и выходящая в свет (в эфир) не реже одного раза в год;<br />
	под продукцией средства массовой информации понимается тираж или часть тиража отдельного номера периодического печатного издания, отдельный выпуск радио-, теле-, кинохроникальной программы, тираж или часть тиража аудио- или видеозаписи программы;<br />
	под распространением продукции средства массовой информации понимается продажа (подписка, доставка, раздача) периодических печатных изданий, аудио- или видеозаписей программ, трансляция радио-, телепрограмм (вещание), демонстрация кинохроникальных программ;<br />
	под специализированным средством массовой информации понимается такое средство массовой информации, для регистрации или распространения продукции которого настоящим Законом установлены специальные правила;<br />
	под редакцией средства массовой информации понимается организация, учреждение, предприятие либо гражданин, объединение граждан, осуществляющие производство и выпуск средства массовой информации;<br />
	под главным редактором понимается лицо, возглавляющее редакцию (независимо от наименования должности) и принимающее окончательные решения в отношении производства и выпуска средства массовой информации;<br />
	под журналистом понимается лицо, занимающееся редактированием, созданием, сбором или подготовкой сообщений и материалов для редакции зарегистрированного средства массовой информации, связанное с ней трудовыми или иными договорными отношениями либо занимающееся такой деятельностью по ее уполномочию;<br />
	под издателем понимается издательство, иное учреждение, предприятие (предприниматель), осуществляющее материально-техническое обеспечение производства продукции средства массовой информации, а также приравненное к издателю юридическое лицо или гражданин, для которого эта деятельность не является основной либо не служит главным источником дохода;<br />
	под распространителем понимается лицо, осуществляющее распространение продукции средства массовой информации по договору с редакцией, издателем или на иных законных основаниях.<br />
	<br />
	<b>Статья 3. Недопустимость цензуры</b><br />
	<br />
	Цензура массовой информации, то есть требование от редакции средства массовой информации со стороны должностных лиц, государственных органов, организаций, учреждений или общественных объединений предварительно согласовывать сообщения и материалы (кроме случаев, когда должностное лицо является автором или интервьюируемым), а равно наложение запрета на распространение сообщений и материалов, их отдельных частей, - не допускается.<br />
	Создание и финансирование организаций, учреждений, органов или должностей, в задачи либо функции которых входит осуществление цензуры массовой информации, - не допускается.<br />
	<br />
	<b>Статья 4. Недопустимость злоупотребления свободой массовой информации</b><br />
	<br />
	Не допускается использование средств массовой информации в целях совершения уголовно наказуемых деяний, для разглашения сведений, составляющих государственную или иную специально охраняемую законом тайну, для распространения материалов, содержащих публичные призывы к осуществлению террористической деятельности или публично оправдывающих терроризм, других экстремистских материалов, а также материалов, пропагандирующих порнографию, культ насилия и жестокости.<br />
	(в ред. Федеральных законов от 19.07.1995 N 114-ФЗ, от 25.07.2002 N 112-ФЗ, от 27.07.2006 N 153-ФЗ)<br />
	Запрещается использование в радио-, теле-, видео-, кинопрограммах, документальных и художественных фильмах, а также в информационных компьютерных файлах и программах обработки информационных текстов, относящихся к специальным средствам массовой информации, скрытых вставок и иных технических приемов и способов распространения информации, воздействующих на подсознание людей и (или) оказывающих вредное влияние на их здоровье, а равно распространение информации об общественном объединении или иной организации, включенных в опубликованный перечень общественных и религиозных объединений, иных организаций, в отношении которых судом принято вступившее в законную силу решение о ликвидации или запрете деятельности по основаниям, предусмотренным Федеральным законом от 25 июля 2002 года N 114-ФЗ &quot;О противодействии экстремистской деятельности&quot; (далее - Федеральный закон &quot;О противодействии экстремистской деятельности&quot;), без указания на то, что соответствующее общественное объединение или иная организация ликвидированы или их деятельность запрещена.<br />
	(в ред. Федеральных законов от 19.07.1995 N 114-ФЗ, от 16.10.2006 N 160-ФЗ, от 24.07.2007 N 211-ФЗ)<br />
	Запрещаются распространение в средствах массовой информации, а также в компьютерных сетях сведений о способах, методах разработки, изготовления и использования, местах приобретения наркотических средств, психотропных веществ и их прекурсоров, пропаганда каких-либо преимуществ использования отдельных наркотических средств, психотропных веществ, их аналогов и прекурсоров, а также распространение иной информации, распространение которой запрещено федеральными законами.<br />
	(часть третья введена Федеральным законом от 20.06.2000 N 90-ФЗ; в ред. Федерального закона от 16.10.2006 N 160-ФЗ)<br />
	Порядок сбора информации журналистами на территории (объекте) проведения контртеррористической операции определяется руководителем контртеррористической операции.<br />
	(часть четвертая введена Федеральным законом от 27.07.2006 N 153-ФЗ)<br />
	При освещении контртеррористической операции запрещается распространение в средствах массовой информации сведений о специальных средствах, технических приемах и тактике проведения такой операции, если их распространение может препятствовать проведению контртеррористической операции или поставить под угрозу жизнь и здоровье людей. Сведения о сотрудниках специальных подразделений, лицах, оказывающих содействие в проведении такой операции, выявлении, предупреждении, пресечении и раскрытии террористического акта, и о членах семей указанных лиц могут быть преданы огласке в соответствии с законодательными актами Российской Федерации о государственной тайне и персональных данных.<br />
	(часть пятая введена Федеральным законом от 27.07.2006 N 153-ФЗ)<br />
	<br />
	<b>Статья 5. Законодательство о средствах массовой информации</b><br />
	<br />
	КонсультантПлюс: примечание.<br />
	Распоряжением Правительства РФ от 29.11.2007 N 1700-р одобрена Концепция развития телерадиовещания в Российской Федерации на 2008 - 2015 годы.<br />
	<br />
	Законодательство Российской Федерации о средствах массовой информации состоит из настоящего Закона и издаваемых в соответствии с ним иных нормативных правовых актов Российской Федерации.<br />
	(в ред. Федерального закона от 22.08.2004 N 122-ФЗ)<br />
	Если межгосударственным договором, заключенным Российской Федерацией, предусмотрены для организации и деятельности средств массовой информации иные правила, чем установленные настоящим Законом, применяются правила межгосударственного договора.<br />
	<br />
	<b>Статья 6. Применение Закона</b><br />
	<br />
	Настоящий Закон применяется в отношении средств массовой информации, учреждаемых в Российской Федерации, а для создаваемых за ее пределами - лишь в части, касающейся распространения их продукции в Российской Федерации.<br />
	Юридические лица и граждане других государств, лица без гражданства пользуются правами и несут обязанности, предусмотренные настоящим Законом, наравне с организациями и гражданами Российской Федерации, если иное не установлено законом.<br />
	&nbsp;</p>
<br />
<h4>
	Глава II. ОРГАНИЗАЦИЯ ДЕЯТЕЛЬНОСТИ СРЕДСТВ МАССОВОЙ ИНФОРМАЦИИ</h4>
<p>
	<b>Статья 7. Учредитель</b><br />
	<br />
	Учредителем (соучредителем) средства массовой информации может быть гражданин, объединение граждан, организация, государственный орган. Учредителем (соучредителем) печатного средства массовой информации в соответствии с Федеральным законом от 6 октября 2003 года N 131-ФЗ &quot;Об общих принципах организации местного самоуправления в Российской Федерации&quot; может быть орган местного самоуправления.<br />
	(в ред. Федеральных законов от 22.08.2004 N 122-ФЗ, от 25.12.2008 N 281-ФЗ)<br />
	Не может выступать учредителем:<br />
	гражданин, не достигший восемнадцатилетнего возраста, либо отбывающий наказание в местах лишения свободы по приговору суда, либо душевнобольной, признанный судом недееспособным;<br />
	объединение граждан, предприятие, учреждение, организация, деятельность которых запрещена по закону;<br />
	гражданин другого государства или лицо без гражданства, не проживающее постоянно в Российской Федерации.<br />
	Соучредители выступают в качестве учредителя совместно.<br />
	<br />
	<b>Статья 8. Регистрация средства массовой информации</b><br />
	<br />
	Редакция средства массовой информации осуществляет свою деятельность после его регистрации.<br />
	Заявление о регистрации средства массовой информации, продукция которого предназначена для распространения преимущественно:<br />
	на всей территории Российской Федерации, за ее пределами, на территориях нескольких субъектов Российской Федерации, - подается учредителем в Федеральную службу по надзору за соблюдением законодательства в сфере массовых коммуникаций и охране культурного наследия;<br />
	(в ред. Федерального закона от 22.08.2004 N 122-ФЗ)<br />
	на территории субъекта Российской Федерации, территории муниципального образования, - подается учредителем в территориальные органы Федеральной службы по надзору за соблюдением законодательства в сфере массовых коммуникаций и охране культурного наследия.<br />
	(в ред. Федерального закона от 22.08.2004 N 122-ФЗ)<br />
	Учредителю либо лицу, действующему по его уполномочию, высылается (выдается) уведомление о приеме заявления с указанием даты поступления. Заявление о регистрации подлежит рассмотрению регистрирующим органом в месячный срок с указанной даты.<br />
	Средство массовой информации считается зарегистрированным со дня выдачи свидетельства о регистрации.<br />
	Учредитель сохраняет за собой право приступить к производству продукции средства массовой информации в течение одного года со дня выдачи свидетельства о регистрации. В случае пропуска этого срока свидетельство о регистрации средства массовой информации признается недействительным.<br />
	<br />
	<b>Статья 9. Недопустимость повторной регистрации</b><br />
	<br />
	Зарегистрированное средство массовой информации не может быть повторно зарегистрировано в том же или ином регистрирующем органе.<br />
	В случае установления судом факта повторной регистрации законной признается первая по дате регистрация.<br />
	<br />
	<b>Статья 10. Заявление о регистрации</b><br />
	<br />
	В заявлении о регистрации средства массовой информации должны быть указаны:<br />
	1) сведения об учредителе (соучредителях), обусловленные требованиями настоящего Закона;<br />
	2) название средства массовой информации;<br />
	3) язык (языки);<br />
	4) адрес редакции;<br />
	5) форма периодического распространения массовой информации;<br />
	6) предполагаемая территория распространения продукции;<br />
	7) примерная тематика и (или) специализация;<br />
	8) предполагаемые периодичность выпуска, максимальный объем средства массовой информации;<br />
	9) источники финансирования;<br />
	10) сведения о том, в отношении каких других средств массовой информации заявитель является учредителем, собственником, главным редактором (редакцией), издателем или распространителем.<br />
	К заявлению прилагается документ, удостоверяющий уплату государственной пошлины.<br />
	(в ред. Федерального закона от 02.11.2004 N 127-ФЗ)<br />
	Предъявление иных требований при регистрации средства массовой информации запрещается.<br />
	<br />
	<b>Статья 11. Перерегистрация и уведомление</b><br />
	<br />
	Смена учредителя, изменение состава соучредителей, а равно названия, языка, формы периодического распространения массовой информации, территории распространения его продукции допускается лишь при условии перерегистрации средства массовой информации.<br />
	Перерегистрация средств массовой информации осуществляется в том же порядке, что и их регистрация.<br />
	Перерегистрация средства массовой информации, деятельность которого прекращена судом, не допускается.<br />
	При изменении местонахождения редакции, периодичности выпуска и максимального объема средства массовой информации учредитель обязан в месячный срок письменно уведомить об этом регистрирующий орган.<br />
	<br />
	<b>Статья 12. Освобождение от регистрации</b><br />
	<br />
	Не требуется регистрация:<br />
	средств массовой информации, учреждаемых органами государственной власти и органами местного самоуправления исключительно для издания их официальных сообщений и материалов, нормативных и иных актов;<br />
	(в ред. Федерального закона от 22.08.2004 N 122-ФЗ)<br />
	периодических печатных изданий тиражом менее одной тысячи экземпляров;<br />
	радио- и телепрограмм, распространяемых по кабельным сетям, ограниченным помещением и территорией одного государственного учреждения, учебного заведения или промышленного предприятия либо имеющим не более десяти абонентов;<br />
	аудио- и видеопрограмм, распространяемых в записи тиражом не более десяти экземпляров.<br />
	<br />
	<b>Статья 13. Отказ в регистрации</b><br />
	<br />
	Отказ в регистрации средства массовой информации возможен только по следующим основаниям:<br />
	1) если заявление подано от имени гражданина, объединения граждан, предприятия, учреждения, организации, не обладающих правом на учреждение средств массовой информации в соответствии с настоящим Законом;<br />
	2) если указанные в заявлении сведения не соответствуют действительности;<br />
	3) если название, примерная тематика и (или) специализация средства массовой информации представляют злоупотребление свободой массовой информации в смысле части первой статьи 4 настоящего Закона;<br />
	4) если регистрирующим органом ранее зарегистрировано средство массовой информации с теми же названием и формой распространения массовой информации.<br />
	(в ред. Федерального закона от 29.06.2004 N 58-ФЗ)<br />
	Извещение об отказе в регистрации направляется заявителю в письменной форме с указанием оснований отказа, предусмотренных настоящим Законом.<br />
	Заявление о регистрации средства массовой информации возвращается заявителю без рассмотрения, с указанием основания возврата:<br />
	1) если заявление подано с нарушением требований части второй статьи 8 или части первой статьи 10 настоящего Закона;<br />
	2) если заявление от имени учредителя подано лицом, не имеющим на то полномочий;<br />
	3) если не уплачена государственная пошлина.<br />
	(п. 3 в ред. Федерального закона от 02.11.2004 N 127-ФЗ)<br />
	После устранения нарушений заявление принимается к рассмотрению.<br />
	<br />
	<b>Статья 14. Государственная пошлина</b><br />
	<br />
	(в ред. Федерального закона от 02.11.2004 N 127-ФЗ)<br />
	<br />
	За государственную регистрацию средства массовой информации, за выдачу дубликата свидетельства о государственной регистрации, за внесение изменений в свидетельство о регистрации уплачивается государственная пошлина в размерах и порядке, которые установлены законодательством Российской Федерации о налогах и сборах.<br />
	<br />
	<b>Статья 15. Признание свидетельства о регистрации недействительным</b><br />
	<br />
	Свидетельство о регистрации средства массовой информации может быть признано недействительным исключительно судом в порядке гражданского судопроизводства по заявлению регистрирующего органа только в случаях:<br />
	(в ред. Федерального закона от 29.06.2004 N 58-ФЗ)<br />
	1) если свидетельство о регистрации получено обманным путем;<br />
	2) если средство массовой информации не выходит в свет (в эфир) более одного года;<br />
	3) если устав редакции или заменяющий его договор не принят и (или) не утвержден в течение трех месяцев со дня первого выхода в свет (в эфир) данного средства массовой информации;<br />
	4) если имела место повторная регистрация данного средства массовой информации.<br />
	Часть вторая утратила силу. - Федеральный закон от 02.11.2004 N 127-ФЗ.<br />
	<br />
	<b>Статья 16. Прекращение и приостановление деятельности</b><br />
	<br />
	Деятельность средства массовой информации может быть прекращена или приостановлена только по решению учредителя либо судом в порядке гражданского судопроизводства по иску регистрирующего органа.<br />
	(в ред. Федерального закона от 29.06.2004 N 58-ФЗ)<br />
	Учредитель имеет право прекратить или приостановить деятельность средства массовой информации исключительно в случаях и порядке, предусмотренных уставом редакции или договором между учредителем и редакцией (главным редактором).<br />
	Основанием для прекращения судом деятельности средства массовой информации являются неоднократные в течение двенадцати месяцев нарушения редакцией требований статьи 4 настоящего Закона, по поводу которых регистрирующим органом делались письменные предупреждения учредителю и (или) редакции (главному редактору), а равно неисполнение постановления суда о приостановлении деятельности средства массовой информации.<br />
	(в ред. Федерального закона от 29.06.2004 N 58-ФЗ)<br />
	Деятельность средства массовой информации может быть также прекращена в порядке и по основаниям, предусмотренным Федеральным законом &quot;О противодействии экстремистской деятельности&quot;.<br />
	(часть четвертая введена Федеральным законом от 25.07.2002 N 112-ФЗ)<br />
	Основанием для приостановления судом (судьей) деятельности средства массовой информации может служить только необходимость обеспечения иска, предусмотренного частью первой настоящей статьи.<br />
	Прекращение деятельности средства массовой информации влечет недействительность свидетельства о его регистрации и устава редакции.<br />
	<br />
	<b>Статья 16.1. Приостановление выпуска средства массовой информации за нарушение законодательства Российской Федерации о выборах и референдумах</b><br />
	<br />
	(введена Федеральным законом от 04.07.2003 N 94-ФЗ)<br />
	<br />
	Если в период избирательной кампании, кампании референдума после вступления в силу решения суда о привлечении главного редактора или редакции радио- и телепрограммы, периодического печатного издания, иной организации, осуществляющей выпуск средства массовой информации (далее - организация, осуществляющая выпуск средства массовой информации), к административной ответственности за нарушение законодательства Российской Федерации о выборах и референдумах этот главный редактор или эта организация допустит повторное нарушение законодательства Российской Федерации о выборах и референдумах, Центральная избирательная комиссия Российской Федерации, а в случае, если продукция средства массовой информации предназначена для распространения на территории субъекта Российской Федерации, также избирательная комиссия соответствующего субъекта Российской Федерации вправе обратиться в федеральный орган исполнительной власти, осуществляющий регистрацию средств массовой информации, с представлением о приостановлении выпуска средства массовой информации, использованного в целях совершения указанных нарушений. Указанный федеральный орган исполнительной власти в пятидневный срок, но не позднее дня, предшествующего дню голосования, а в день, предшествующий дню голосования, и в день голосования немедленно осуществляет с привлечением заинтересованных лиц проверку фактов, изложенных в представлении, и обращается в суд с заявлением о приостановлении выпуска средства массовой информации, использованного в целях совершения указанных нарушений, либо направляет в соответствующую избирательную комиссию мотивированный отказ от обращения в суд с указанным заявлением. Мотивированный отказ от обращения в суд с заявлением о приостановлении выпуска средства массовой информации не препятствует применению к организации, осуществляющей выпуск указанного средства массовой информации, иных мер ответственности, предусмотренных законодательством Российской Федерации, включая предупреждение.<br />
	Федеральный орган исполнительной власти, осуществляющий регистрацию средств массовой информации, не вправе отказаться от обращения в суд на основании представления соответствующей избирательной комиссии о приостановлении выпуска средства массовой информации, если главным редактором или организацией, осуществляющей выпуск средства массовой информации, в период одной избирательной кампании, кампании референдума совершено более двух нарушений законодательства Российской Федерации о выборах и референдумах, повлекших назначение административного наказания на основании вступивших в силу решений суда.<br />
	Рассмотрение судом указанных в настоящей статье заявлений о приостановлении выпуска средства массовой информации осуществляется в порядке и сроки, которые установлены для производства по делам о защите избирательных прав и права на участие в референдуме граждан Российской Федерации.<br />
	Приостановление выпуска средства массовой информации по предусмотренным настоящей статьей основаниям осуществляется судом на срок до момента окончания голосования на выборах, референдуме, а в случае, если проводится повторное голосование, - до момента окончания повторного голосования.<br />
	В целях настоящей статьи нарушением главным редактором или организацией, осуществляющей выпуск средства массовой информации, законодательства Российской Федерации о выборах и референдумах признается нарушение этим главным редактором или этой организацией установленного указанным законодательством порядка информирования избирателей, участников референдума, проведения предвыборной агитации, агитации по вопросам референдума, предусмотренное законодательством об административных правонарушениях.<br />
	Для целей настоящей статьи не признается нарушением законодательства Российской Федерации о выборах и референдумах распространение в средстве массовой информации материалов и сообщений, за содержание которых главный редактор или организация, осуществляющая выпуск средства массовой информации, не несет ответственности в соответствии с законодательством Российской Федерации о средствах массовой информации.<br />
	<br />
	<b>Статья 17. Возникновение прав и обязанностей</b><br />
	<br />
	Права и обязанности учредителя и редакции, предусмотренные настоящим Законом, возникают с момента регистрации средства массовой информации, а предусмотренные уставом редакции - с момента его утверждения. Учредитель, редакция, издатель, распространитель могут дополнительно установить на договорной основе взаимные права и обязанности. Положения устава и договоров не должны противоречить настоящему Закону и иным актам законодательства Российской Федерации.<br />
	<br />
	<b>Статья 18. Статус учредителя</b><br />
	<br />
	Учредитель утверждает устав редакции и (или) заключает договор с редакцией средства массовой информации (главным редактором).<br />
	Учредитель вправе обязать редакцию поместить бесплатно и в указанный срок сообщение или материал от его имени (заявление учредителя). Максимальный объем заявления учредителя определяется в уставе редакции, ее договоре либо ином соглашении с учредителем. По претензиям и искам, связанным с заявлением учредителя, ответственность несет учредитель. Если принадлежность указанного сообщения или материала учредителю не оговорена редакцией, она выступает соответчиком.<br />
	Учредитель не вправе вмешиваться в деятельность средства массовой информации, за исключением случаев, предусмотренных настоящим Законом, уставом редакции, договором между учредителем и редакцией (главным редактором).<br />
	Учредитель может передать свои права и обязанности третьему лицу с согласия редакции и соучредителей. В случае ликвидации или реорганизации учредителя - объединения граждан, предприятия, учреждения, организации, государственного органа его права и обязанности в полном объеме переходят к редакции, если иное не предусмотрено уставом редакции.<br />
	Учредитель может выступать в качестве редакции, издателя, распространителя, собственника имущества редакции.<br />
	<br />
	<b>Статья 19. Статус редакции</b><br />
	<br />
	Редакция осуществляет свою деятельность на основе профессиональной самостоятельности.<br />
	Редакция может быть юридическим лицом, самостоятельным хозяйствующим субъектом, организованным в любой допускаемой законом форме. Если редакция зарегистрированного средства массовой информации организуется в качестве предприятия, то она подлежит также регистрации в соответствии с федеральным законом о государственной регистрации юридических лиц и помимо производства и выпуска средства массовой информации вправе осуществлять в установленном порядке иную, не запрещенную законом деятельность.<br />
	(в ред. Федеральных законов от 21.03.2002 N 31-ФЗ, от 08.12.2003 N 169-ФЗ)<br />
	Часть третья утратила силу. - Федеральный закон от 02.11.2004 N 127-ФЗ.<br />
	Редакция может выступать в качестве учредителя средства массовой информации, издателя, распространителя, собственника имущества редакции.<br />
	Редакцией руководит главный редактор, который осуществляет свои полномочия на основе настоящего Закона, устава редакции, договора между учредителем и редакцией (главным редактором). Главный редактор представляет редакцию в отношениях с учредителем, издателем, распространителем, гражданами, объединениями граждан, предприятиями, учреждениями, организациями, государственными органами, а также в суде. Он несет ответственность за выполнение требований, предъявляемых к деятельности средства массовой информации настоящим Законом и другими законодательными актами Российской Федерации.<br />
	<br />
	<b>Статья 19.1. Ограничения, связанные с учреждением теле-, видеопрограмм и организаций (юридических лиц), осуществляющих телевещание</b><br />
	<br />
	(введена Федеральным законом от 04.08.2001 N 107-ФЗ)<br />
	<br />
	Иностранное юридическое лицо, а равно российское юридическое лицо с иностранным участием, доля (вклад) иностранного участия в уставном (складочном) капитале которого составляет 50 процентов и более, гражданин Российской Федерации, имеющий двойное гражданство, не вправе выступать учредителями теле-, видеопрограмм.<br />
	Иностранный гражданин, лицо без гражданства и гражданин Российской Федерации, имеющий двойное гражданство, иностранное юридическое лицо, а равно российское юридическое лицо с иностранным участием, доля (вклад) иностранного участия в уставном (складочном) капитале которого составляет 50 процентов и более, не вправе учреждать организации (юридические лица), осуществляющие телевещание, зона уверенного приема передач которых охватывает половину и более половины субъектов Российской Федерации либо территорию, на которой проживает половина и более половины численности населения Российской Федерации.<br />
	Отчуждение акций (долей) учредителем теле-, видеопрограммы, в том числе после ее регистрации, организацией (юридическим лицом), осуществляющей (осуществляющим) телевещание, зона уверенного приема передач которой (которого) охватывает половину и более половины субъектов Российской Федерации либо территорию, на которой проживает половина и более половины численности населения Российской Федерации, повлекшее появление в их уставном (складочном) капитале доли (вклада) иностранного участия, составляющей 50 процентов и более, не допускается.<br />
	<br />
	<b>Статья 20. Устав редакции</b><br />
	<br />
	Устав редакции средства массовой информации принимается на общем собрании коллектива журналистов - штатных сотрудников редакции большинством голосов при наличии не менее двух третей его состава и утверждается учредителем.<br />
	В уставе редакции должны быть определены:<br />
	1) взаимные права и обязанности учредителя, редакции, главного редактора;<br />
	2) полномочия коллектива журналистов - штатных сотрудников редакции;<br />
	3) порядок назначения (избрания) главного редактора, редакционной коллегии и (или) иных органов управления редакцией;<br />
	4) основания и порядок прекращения и приостановления деятельности средства массовой информации;<br />
	5) передача и (или) сохранение права на название, иные юридические последствия смены учредителя, изменения состава соучредителей, прекращения деятельности средства массовой информации, ликвидации или реорганизации редакции, изменения ее организационно-правовой формы;<br />
	6) порядок утверждения и изменения устава редакции, а также иные положения, предусмотренные настоящим Законом и другими законодательными актами.<br />
	До утверждения устава редакции, а также если редакция состоит менее чем из десяти человек, ее отношения с учредителем, включая вопросы, перечисленные в пунктах 1 - 5 части второй настоящей статьи, могут определяться заменяющим устав договором между учредителем и редакцией (главным редактором).<br />
	Устав редакции, организуемой в качестве предприятия, может являться одновременно уставом данного предприятия. В этом случае устав редакции должен соответствовать также законодательству о предприятиях и предпринимательской деятельности.<br />
	Копия устава редакции или заменяющего его договора направляется в регистрирующий орган не позднее трех месяцев со дня первого выхода в свет (в эфир) данного средства массовой информации. При этом редакция вправе оговорить, какие сведения, содержащиеся в ее уставе или заменяющем его договоре, составляют коммерческую тайну.<br />
	<br />
	<b>Статья 21. Статус издателя</b><br />
	<br />
	Издатель осуществляет свои права и несет обязанности на основе данного Закона, Федерального закона &quot;О порядке освещения деятельности органов государственной власти в государственных средствах массовой информации&quot;, законодательства об издательском деле, предприятиях и предпринимательской деятельности.<br />
	(в ред. Федерального закона от 13.01.1995 N 6-ФЗ)<br />
	Издатель может выступать в качестве учредителя средства массовой информации, редакции, распространителя, собственника имущества редакции.<br />
	<br />
	<b>Статья 22. Договоры</b><br />
	<br />
	Договором между соучредителями средства массовой информации определяются их взаимные права, обязанности, ответственность, порядок, условия и юридические последствия изменения состава соучредителей, процедура разрешения споров между ними.<br />
	Договором между учредителем и редакцией (главным редактором) определяются производственные, имущественные и финансовые отношения между ними: порядок выделения и использования средств на содержание редакции, распределения прибыли, образования фондов и возмещения убытков, обязательства учредителя по обеспечению надлежащих производственных и социально-бытовых условий жизни и труда сотрудников редакции. Стороной в договоре с редакцией может быть каждый соучредитель в отдельности либо все соучредители вместе.<br />
	Договором между редакцией и издателем определяются производственные, имущественные и финансовые отношения между ними, взаимное распределение издательских прав, обязательства издателя по материально-техническому обеспечению производства продукции средства массовой информации и ответственность сторон.<br />
	Учредитель, редакция (главный редактор) и издатель могут заключать также иные договоры между собой, а также с распространителем.<br />
	<br />
	<b>Статья 23. Информационные агентства</b><br />
	<br />
	При применении настоящего Закона в отношении информационных агентств на них одновременно распространяются статус редакции, издателя, распространителя и правовой режим средства массовой информации.<br />
	Бюллетень, вестник, иное издание или программа с постоянным названием, учреждаемые информационным агентством, регистрируются в порядке, установленном настоящим Законом.<br />
	При распространении сообщений и материалов информационного агентства другим средством массовой информации ссылка на информационное агентство обязательна.<br />
	<br />
	<b>Статья 24. Иные средства массовой информации</b><br />
	<br />
	Правила, установленные настоящим Законом для периодических печатных изданий, применяются в отношении периодического распространения тиражом тысяча и более экземпляров текстов, созданных с помощью компьютеров и (или) хранящихся в их банках и базах данных, а равно в отношении иных средств массовой информации, продукция которых распространяется в виде печатных сообщений, материалов, изображений.<br />
	Правила, установленные настоящим Законом для радио- и телепрограмм, применяются в отношении периодического распространения массовой информации через системы телетекста, видеотекста и иные телекоммуникационные сети, если законодательством Российской Федерации не установлено иное.<br />
	&nbsp;</p>
<br />
<h4>
	Глава III. РАСПРОСТРАНЕНИЕ МАССОВОЙ ИНФОРМАЦИИ</h4>
<p>
	<b>Статья 25. Порядок распространения</b><br />
	<br />
	Воспрепятствование осуществляемому на законном основании распространению продукции средств массовой информации со стороны граждан, объединений граждан, должностных лиц, предприятий, учреждений, организаций, государственных органов - не допускается.<br />
	Распространение продукции средства массовой информации считается коммерческим, если за нее взимается плата. Продукция, предназначенная для некоммерческого распространения, должна иметь пометку &quot;Бесплатно&quot; и не может быть предметом коммерческого распространения.<br />
	Демонстрация видеозаписей программ в жилых помещениях, а равно снятие единичных копий с них, если при этом не взимается плата прямо или косвенно, не считается распространением продукции средства массовой информации в смысле настоящего Закона.<br />
	Розничная продажа, в том числе с рук, тиража периодических печатных изданий не подлежит ограничениям, за исключением предусмотренных настоящим Законом. Розничная продажа тиража периодических печатных изданий в местах, не являющихся общедоступными, - помещениях и иных объектах, в отношении которых собственником или лицом, уполномоченным управлять его имуществом, установлен особый режим пользования, - допускается не иначе как с согласия указанных лиц.<br />
	В случае нарушения редакцией, издателем или распространителем имущественных либо личных неимущественных прав авторов и в иных случаях, предусмотренных законом, распространение продукции средства массовой информации может быть прекращено по решению суда.<br />
	<br />
	<b>Статья 26. Выход в свет (в эфир)</b><br />
	<br />
	Распространение продукции средства массовой информации допускается только после того, как главным редактором дано разрешение на выход в свет (в эфир).<br />
	<br />
	<b>Статья 27. Выходные данные</b><br />
	<br />
	Каждый выпуск периодического печатного издания должен содержать следующие сведения:<br />
	1) название издания;<br />
	2) учредитель (соучредители);<br />
	3) фамилия, инициалы главного редактора;<br />
	4) порядковый номер выпуска и дата его выхода в свет, а для газет - также время подписания в печать (установленное по графику и фактическое);<br />
	5) индекс - для изданий, распространяемых через предприятия связи;<br />
	6) тираж;<br />
	7) цена, либо пометка &quot;Свободная цена&quot;, либо пометка &quot;Бесплатно&quot;;<br />
	8) адреса редакции, издателя, типографии.<br />
	При каждом выходе радио- или телепрограммы в эфир, а при непрерывном вещании не реже четырех раз в сутки редакция обязана объявлять название программы.<br />
	Каждая копия аудио-, видео- или кинохроникальной программы должна содержать следующие сведения:<br />
	1) название программы;<br />
	2) дата выхода в свет (в эфир) и номер выпуска;<br />
	3) фамилия, инициалы главного редактора;<br />
	4) тираж;<br />
	5) редакция и ее адрес;<br />
	6) цена, либо пометка &quot;Свободная цена&quot;, либо пометка &quot;Бесплатно&quot;.<br />
	Сообщения и материалы информационного агентства должны сопровождаться его названием.<br />
	Если средство массовой информации не освобождено от регистрации, то в выходных данных указывается также зарегистрировавший его орган и регистрационный номер.<br />
	<br />
	<b>Статья 28. Тираж</b><br />
	<br />
	Тираж периодического печатного издания, аудио-, видео-, кинохроникальной программы определяется главным редактором по согласованию с издателем.<br />
	Изъятие, а равно уничтожение тиража или его части допускается не иначе как по вступившему в силу решению суда.<br />
	Часть третья утратила силу. - Федеральный закон от 02.11.2004 N 127-ФЗ.<br />
	<br />
	<b>Статья 29. Утратила силу. - Федеральный закон от 29.06.2004 N 58-ФЗ.</b><br />
	<br />
	<b>Статья 30. Утратила силу. - Федеральный закон от 22.08.2004 N 122-ФЗ.</b><br />
	<br />
	<b>Статья 31. Лицензия на вещание</b><br />
	<br />
	Лицензии на вещание выдаются федеральным органом исполнительной власти, уполномоченным Правительством Российской Федерации.<br />
	(в ред. Федеральных законов от 06.06.1995 N 87-ФЗ, от 22.08.2004 N 122-ФЗ)<br />
	Лицензия на вещание дает ее держателю право, используя технические средства эфирного, проводного или кабельного телерадиовещания, в том числе находящиеся в его собственности, осуществлять с соблюдением лицензионных условий распространение продукции средств массовой информации, зарегистрированных в соответствии с настоящим Законом.<br />
	В выдаче лицензии на вещание должно быть отказано, если отсутствует техническая возможность осуществлять вещание с заявленными характеристиками либо близкими к ним.<br />
	В выдаче лицензии на вещание может быть отказано по основаниям, предусмотренным условиями конкурса, если заявки рассматриваются на конкурсной основе.<br />
	Уступка лицензии на вещание другому лицу допускается только с согласия органа, ее выдавшего, с соответствующим переоформлением лицензии.<br />
	Размеры и порядок взимания платы за лицензию на вещание, а также за переоформление лицензии устанавливаются Правительством Российской Федерации.<br />
	<br />
	<b>Статья 32. Аннулирование лицензии</b><br />
	<br />
	Лицензия аннулируется в случаях:<br />
	1) если она была получена обманным путем;<br />
	2) если неоднократно нарушались лицензионные условия либо предусмотренные настоящим Законом правила распространения радио- и телепрограмм, по поводу чего делались письменные предупреждения;<br />
	3) если федеральным органом исполнительной власти, уполномоченным Правительством Российской Федерации, установлен факт скрытой уступки лицензии.<br />
	(в ред. Федерального закона от 22.08.2004 N 122-ФЗ)<br />
	Законами Российской Федерации могут быть установлены дополнительные основания аннулирования лицензии.<br />
	Аннулирование лицензии производится решением выдавшего ее органа.<br />
	(в ред. Федерального закона от 22.08.2004 N 122-ФЗ)<br />
	При аннулировании лицензии плата за лицензию возврату не подлежит.<br />
	<br />
	<b>Статья 33. Искусственные помехи</b><br />
	<br />
	Создание искусственных помех, препятствующих уверенному приему радио-, телепрограмм, то есть распространению радио-, теле- и иных технических сигналов в полосе частот, на которых осуществляется вещание по лицензии, влечет ответственность в соответствии с законодательством Российской Федерации.<br />
	Индустриальные помехи, то есть искусственные помехи, возникающие при эксплуатации технических устройств в процессе хозяйственной деятельности, подлежат устранению за счет лиц, в собственности (ведении) которых находятся источники этих помех.<br />
	<br />
	<b>Статья 34. Хранение материалов радио- и телепередач</b><br />
	<br />
	В целях обеспечения доказательств, имеющих значение для правильного разрешения споров, редакция радио-, телепрограммы обязана:<br />
	сохранять материалы собственных передач, вышедших в эфир в записи;<br />
	фиксировать в регистрационном журнале передачи, вышедшие в эфир.<br />
	В регистрационном журнале указываются дата и время выхода в эфир, тема передачи, ее автор, ведущий и участники.<br />
	Сроки хранения:<br />
	материалов передач - не менее одного месяца со дня выхода в эфир;<br />
	регистрационного журнала - не менее одного года с даты последней записи в нем.<br />
	Аудио- и видеозаписи вышедших в эфир радио- и телепрограмм, содержащих предвыборную агитацию, агитацию по вопросам референдума, хранятся в соответствующей организации, осуществляющей теле- и (или) радиовещание, не менее 12 месяцев со дня выхода указанных программ в эфир. Организации, осуществляющие теле- и (или) радиовещание, обязаны бесплатно предоставлять копии указанных радио- и телепрограмм по требованию избирательных комиссий, комиссий референдума.<br />
	(часть четвертая введена Федеральным законом от 04.07.2003 N 94-ФЗ)<br />
	<br />
	<b>Статья 35. Обязательные сообщения</b><br />
	<br />
	Редакция обязана опубликовать бесплатно и в предписанный срок:<br />
	вступившее в законную силу решение суда, содержащее требование об опубликовании такого решения через данное средство массовой информации;<br />
	поступившее от органа, зарегистрировавшего данное средство массовой информации, сообщение, касающееся деятельности редакции.<br />
	Редакции средств массовой информации, учредителями (соучредителями) которых являются государственные органы, обязаны публиковать по требованию этих органов их официальные сообщения в порядке, регулируемом уставом редакции или заменяющим его договором, а равно иные материалы, публикация которых в данных средствах массовой информации предусмотрена законодательством Российской Федерации.<br />
	Государственные средства массовой информации обязаны публиковать сообщения и материалы федеральных органов государственной власти и органов государственной власти субъектов Российской Федерации в порядке, установленном Федеральным законом &quot;О порядке освещения деятельности органов государственной власти в государственных средствах массовой информации&quot;.<br />
	(часть третья введена Федеральным законом от 13.01.1995 N 6-ФЗ)<br />
	Редакции государственных средств массовой информации обязаны незамедлительно и на безвозмездной основе выпускать в свет (в эфир) по требованию федерального органа исполнительной власти, уполномоченного Президентом Российской Федерации, оперативную информацию по вопросам пожарной безопасности.<br />
	(часть четвертая введена Федеральным законом от 27.12.1995 N 211-ФЗ; в ред. Федеральных законов от 25.07.2002 N 116-ФЗ, от 22.08.2004 N 122-ФЗ)<br />
	<br />
	<b>Статья 36. Распространение рекламы</b><br />
	<br />
	(в ред. Федерального закона от 02.03.1998 N 30-ФЗ)<br />
	<br />
	Распространение рекламы в средствах массовой информации осуществляется в порядке, установленном законодательством Российской Федерации о рекламе.<br />
	<br />
	<b>Статья 37. Эротические издания</b><br />
	<br />
	Под средством массовой информации, специализирующимся на сообщениях и материалах эротического характера, для целей настоящего Закона понимаются периодическое издание или программа, которые в целом и систематически эксплуатируют интерес к сексу.<br />
	Распространение выпусков специализированных радио- и телепрограмм эротического характера без кодирования сигнала допускается только с 23 часов до 4 часов по местному времени, если иное не установлено местной администрацией.<br />
	Розничная продажа продукции средств массовой информации, специализирующихся на сообщениях и материалах эротического характера, допускается только в запечатанных прозрачных упаковках и в специально предназначенных для этого помещениях, расположение которых определяется местной администрацией.<br />
	&nbsp;</p>
<h4>
	Глава IV. ОТНОШЕНИЯ СРЕДСТВ МАССОВОЙ ИНФОРМАЦИИ<br />
	С ГРАЖДАНАМИ И ОРГАНИЗАЦИЯМИ</h4>
<br />
<br />
<br />
<p>
	В соответствии с Федеральным законом от 09.02.2009 N 10-ФЗ в частях первой и второй статьи 38 с 1 января 2010 года слова &quot;государственных органов и организаций&quot; будут заменены словами &quot;государственных органов, органов местного самоуправления, организаций&quot;; слова &quot;Государственные органы и организации&quot; заменены словами &quot;Государственные органы, органы местного самоуправления, организации&quot; соответственно. Кроме того, статья 38 будет дополнена частью третьей.<br />
	<br />
	<b>Статья 38. Право на получение информации</b><br />
	<br />
	Граждане имеют право на оперативное получение через средства массовой информации достоверных сведений о деятельности государственных органов и организаций, общественных объединений, их должностных лиц.<br />
	Государственные органы и организации, общественные объединения, их должностные лица предоставляют сведения о своей деятельности средствам массовой информации по запросам редакций, а также путем проведения пресс-конференций, рассылки справочных и статистических материалов и в иных формах.<br />
	<br />
	<br />
	В соответствии с Федеральным законом от 09.02.2009 N 10-ФЗ в статье 39 с 1 января 2010 года слова &quot;государственных органов и организаций&quot; будут заменены словами &quot;государственных органов, органов местного самоуправления, организаций&quot;.<br />
	<br />
	<b>Статья 39. Запрос информации</b><br />
	<br />
	Редакция имеет право запрашивать информацию о деятельности государственных органов и организаций, общественных объединений, их должностных лиц. Запрос информации возможен как в устной, так и в письменной форме. Запрашиваемую информацию обязаны предоставлять руководители указанных органов, организаций и объединений, их заместители, работники пресс-служб либо другие уполномоченные лица в пределах их компетенции.<br />
	<br />
	<b>Статья 40. Отказ и отсрочка в предоставлении информации</b><br />
	<br />
	Отказ в предоставлении запрашиваемой информации возможен, только если она содержит сведения, составляющие государственную, коммерческую или иную специально охраняемую законом тайну. Уведомление об отказе вручается представителю редакции в трехдневный срок со дня получения письменного запроса информации. В уведомлении должны быть указаны:<br />
	1) причины, по которым запрашиваемая информация не может быть отделена от сведений, составляющих специально охраняемую законом тайну;<br />
	2) должностное лицо, отказывающее в предоставлении информации;<br />
	3) дата принятия решения об отказе.<br />
	Отсрочка в предоставлении запрашиваемой информации допустима, если требуемые сведения не могут быть представлены в семидневный срок. Уведомление об отсрочке вручается представителю редакции в трехдневный срок со дня получения письменного запроса информации. В уведомлении должны быть указаны:<br />
	1) причины, по которым запрашиваемая информация не может быть представлена в семидневный срок;<br />
	2) дата, к которой будет представлена запрашиваемая информация;<br />
	3) должностное лицо, установившее отсрочку;<br />
	4) дата принятия решения об отсрочке.<br />
	<br />
	<b>Статья 41. Конфиденциальная информация</b><br />
	<br />
	Редакция не вправе разглашать в распространяемых сообщениях и материалах сведения, предоставленные гражданином с условием сохранения их в тайне.<br />
	Редакция обязана сохранять в тайне источник информации и не вправе называть лицо, предоставившее сведения с условием неразглашения его имени, за исключением случая, когда соответствующее требование поступило от суда в связи с находящимся в его производстве делом.<br />
	Редакция не вправе разглашать в распространяемых сообщениях и материалах сведения, прямо или косвенно указывающие на личность несовершеннолетнего, совершившего преступление либо подозреваемого в его совершении, а равно совершившего административное правонарушение или антиобщественное действие, без согласия самого несовершеннолетнего и его законного представителя.<br />
	(часть третья введена Федеральным законом от 05.08.2000 N 110-ФЗ)<br />
	Редакция не вправе разглашать в распространяемых сообщениях и материалах сведения, прямо или косвенно указывающие на личность несовершеннолетнего, признанного потерпевшим, без согласия самого несовершеннолетнего и (или) его законного представителя.<br />
	(часть четвертая введена Федеральным законом от 05.08.2000 N 110-ФЗ)<br />
	<br />
	<b>Статья 42. Авторские произведения и письма</b><br />
	<br />
	Редакция обязана соблюдать права на используемые произведения, включая авторские права, издательские права, иные права на интеллектуальную собственность. Автор либо иное лицо, обладающее правами на произведение, может особо оговорить условия и характер использования предоставляемого редакции произведения.<br />
	Письмо, адресованное в редакцию, может быть использовано в сообщениях и материалах данного средства массовой информации, если при этом не искажается смысл письма и не нарушаются положения настоящего Закона. Редакция не обязана отвечать на письма граждан и пересылать эти письма тем органам, организациям и должностным лицам, в чью компетенцию входит их рассмотрение.<br />
	Никто не вправе обязать редакцию опубликовать отклоненное ею произведение, письмо, другое сообщение или материал, если иное не предусмотрено законом.<br />
	<br />
	<b>Статья 43. Право на опровержение</b><br />
	<br />
	Гражданин или организация вправе потребовать от редакции опровержения не соответствующих действительности и порочащих их честь и достоинство сведений, которые были распространены в данном средстве массовой информации. Такое право имеют также законные представители гражданина, если сам гражданин не имеет возможности потребовать опровержения. Если редакция средства массовой информации не располагает доказательствами того, что распространенные им сведения соответствуют действительности, она обязана опровергнуть их в том же средстве массовой информации.<br />
	Если гражданин или организация представили текст опровержения, то распространению подлежит данный текст при условии его соответствия требованиям настоящего Закона. Редакция радио-, телепрограммы, обязанная распространить опровержение, может предоставить гражданину или представителю организации, потребовавшему этого, возможность зачитать собственный текст и передать его в записи.<br />
	<br />
	<b>Статья 44. Порядок опровержения</b><br />
	<br />
	В опровержении должно быть указано, какие сведения не соответствуют действительности, когда и как они были распространены данным средством массовой информации.<br />
	Опровержение в периодическом печатном издании должно быть набрано тем же шрифтом и помещено под заголовком &quot;Опровержение&quot;, как правило, на том же месте полосы, что и опровергаемое сообщение или материал. По радио и телевидению опровержение должно быть передано в то же время суток и, как правило, в той же передаче, что и опровергаемое сообщение или материал.<br />
	Объем опровержения не может более чем вдвое превышать объем опровергаемого фрагмента распространенного сообщения или материала. Нельзя требовать, чтобы текст опровержения был короче одной стандартной страницы машинописного текста. Опровержение по радио и телевидению не должно занимать меньше эфирного времени, чем требуется для прочтения диктором стандартной страницы машинописного текста.<br />
	Опровержение должно последовать:<br />
	1) в средствах массовой информации, выходящих в свет (в эфир) не реже одного раза в неделю, - в течение десяти дней со дня получения требования об опровержении или его текста;<br />
	2) в иных средствах массовой информации - в подготавливаемом или ближайшем планируемом выпуске.<br />
	В течение месяца со дня получения требования об опровержении либо его текста редакция обязана в письменной форме уведомить заинтересованных гражданина или организацию о предполагаемом сроке распространения опровержения либо об отказе в его распространении с указанием оснований отказа.<br />
	<br />
	<b>Статья 45. Основания отказа в опровержении</b><br />
	<br />
	В опровержении должно быть отказано, если данное требование либо представленный текст опровержения:<br />
	1) является злоупотреблением свободой массовой информации в смысле части первой статьи 4 настоящего Закона;<br />
	2) противоречит вступившему в законную силу решению суда;<br />
	3) является анонимным.<br />
	В опровержении может быть отказано:<br />
	1) если опровергаются сведения, которые уже опровергнуты в данном средстве массовой информации;<br />
	2) если требование об опровержении либо представленный текст его поступили в редакцию по истечении одного года со дня распространения опровергаемых сведений в данном средстве массовой информации.<br />
	Отказ в опровержении либо нарушение установленного настоящим Законом порядка опровержения могут быть в течение года со дня распространения опровергаемых сведений обжалованы в суд в соответствии с гражданским и гражданско-процессуальным законодательством Российской Федерации.<br />
	<br />
	<b>Статья 46. Право на ответ</b><br />
	<br />
	Гражданин или организация, в отношении которых в средстве массовой информации распространены сведения, не соответствующие действительности либо ущемляющие права и законные интересы гражданина, имеют право на ответ (комментарий, реплику) в том же средстве массовой информации.<br />
	В отношении ответа и отказа в таковом применяются правила статей 43 - 45 настоящего Закона.<br />
	Ответ на ответ помещается не ранее чем в следующем выпуске средства массовой информации. Данное правило не распространяется на редакционные комментарии.<br />
	&nbsp;</p>
<p>
	&nbsp;</p>
<br />
<h4>
	Глава V. ПРАВА И ОБЯЗАННОСТИ ЖУРНАЛИСТА</h4>
<p>
	<b>Статья 47. Права журналиста</b><br />
	<br />
	Журналист имеет право:<br />
	1) искать, запрашивать, получать и распространять информацию;<br />
	2) посещать государственные органы и организации, предприятия и учреждения, органы общественных объединений либо их пресс-службы;<br />
	3) быть принятым должностными лицами в связи с запросом информации;<br />
	4) получать доступ к документам и материалам, за исключением их фрагментов, содержащих сведения, составляющие государственную, коммерческую или иную специально охраняемую законом тайну;<br />
	5) копировать, публиковать, оглашать или иным способом воспроизводить документы и материалы при условии соблюдения требований части первой статьи 42 настоящего Закона;<br />
	6) производить записи, в том числе с использованием средств аудио- и видеотехники, кино- и фотосъемки, за исключением случаев, предусмотренных законом;<br />
	7) посещать специально охраняемые места стихийных бедствий, аварий и катастроф, массовых беспорядков и массовых скоплений граждан, а также местности, в которых объявлено чрезвычайное положение; присутствовать на митингах и демонстрациях;<br />
	8) проверять достоверность сообщаемой ему информации;<br />
	9) излагать свои личные суждения и оценки в сообщениях и материалах, предназначенных для распространения за его подписью;<br />
	10) отказаться от подготовки за своей подписью сообщения или материала, противоречащего его убеждениям;<br />
	11) снять свою подпись под сообщением или материалом, содержание которого, по его мнению, было искажено в процессе редакционной подготовки, либо запретить или иным образом оговорить условия и характер использования данного сообщения или материала в соответствии с частью первой статьи 42 настоящего Закона;<br />
	12) распространять подготовленные им сообщения и материалы за своей подписью, под псевдонимом или без подписи.<br />
	Журналист пользуется также иными правами, предоставленными ему законодательством Российской Федерации о средствах массовой информации.<br />
	<br />
	<b>Статья 48. Аккредитация</b><br />
	<br />
	Редакция имеет право подать заявку в государственный орган, организацию, учреждение, орган общественного объединения на аккредитацию при них своих журналистов.<br />
	Государственные органы, организации, учреждения, органы общественных объединений аккредитуют заявленных журналистов при условии соблюдения редакциями правил аккредитации, установленных этими органами, организациями, учреждениями.<br />
	Аккредитовавшие журналистов органы, организации, учреждения обязаны предварительно извещать их о заседаниях, совещаниях и других мероприятиях, обеспечивать стенограммами, протоколами и иными документами, создавать благоприятные условия для производства записи.<br />
	Аккредитованный журналист имеет право присутствовать на заседаниях, совещаниях и других мероприятиях, проводимых аккредитовавшими его органами, организациями, учреждениями, за исключением случаев, когда приняты решения о проведении закрытого мероприятия.<br />
	Журналист может быть лишен аккредитации, если им или редакцией нарушены установленные правила аккредитации либо распространены не соответствующие действительности сведения, порочащие честь и достоинство организации, аккредитовавшей журналиста, что подтверждено вступившим в законную силу решением суда.<br />
	Аккредитация собственных корреспондентов редакций средств массовой информации осуществляется в соответствии с требованиями настоящей статьи.<br />
	<br />
	<b>Статья 49. Обязанности журналиста</b><br />
	<br />
	Журналист обязан:<br />
	1) соблюдать устав редакции, с которой он состоит в трудовых отношениях;<br />
	2) проверять достоверность сообщаемой им информации;<br />
	3) удовлетворять просьбы лиц, предоставивших информацию, об указании на ее источник, а также об авторизации цитируемого высказывания, если оно оглашается впервые;<br />
	4) сохранять конфиденциальность информации и (или) ее источника;<br />
	5) получать согласие (за исключением случаев, когда это необходимо для защиты общественных интересов) на распространение в средстве массовой информации сведений о личной жизни гражданина от самого гражданина или его законных представителей;<br />
	6) при получении информации от граждан и должностных лиц ставить их в известность о проведении аудио- и видеозаписи, кино - и фотосъемки;<br />
	7) ставить в известность главного редактора о возможных исках и предъявлении иных предусмотренных законом требований в связи с распространением подготовленного им сообщения или материала;<br />
	8) отказаться от данного ему главным редактором или редакцией задания, если оно либо его выполнение связано с нарушением закона;<br />
	9) предъявлять при осуществлении профессиональной деятельности по первому требованию редакционное удостоверение или иной документ, удостоверяющий личность и полномочия журналиста;<br />
	(в ред. Федерального закона от 04.07.2003 N 94-ФЗ)<br />
	10) соблюдать запрет на проведение им предвыборной агитации, агитации по вопросам референдума при осуществлении профессиональной деятельности.<br />
	(п. 10 введен Федеральным законом от 04.07.2003 N 94-ФЗ)<br />
	Журналист несет также иные обязанности, установленные законодательством Российской Федерации о средствах массовой информации.<br />
	При осуществлении профессиональной деятельности журналист обязан уважать права, законные интересы, честь и достоинство граждан и организаций.<br />
	Государство гарантирует журналисту в связи с осуществлением им профессиональной деятельности защиту его чести, достоинства, здоровья, жизни и имущества как лицу, выполняющему общественный долг.<br />
	<br />
	<b>Статья 50. Скрытая запись</b><br />
	<br />
	Распространение сообщений и материалов, подготовленных с использованием скрытой аудио- и видеозаписи, кино- и фотосъемки, допускается:<br />
	1) если это не нарушает конституционных прав и свобод человека и гражданина;<br />
	2) если это необходимо для защиты общественных интересов и приняты меры против возможной идентификации посторонних лиц;<br />
	3) если демонстрация записи производится по решению суда.<br />
	<br />
	<b>Статья 51. Недопустимость злоупотребления правами журналиста</b><br />
	<br />
	Не допускается использование установленных настоящим Законом прав журналиста в целях сокрытия или фальсификации общественно значимых сведений, распространения слухов под видом достоверных сообщений, сбора информации в пользу постороннего лица или организации, не являющейся средством массовой информации.<br />
	Запрещается использовать право журналиста на распространение информации с целью опорочить гражданина или отдельные категории граждан исключительно по признакам пола, возраста, расовой или национальной принадлежности, языка, отношения к религии, профессии, места жительства и работы, а также в связи с их политическими убеждениями.<br />
	<br />
	<b>Статья 52. Специальный статус</b><br />
	<br />
	Профессиональный статус журналиста, установленный настоящим Законом, распространяется:<br />
	на штатных сотрудников редакций, занимающихся редактированием, созданием, сбором или подготовкой сообщений и материалов для многотиражных газет и других средств массовой информации, продукция которых распространяется исключительно в пределах одного предприятия (объединения), организации, учреждения;<br />
	на авторов, не связанных с редакцией средства массовой информации трудовыми или иными договорными отношениями, но признаваемых ею своими внештатными авторами или корреспондентами, при выполнении ими поручений редакции.<br />
	&nbsp;</p>
<br />
<h4>
	Глава VI. МЕЖГОСУДАРСТВЕННОЕ СОТРУДНИЧЕСТВО<br />
	В ОБЛАСТИ МАССОВОЙ ИНФОРМАЦИИ</h4>
<p>
	<b>Статья 53. Межгосударственные договоры и соглашения</b><br />
	<br />
	Межгосударственное сотрудничество в области массовой информации осуществляется на основе договоров, заключенных Российской Федерацией.<br />
	Редакции, профессиональные объединения журналистов участвуют в международном сотрудничестве в области массовой информации на основе соглашений с гражданами и юридическими лицами других государств, а также международными организациями.<br />
	<br />
	<b>Статья 54. Распространение зарубежной информации</b><br />
	<br />
	Гражданам Российской Федерации гарантируется беспрепятственный доступ к сообщениям и материалам зарубежных средств массовой информации.<br />
	Ограничение приема программ непосредственного телевизионного вещания допускается не иначе как в случаях, предусмотренных межгосударственными договорами, заключенными Российской Федерацией.<br />
	Для распространения продукции зарубежного периодического печатного издания, то есть не зарегистрированного в Российской Федерации и имеющего место постоянного пребывания учредителя или редакции вне ее пределов, а равно финансируемого иностранными государствами, юридическими лицами или гражданами, необходимо получить разрешение федерального органа исполнительной власти, уполномоченного Правительством Российской Федерации, если порядок распространения не установлен межгосударственным договором, заключенным Российской Федерацией.<br />
	(в ред. Федеральных законов от 29.06.2004 N 58-ФЗ, от 22.08.2004 N 122-ФЗ)<br />
	<br />
	<b>Статья 55. Зарубежные корреспонденты</b><br />
	<br />
	Представительства зарубежных средств массовой информации в Российской Федерации создаются с разрешения Министерства иностранных дел Российской Федерации, если иное не предусмотрено межгосударственным договором, заключенным Российской Федерацией.<br />
	Зарубежные представительства средств массовой информации, зарегистрированных в Российской Федерации, создаются в порядке, установленном законодательными актами Российской Федерации и страны пребывания, если иное не предусмотрено межгосударственным договором, заключенным Российской Федерацией.<br />
	Аккредитация зарубежных корреспондентов в Российской Федерации производится Министерством иностранных дел Российской Федерации в соответствии со статьей 48 настоящего Закона.<br />
	Зарубежные корреспонденты, не аккредитованные в Российской Федерации в установленном порядке, пользуются правами и несут обязанности как представители иностранного юридического лица.<br />
	От обязательной аккредитации для осуществления профессиональной деятельности в Российской Федерации освобождаются:<br />
	зарубежные корреспонденты, ранее аккредитованные в Союзе ССР или в суверенных государствах, входивших в его состав;<br />
	корреспонденты средств массовой информации, ранее зарегистрированных государственными органами Союза ССР или суверенных государств, входивших в его состав.<br />
	На корреспондентов, аккредитованных в Российской Федерации, независимо от их гражданства распространяется профессиональный статус журналиста, установленный настоящим Законом. Правительством Российской Федерации могут быть установлены ответные ограничения в отношении корреспондентов средств массовой информации тех государств, в которых имеются специальные ограничения для осуществления профессиональной деятельности журналистов средств массовой информации, зарегистрированных в Российской Федерации.<br />
	Зарубежные корреспонденты средств массовой информации, зарегистрированных в Российской Федерации, независимо от их гражданства обладают установленными настоящим Законом правами и обязанностями журналиста, если это не противоречит законодательству страны пребывания.<br />
	&nbsp;</p>
<br />
<h4>
	Глава VII. ОТВЕТСТВЕННОСТЬ ЗА НАРУШЕНИЕ ЗАКОНОДАТЕЛЬСТВА<br />
	О СРЕДСТВАХ МАССОВОЙ ИНФОРМАЦИИ</h4>
<p>
	<b>Статья 56. Возложение ответственности</b><br />
	<br />
	Учредители, редакции, издатели, распространители, государственные органы, организации, учреждения, предприятия и общественные объединения, должностные лица, журналисты, авторы распространенных сообщений и материалов несут ответственность за нарушения законодательства Российской Федерации о средствах массовой информации.<br />
	<br />
	<br />
	О применении статьи 57 см. Постановление Пленума Верховного Суда РФ от 24.02.2005 N 3.<br />
	<br />
	<b>Статья 57. Освобождение от ответственности</b><br />
	<br />
	Редакция, главный редактор, журналист не несут ответственности за распространение сведений, не соответствующих действительности и порочащих честь и достоинство граждан и организаций, либо ущемляющих права и законные интересы граждан, либо представляющих собой злоупотребление свободой массовой информации и (или) правами журналиста:<br />
	1) если эти сведения присутствуют в обязательных сообщениях;<br />
	2) если они получены от информационных агентств;<br />
	3) если они содержатся в ответе на запрос информации либо в материалах пресс-служб государственных органов, организаций, учреждений, предприятий, органов общественных объединений;<br />
	4) если они являются дословным воспроизведением фрагментов выступлений народных депутатов на съездах и сессиях Советов народных депутатов, делегатов съездов, конференций, пленумов общественных объединений, а также официальных выступлений должностных лиц государственных органов, организаций и общественных объединений;<br />
	5) если они содержатся в авторских произведениях, идущих в эфир без предварительной записи, либо в текстах, не подлежащих редактированию в соответствии с настоящим Законом;<br />
	6) если они являются дословным воспроизведением сообщений и материалов или их фрагментов, распространенных другим средством массовой информации, которое может быть установлено и привлечено к ответственности за данное нарушение законодательства Российской Федерации о средствах массовой информации.<br />
	Дословное воспроизведение в средстве массовой информации в период соответствующей избирательной кампании, кампании референдума агитационного материала, распространенного в другом средстве массовой информации, в том числе подпадающем под действие статьи 24 настоящего Закона, не является основанием для освобождения журналиста, главного редактора, редакции, иной организации, осуществляющей выпуск средства массовой информации, от ответственности за нарушение законодательства Российской Федерации о выборах и референдумах, если при дословном воспроизведении такого материала не соблюдены требования указанного законодательства, предъявляемые к опубликованию (обнародованию) агитационных материалов.<br />
	(часть вторая введена Федеральным законом от 21.07.2005 N 93-ФЗ)<br />
	<br />
	<b>Статья 58. Ответственность за ущемление свободы массовой информации</b><br />
	<br />
	Ущемление свободы массовой информации, то есть воспрепятствование в какой бы то ни было форме со стороны граждан, должностных лиц государственных органов и организаций, общественных объединений законной деятельности учредителей, редакций, издателей и распространителей продукции средства массовой информации, а также журналистов, в том числе посредством:<br />
	осуществления цензуры;<br />
	вмешательства в деятельность и нарушения профессиональной самостоятельности редакции;<br />
	незаконного прекращения либо приостановления деятельности средства массовой информации;<br />
	нарушения права редакции на запрос и получение информации;<br />
	незаконного изъятия, а равно уничтожения тиража или его части;<br />
	принуждения журналиста к распространению или отказу от распространения информации;<br />
	установления ограничений на контакты с журналистом и передачу ему информации, за исключением сведений, составляющих государственную, коммерческую или иную специально охраняемую законом тайну;<br />
	нарушения прав журналиста, установленных настоящим Законом, - влечет уголовную, административную, дисциплинарную или иную ответственность в соответствии с законодательством Российской Федерации.<br />
	Обнаружение органов, организаций, учреждений или должностей, в задачи либо функции которых входит осуществление цензуры массовой информации, - влечет немедленное прекращение их финансирования и ликвидацию в порядке, предусмотренном законодательством Российской Федерации.<br />
	<br />
	<b>Статья 59. Ответственность за злоупотребление свободой массовой информации</b><br />
	<br />
	Злоупотребление свободой массовой информации, выразившееся в нарушении требований статьи 4 настоящего Закона, - влечет уголовную, административную, дисциплинарную или иную ответственность в соответствии с законодательством Российской Федерации.<br />
	Злоупотребление правами журналиста, выразившееся в нарушении требований статей 50 и 51 настоящего Закона, либо несоблюдение обязанностей журналиста, - влечет уголовную, административную или дисциплинарную ответственность в соответствии с законодательством Российской Федерации.<br />
	(в ред. Федерального закона от 04.07.2003 N 94-ФЗ)<br />
	<br />
	<b>Статья 60. Ответственность за иные нарушения законодательства о средствах массовой информации</b><br />
	<br />
	Нарушение законодательства Российской Федерации о средствах массовой информации, выразившееся:<br />
	в учреждении средства массовой информации через подставное лицо, получении свидетельства о регистрации либо лицензии на вещание обманным путем, скрытой уступке лицензии или неправомерном получении льгот, установленных для специализированных средств массовой информации;<br />
	(в ред. Федерального закона от 02.11.2004 N 127-ФЗ)<br />
	в незаконном изготовлении продукции средства массовой информации без его регистрации либо после решения о прекращении или приостановлении его деятельности, уклонении от перерегистрации, а также предъявлении при регистрации не предусмотренных настоящим Законом требований;<br />
	в воспрепятствовании осуществляемому на законном основании распространению продукции средства массовой информации, установлении незаконных ограничений на розничную продажу тиража периодического печатного издания;<br />
	в нарушении установленных законодательством Российской Федерации о выборах и референдумах правил проведения предвыборной агитации, агитации по вопросам референдума, порядка и условий распространения материалов предвыборной агитации, агитации по вопросам референдума;<br />
	(абзац введен Федеральным законом от 04.07.2003 N 94-ФЗ)<br />
	в незаконном распространении продукции средства массовой информации без его регистрации либо после решения о прекращении или приостановлении его деятельности или без разрешения на выход в свет (в эфир), в незаконном коммерческом распространении, осуществлении вещания без лицензии либо с нарушением лицензионных условий;<br />
	в нарушении правил распространения обязательных сообщений, рекламы, эротических изданий и программ;<br />
	в нарушении порядка объявления выходных данных, представления обязательных экземпляров, хранения материалов теле- и радиопередач;<br />
	в создании искусственных помех, препятствующих уверенному приему радио- и телепрограмм, - влечет уголовную, административную, дисциплинарную или иную ответственность в соответствии с законодательством Российской Федерации.<br />
	<br />
	<b>Статья 61. Порядок обжалования</b><br />
	<br />
	В соответствии с гражданским и гражданско-процессуальным законодательством Российской Федерации могут быть обжалованы в суд:<br />
	1) отказ в регистрации средства массовой информации, нарушение регистрирующим органом порядка и сроков регистрации, иные неправомерные действия регистрирующего органа;<br />
	2) решение федерального органа исполнительной власти, уполномоченного Правительством Российской Федерации, об аннулировании лицензии на вещание:<br />
	(в ред. Федерального закона от 22.08.2004 N 122-ФЗ)<br />
	3) отказ и отсрочка в предоставлении запрашиваемой информации либо несоблюдение должностными лицами, работниками пресс-служб государственных органов, организаций, учреждений, предприятий, органов общественных объединений требований статьи 40 настоящего Закона;<br />
	4) отказ в аккредитации, лишение аккредитации, а равно нарушение прав аккредитованного журналиста.<br />
	Если суд признает обжалуемое решение или действие (бездействие) неправомерным, он выносит решение об обоснованности жалобы, обязанности устранить допущенное нарушение и возместить убытки, включая неполученные доходы, понесенные учредителем, редакцией, держателем лицензии.<br />
	<br />
	<b>Статья 62. Возмещение морального вреда</b><br />
	<br />
	Моральный (неимущественный) вред, причиненный гражданину в результате распространения средством массовой информации не соответствующих действительности сведений, порочащих честь и достоинство гражданина либо причинивших ему иной неимущественный вред, возмещается по решению суда средством массовой информации, а также виновными должностными лицами и гражданами в размере, определяемом судом.<br />
	<br />
	Президент Российской Федерации<br />
	Б. ЕЛЬЦИН<br />
	Москва, Дом Советов России<br />
	27 декабря 1991 года<br />
	N 2124-1</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>