<h1 class="title">
	I. Правила работы на портале Rabota-YA.ru</h1>
<p>
	<strong>1. Общие положения. </strong></p>
<p>
	1.1. Заказчик, выступающий в роли Работодателя, получает доступ к размещению на портале вакансий компании, представителем которой он является, с целью привлечения сотрудников в данную компанию и поиска сотрудников среди размещенных на портале резюме.</p>
<p>
	1.2. Заказчик, выступающий в роли Соискателя, получает доступ к размещению на портале своих персональных резюме с целью поиска работы.</p>
<p>
	1.3. Размещение материалов на портале осуществляется посредством Личного кабинета. Для получения доступа к Личному кабинету Заказчику необходимо зарегистрироваться на портале в соответствующей категории (Работодатель или Соискатель). Логином для доступа к Личному кабинету считается введенный адрес электронной почты.</p>
<p>
	1.4. Заказчик размещает резюме или вакансии, указывая в них свои контактные данные, необходимые для поиска работы или сотрудников.</p>
<p>
	1.5. Срок размещения вакансий и резюме определяется в договоре-оферте. Срок размещения на портале Личного кабинета неограничен и определяется Заказчиком самостоятельно.</p>
<p>
	1.6. Правила работы на портале могут быть изменены в любое время. Новые правила вступают в силу с момента опубликования и не распространяются на уже размещенные в открытом доступе объявления о вакансиях и резюме. Заказчик в полном объеме несет ответственность за соблюдение указанных требований</p>
<p>
	<strong>2. Порядок работы</strong></p>
<p>
	<em>2.1. Доступ к порталу осуществляется 24 часа в сутки ежедневно, и включает в себя следующие возможности:</em></p>
<p>
	<span style="color:#ff0000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em><u>Для Работодателя:</u></em></span></p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1.1. Размещение, удаление, редактирование и управление вакансиями на портале, согласно Правилам размещения вакансий</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1.2. Управление Личным кабинетом.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1.3. Создание, редактирование данных о компании.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1.4. Управление менеджерами по персоналу.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1.5. Доступ ко всем резюме соискателей, находящимся на портале. Контактные данные соискателей доступны только работодателям, разместившим вакансии на портале.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1.6. Отправка приглашений соискателям средствами портала и получение откликов от соискателей.</p>
<p>
	<span style="color:#ff0000;"><span style="color:#ff0000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><u><em>Для Соискателя:</em></u></span></p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1.7. Размещение, удаление, редактирование и управление резюме на портале, согласно Правилам размещения резюме.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1.8. Управление Личным кабинетом.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1.9. Доступ ко всем вакансиям работодателей, находящимся на портале. Контактные данные работодателей находятся в открытом доступе.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1.10. Отправка резюме на размещенные вакансии средствами портала и получение приглашений от работодателей.</p>
<p>
	<strong>3. Регламент работы портала</strong></p>
<p>
	<em>3.1. Портал обязуется обеспечить следующие возможности:</em></p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.1.1. Предоставить Заказчику возможность создавать резюме или вакансии согласно Правилам размещения резюме и Правилам размещения вакансий.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.1.2. Предоставить Заказчику возможность редактировать свои персональные данные.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.1.3. Предоставить возможность откликаться на опубликованные на портале вакансии или резюме, получать сообщения в Личном кабинете.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.1.4. Предоставить возможность Заказчику удалить персональную информацию, а также любую другую информацию, размещенную им на портале через Личный кабинет, в любой момент по его усмотрению.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.1.5. В случае нарушения Заказчиком своих обязанностей, указанных в п. 4.1.1. и п. 4.1.2. настоящих Правил, удалить информацию Заказчика.</p>
<p>
	3.2. Портал прилагает все возможные усилия для того, чтобы избежать несанкционированного использования третьими лицами персональных данных Заказчиков. Но не несет ответственности за возможное нецелевое использование персональных данных Заказчика, произошедшее в случае:</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.2.1. Передачи паролей или информации с портала Заказчиком третьим лицам, не имеющим легального доступа к данной информации.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.2.2. Перебоев в работе портала, связанных с намеренным или ненамеренным использованием портала не по назначению третьими лицами;</p>
<p>
	3.3. В случае нарушения Заказчиком правил работы на портале Исполнитель доступ в Личный кабинет может быть отключен.</p>
<p>
	<strong>4. Обязанности Заказчика</strong></p>
<p>
	<span style="color:#ff0000;"><u><em>4.1. Заказчик обязуется:</em></u></span></p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.1. Соблюдать Правила работы на портале.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.2. Публиковать вакансии или резюме в соответствии с Правилами размещения резюме или Правилами размещения вакансий.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.3. Не размещать любым способом посредством портала информацию, противоречащую законодательству РФ и международному законодательству, а также информацию с призывами к участию/занятию: сетевым маркетингом, в религиозных сектах, игорным бизнесом, деятельностью оккультного и эзотерического характера, проституцией, в проведении массовых электронных рассылок (спам), в финансовых пирамидах, любым другим видом деятельности, требующим вложения первоначальных финансовых средств и/или привлечения других людей и т.д. В противном случае Заказчику направляется извещение от модератора портала о необходимости приведения подаваемой информации в соответствие с Правилами работы на портале, Правилами размещения резюме или Правилами размещения вакансий;</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.4. Не размещать информацию, содержащую призывы к насильственному изменению конституционного строя, пропаганду войны, насилия и порнографии, разжигания религиозной и национальной розни, ущемления чести и достоинства человека и другой информации, запрещенной к распространению действующим законодательством. При попытке размещения на портале данного рода информации Заказчику направляется извещение от модератора портала о необходимости приведения подаваемой информации в соответствие с Правилами работы на портале, Правилами размещения резюме или Правилами размещения вакансий;</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.5. Не размещать заведомо недостоверную информацию;</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.6. Не размещать материалы, используя портал, если Заказчик не имеет на это соответствующих прав. Это касается материалов, защищенных авторскими правами, торговыми марками, патентами и тому подобными;</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.7. Не нарушать информационную безопасность портала;</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.8. Не представляться чужим именем или от чужого имени &mdash; Соискателя, Работодателя, сотрудника Работодателя; не вводить в заблуждение других Заказчиков и администрацию портала относительно своей идентификации любым иным способом;</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.9. Не уничтожать, не изменять любые материалы на портале, автором которых Заказчик не является;</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.10. Не использовать информацию о телефонах, почтовых адресах, адресах электронной почты для целей иных, нежели тематика портала;</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.11. Не регистрироваться, используя чужой адрес электронной почты, или электронный адрес, на который у Заказчика нет прав использования;</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.12. Не передавать пароль на доступ к Личному кабинету третьим лицам. Заказчик полностью несет ответственность за весь ущерб, причиненный ему, Исполнителю или третьим лицам, возникший вследствие намеренной или ненамеренной передачи Заказчиком пароля другому лицу. Заказчик несет ответственность за сохранение конфиденциальности пароля и любое использование портала посредством его пароля.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1.13. Использовать портал исключительно в целях поиска персонала или поиска работы.</p>
<p>
	<strong>5. Тарифы и услуги</strong></p>
<p>
	<em>5.1. Портал оказывает следующие платные услуги</em>:</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5.1.1. Размещение рекламно-информационных материалов (баннеры, рекламные модули)</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5.1.2. Другие услуги и сервисы, указанные в прайс-листе Исполнителя.</p>
<p>
	5.2. Стоимость услуг устанавливается и публикуется на страницах &laquo;Реклама в газете&raquo; и &laquo;Реклама на сайте&raquo;. Стоимость услуг может быть изменена в любое время. Новая стоимость услуг вступает в силу с момента опубликования и не распространяется на оплаченные к моменту опубликования услуги.</p>
<p>
	5.3. Платные услуги регулируются Договором-офертой для работодателя.</p>
<p>
	5.4. Факт оплаты Заказчиком платной услуги автоматически считается согласием с Договором-офертой.</p>
<p>
	<strong>6. Положение о конфиденциальности</strong></p>
<p>
	6.1. Стороны обязуются обеспечить соблюдение действующего на территории Российской Федерации законодательства, регулирующего защиту информации, своими работниками (сотрудниками), а также Субподрядчиками в отношении информации, передаваемой и/или получаемой в рамках исполнения ими своих обязательств</p>
<p>
	6.2. Размещение и использование персональных данных Заказчика ведется с учетом требований п.7.</p>
<p>
	<strong>7. Использование материалов портала</strong></p>
<p>
	7.1. Использование информации о вакансиях, резюме, данных о компании недопустимо ни с какими целями, кроме соответствующих тематике портала.</p>
<p>
	7.2. После размещения резюме и вакансии попадают на бессрочное хранение в архив портала и могут быть использованы по своему усмотрению без изменения их содержания. Другая информация, размещенная Заказчиком на портале, также может быть использована без изменения содержания.</p>
<p>
	7.3. При перепечатке и ином использовании материалов портала, не являющихся резюме, вакансиями, компаниями, а также логотипом, элементами дизайна, внешнего вида и структуры портала, прямая ссылка на портал обязательна.</p>
<p>
	7.4. В случае если Заказчик портала сохраняет резюме или вакансии, автором которых он не является, в своей собственной базе данных вне портала, то ответственность за это несет именно он в рамках Закона &laquo;О персональных данных&raquo;, как оператор персональных данных.</p>
<p>
	7.5. Не допускается использование программных средств (скриптов, роботов) для считывания информации с портала.</p>
<p>
	7.6. Логотип, название, элементы дизайна, оформления и общий внешний вид являются собственностью портала, и их использование запрещено.</p>
<p>
	&nbsp;</p>
<h1 class="title">
	II. Правила размещения резюме</h1>
<p>
	<strong>1. Все резюме, опубликованные на портале, проходят проверку модераторами (проверяются модераторами до публикации). </strong>Модерирование размещаемых резюме осуществляется в соответствии с настоящими Правилами несколько раз в день.</p>
<p>
	<strong>2. Размещение резюме на портале является бесплатной услугой.</strong></p>
<p>
	<strong>3. На портале запрещается размещение резюме:</strong></p>
<p>
	3.1. Не являющихся таковыми (см. п. 7.1. - п. 7.8.);</p>
<p>
	3.2. Содержащих прямую и скрытую рекламу товаров и услуг, в том числе кадровых агентств, компаний и т. п.;</p>
<p>
	3.3. Содержащих рекламу сомнительных коммерческих предприятий;</p>
<p>
	3.4. Содержащие один и тот же текст в разных блоках резюме.</p>
<p>
	3.5. Содержащие ненормативную лексику и оскорбительные слова и выражения.</p>
<p>
	3.6. Содержащих заведомо ложную информацию о соискателе, включая контактный телефон или e-mail;</p>
<p>
	3.7. Содержащие предложения эскорт-услуг, интимных услуг или услуг сексуального характера, связанную с игорным бизнесом, финансовыми пирамидами, религиозными сектами, оккультными услугами, сетевым маркетингом, предлагающие работу или обучение с требованием первоначального вложение денежных средств, и т.п.</p>
<p>
	3.8. Противоречащие ст. 4 ФЗ &laquo;О средствах массовой информации&raquo; &laquo;Недопустимость злоупотребления свободой массовой информации&raquo; (&laquo;&hellip;не допускается использование средств массовой информации в целях совершения уголовно наказуемых деяний, для разглашения сведений, составляющих государственную или иную специально охраняемую законом тайну, для распространения материалов, содержащих публичные призывы к осуществлению террористической деятельности или публично оправдывающих терроризм, других экстремистских материалов, а также материалов, пропагандирующих порнографию, культ насилия и жестокости...&raquo;).</p>
<p>
	3.9. Содержащие другую информацию, противоречащую законодательству Российской Федерации.</p>
<p>
	<strong>4. Доступное количество резюме</strong></p>
<p>
	4.1. Пользователь, зарегистрированный на портале как Соискатель, может опубликовать любое количество резюме.</p>
<p>
	4.2. Пользователь, зарегистрированный на портале как Работодатель, не может публиковать резюме.</p>
<p>
	<strong>5. Резюме должны быть размещены в соответствующих должности рубриках.</strong></p>
<p>
	<strong>6. Размещение одинаковых резюме из разных &laquo;Личных кабинетов&raquo; запрещено.</strong></p>
<p>
	<strong>7. Для гарантированного появления резюме в поиске на портале необходимо следовать следующим требованиям к содержанию и оформлению резюме:</strong></p>
<p>
	<span style="color:#ff0000;"><em>7.1. В резюме обязательно должны быть указаны:</em></span></p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - имя</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - год рождения соискателя</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - город.</p>
<p>
	<span style="color:#ff0000;"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Обязательны для заполнения поля:</em></span></p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - желаемая должность</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - зарплата</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - профессиональная область</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - опыт работы в аналогичной должности</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - график работы</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - занятость</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - уровень образования.</p>
<p>
	7.2. В резюме должно быть правильно указано название желаемой должности. В поле &laquo;Должность&raquo; не допускается указание любой другой информации. Резюме должно содержать информацию только об одной должности одного специалиста (допускаются двойные названия в резюме, если упоминаются сходные должности).</p>
<p>
	7.3. В резюме обязательно должна содержаться информация об образовании и профессиональном опыте соискателя. Каждое место учебы или работы должно быть размещено в отдельной графе.</p>
<p>
	7.4. Контактная информация соискателя должна быть указана в специальных полях резюме.</p>
<p>
	7.5. Все резюме должно быть заполнено на одном языке. Не допускаются к размещению резюме, написанные приписными буквами, транслитом и прочими способами, затрудняющими чтение.</p>
<p>
	7.6. В резюме могут быть размещены ссылки, которые ведут на сайт, на котором вы работали или работаете; на сайт, созданный вами.</p>
<p>
	<span style="color:#ff0000;"><em>7.7. В резюме могут быть добавлены фото, отвечающие следующим условиям:</em></span></p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &ndash; на снимке изображен только один человек</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &ndash; на снимке отчетливо видно лицо</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &ndash; фон снимка нейтральный или связан с профессиональной деятельностью</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &ndash; фотография не содержит рекламу, адреса других порталов, телефоны, символику организаций</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &ndash; на фотографии не изображены творческие работы соискателя</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &ndash; фотография не содержит эротику или порнографию</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &ndash; на фотографии не наличествуют известные личности, персонажи фильмов и мультфильмов</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &ndash; фотографии не являющиеся коллажом или сильно изменены в графическом редакторе.</p>
<p>
	7.8. Перед публикацией резюме внимательно проверьте орфографию и пунктуацию.</p>
<p>
	<strong>8. Лицо, размещающее резюме, гарантирует достоверность указанных в резюме сведений.</strong></p>
<p>
	<strong>9. Размещенное резюме может появиться на портале с задержкой на срок, необходимый на осуществление проверки модератором.</strong> Предварительная проверка резюме модератором может составлять до 1 рабочего дня.</p>
<p>
	<strong>10. Резюме, содержащие нарушения, предусмотренные в настоящих Правилах, снимается с размещения.</strong> Соискатель, получивший уведомление от модератора на электронную почту, имеет возможность исправить резюме в своем Личном кабинете и повторно направить на проверку модератору.</p>
<p>
	<strong>11. Соискатель понимает, что при размещении на портале его персональные данные будут являться общедоступными, и администратор портала не несет ответственности за сохранение их конфиденциальности или использование третьими лицами.</strong> После размещения резюме попадают на бессрочное хранение в электронный архив портала и могут быть использованы администрацией портала без изменения их содержания.</p>
<p>
	12. Администрация портала оставляет за собой право отказать в размещении информации на портале без объяснения причин.</p>
<p>
	&nbsp;</p>
<h1 class="title">
	III. Правила размещения вакансий</h1>
<p>
	<strong>1. Все вакансии, опубликованные на портале, проходят проверку модераторами (проверяются модераторами до публикации)</strong>. Модерирование размещаемых вакансий осуществляется в соответствии с настоящими Условиями несколько раз в день.</p>
<p>
	<strong><em>2. Размещение вакансии должно представлять собой предложение работы и соответствовать следующим условиям:</em></strong></p>
<p>
	2.1. одно объявление должно содержать информацию только об одной вакансии, предлагаемой работодателем.</p>
<p>
	2.2. каждое объявление о вакансии должно быть размещено в отраслевой рубрике, тематически соответствующей объявлению.</p>
<p>
	2.3. текст объявления о вакансии должен быть составлен на русском или английском языке. Не допускаются к размещению объявления о вакансиях, написанные прописными буквами, транслитом и прочими способами, затрудняющими чтение.</p>
<p>
	2.4. заголовок вакансии должен содержать только название должности в единственном числе, именительном падеже. В заголовке не допускается указание лишней информации.</p>
<p>
	<em><strong>3. Не допускаются к публикации объявления о вакансии следующего вида:</strong></em></p>
<p>
	3.1. Не являющиеся предложением работы.</p>
<p>
	3.2. Содержащие один и тот же текст в разных блоках объявления о вакансии.</p>
<p>
	3.3. Содержащие ненормативную лексику и оскорбительные слова и выражения.</p>
<p>
	3.4. Предлагающие работу или обучение, требующие каких-либо оплат, первоначальных взносов или денежных вложений в любой форме, финансовые пирамиды, сетевой маркетинг.</p>
<p>
	3.5. Предлагающие работу в сферах: игорного бизнеса, азартных игр, религиозных сект, оккультных услуг.</p>
<p>
	3.6. Предлагающих написание дипломных, курсовых и т.п. работ.</p>
<p>
	3.7. Предложения об эскорт-услугах, интимных услугах, брачных агенств.</p>
<p>
	3.8. Предлагающие предварительную отправку копий документов, удостоверяющих личность (паспорт, водительские права и пр.) для записи на собеседование.</p>
<p>
	3.9. Содержащие рекламу, в т. ч. скрытую, побуждающие пользователей к приобретению любых продуктов и услуг.</p>
<p>
	3.10. Противоречащие ст. 4 ФЗ &laquo;О средствах массовой информации&raquo; &laquo;Недопустимость злоупотребления свободой массовой информации&raquo; (&laquo;&hellip;не допускается использование средств массовой информации в целях совершения уголовно наказуемых деяний, для разглашения сведений, составляющих государственную или иную специально охраняемую законом тайну, для распространения материалов, содержащих публичные призывы к осуществлению террористической деятельности или публично оправдывающих терроризм, других экстремистских материалов, а также материалов, пропагандирующих порнографию, культ насилия и жестокости...&raquo;).</p>
<p>
	3.11. Содержащие другую информацию, противоречащую законодательству Российской Федерации.</p>
<p>
	<strong>4. Правила размещения объявлений о вакансиях</strong></p>
<p>
	4.1. Размещение объявлений о вакансиях на портале является платной услугой.</p>
<p>
	4.2. Объявление о вакансии может быть размещено на любой срок, кратный 30 дням, но при этом может быть снято клиентом с размещения в любой момент по его желанию.</p>
<p>
	4.3. Запрещено одновременное размещение копий одной и той же вакансии. Продублированные вакансии расцениваются модераторами портала как спам.</p>
<p>
	<strong>5. Правила заполнения карточки компании</strong></p>
<p>
	5.1. На портале разрешается однократная регистрация одного юридического лица. Две и более регистрации одной компании на портале являются нарушением настоящих Правил.</p>
<p>
	5.2. Обязательные элементы: телефон и/или адрес электронной почты</p>
<p>
	<span style="color:#ff0000;"><em>5.3. В карточке компании запрещены:</em></span></p>
<p>
	&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; - ссылки на порталы, не имеющие прямого отношения к компании;</p>
<p>
	&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; - текст или часть текста, набранные заглавными буквами;</p>
<p>
	&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; - рекламные тексты, в том числе фразы рекламного характера.</p>
<p>
	&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; <u>Например:</u> &laquo;Мы предлагаем самые лучшие в мире товары&raquo;.</p>
<p>
	<strong>6. Лицо, размещающее объявление о вакансии или карточку работодателя, гарантирует достоверность указанных в объявлении о вакансии или карточке работодателя сведений.</strong></p>
<p>
	<strong>7. Работодатель понимает, что при размещении на портале информации о компании данные сведения будут являться общедоступными, и администратор портала не несет ответственности за сохранение их конфиденциальности или использование третьими лицами.</strong></p>
<p>
	<strong>8. Размещенное объявление о вакансии может появиться на портале с задержкой на срок, необходимый на осуществление проверки модератором.</strong> Предварительная проверка объявления о вакансии модератором может составлять до 1 рабочего дня.</p>
<p>
	<strong>9. Объявления о вакансиях, содержащие нарушения, предусмотренные в настоящих Условиях, снимаются с размещения</strong>. Пользователь, получивший уведомление от модератора на электронную почту, имеет возможность исправить объявление о вакансии или данных в карточке компании в своем Личном кабинете и повторно направить на проверку модератору.</p>
<p>
	<strong>10. Администрация портала оставляет за собой право отказать в размещении информации на портале без объяснения причин.</strong></p>