<h1 class="title">
	Rabota-YA.ru: мы помогаем находить работу уже 5 лет.</h1>
<p>
	<strong>Если вы хотите устроиться на <a href="http://rabota-ya.ru/po-professiyam">работу</a></strong><a href="http://rabota-ya.ru/po-professiyam"> в Санкт-Петербурге и Ленинградской области</a>, <strong>то <span style="color:#ff0000;">наш сайт &ndash; для Вас!</span></strong></p>
<p>
	Пользуясь бесплатными услугами<span style="color:#ff0000;"> R</span>abota-<span style="color:#ff0000;">YA</span>.ru, Вы легко и быстро сможете найти подходящую вакансию.</p>
<p>
	Специально для Вас мы собрали огромный <a href="http://rabota-ya.ru/po-kompaniyam">каталог вакансий</a>, доступ к которому не требует регистрации. Все объявления рассортированы по<a href="http://rabota-ya.ru/po-otraslyam"> сферам профессиональной деятельности</a>, благодаря чему Вам не нужно просматривать неподходящие объявления. Поиск по базе данных максимально упрощен.</p>
<p>
	На <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru публикуются вакансии только <a href="http://rabota-ya.ru/po-kompaniyam">прямых работодателей</a>. С нами Ваш процесс трудоустройства не превратиться в нескончаемый поход по кабинетам кадровых агентств.</p>
<p>
	Ища работу на портале <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru, Вы получаете прямой доступ к контактным данным потенциальных работодателей даже без регистрации. Больше не нужно отправлять бесконечное количество электронных запросов для того, чтобы узнать телефон или электронный адрес.</p>
<p>
	<strong>Наша главная цель &ndash; помочь работодателям и соискателям найти друг друга, поэтому мы за прямой диалог!</strong></p>
<p>
	Зарегистрировавшись, Вы можете бесплатно опубликовать на <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru свое <a href="http://rabota-ya.ru/form_add_resume">резюме</a>, которое в ближайшее время увидят работодатели.</p>
<p>
	В случае регистрации Вы также получаете возможность пользоваться личным кабинетом, который поможет Вам отслеживать статус Вашего <a href="http://rabota-ya.ru/all-resumes">резюме</a>, а также просматривать профайлы и вакансии работодателей, которые заинтересовались Вашей кандидатурой.</p>
<p>
	<strong>Стройте свое профессиональное будущее вместе с нами!</strong></p>
<p>
	В случае возникновения вопросов или проблем, Вы всегда можете обратиться в нашу службу технической поддержки по тел. <span style="color:#ff0000;"><strong>305-305-7</strong></span>.</p>
<p>
	<a href="http://rabota-ya.ru/">Портал <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru</a> создан для максимально удобного поиска работы в Санкт-Петербурге и в других регионах. Поиск высокооплачиваемой работы не займет у вас много времени и сил &ndash; портал очень прост в использовании. Если у вас возникнут вопросы или вам потребуется помощь, вы можете перезвонить в нашу службу тех. поддержки по тел. <span style="color:#ff0000;"><strong>305-305-7</strong></span>. Тысячи вакансий от прямых работодателей, проверенные на подлинность, ждут соискателей. Срочно найти работу с обучением или найти работу со свободным или гибким графиком, выбрать идеальное соотношения обязанностей и заработной платы вы сможете с помощью портала <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru.</p>
<p>
	Какая бы вакансия не привлекла ваше внимание, вы всегда можете быть уверены в том, что все предложения, размещенные на <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru &ndash; это реальная работа от прямых работодателей. Мы делаем все, чтобы компании нашли грамотных сотрудников, а соискатели выбрали интересную работу с высокой оплатой труда, а отзывы о нашем портале были бы только положительными.</p>
<p>
	<strong>Разместить резюме вы можете <span style="color:#ff0000;">абсолютно бесплатно.</span></strong></p>