<h1 class="title">
	На чем сосредоточиться при поиске работы</h1>
<p>
	<strong>Поиск работы &ndash; процесс многогранный</strong>. Нужно сделать многое: и резюме грамотно составить, и ответы на вопросы для собеседования продумать, и качественную самопрезентацию подготовить, и список интересующих работодателей оставить и еще многое-многое другое. А ведь по-прежнему есть личные дела и проблемы&hellip; Когда все успеть? А если времени совсем мало, то чему лучше уделить внимание в первую очередь? Целый ворох дел и вопросов создает путаницу в голове и возникает опасность допущения досадной ошибки, из-за которой можно в итоге остаться без работы.</p>
<p style="text-align: center;">
	<em><strong>Что бы помочь вам справиться со всей этой неразберихой и не попасть впросак, <span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru предлагает 4 приоритетных пункта в списке ваших дел при поиске работы.</strong></em></p>
<p>
	<strong>1. Составить резюме Без резюме процесс не начнется.</strong></p>
<p>
	Не пожалейте времени и подготовьте качественное резюме, без грамматических, стилистических и логических ошибок. Шаблон для резюме можно легко взять с любого job-портала, например, <span style="color:#ff0000;">R</span>abot<span style="color:#000000;">a-</span><span style="color:#ff0000;">YA</span>.ru. Воспользуйтесь распространенными правилами составления: Размер не должен превышать одной страницы; Не стоит перегружать вашу &laquo;заявку о себе&raquo; сведениями о всех местах работы &ndash; выберите 3-4 наиболее удачных; Не забудьте указать информацию об образовании, на это обращают внимание (особенно если вы начинающий специалист); Не лишним будет перечисление посещенных вами курсов, тренингов и семинаров, актуальных для вашей будущей вакансии; Не делайте резюме сухим перечнем вашего опыта работы &ndash; добавьте информацию об увлечениях и интересах; Будет замечательно, если вы творчески подойдете к данному этапу работы (ведь работодатели устают от бесконечного просмотра однообразных резюме). Помните, что будет большой ошибкой написать один раз резюме для публикации на портале по поиску работы и забыть о нем. Резюме нужно постоянно актуализировать, изменять в зависимости от того, в какую компанию вы его отсылаете. Анализируйте написанное, используйте опыт предыдущей работы.</p>
<p>
	<strong>2. Попасть на собеседование </strong></p>
<p>
	Нет собеседования &ndash; нет работы. После написания резюме ваша приоритетная задача &ndash; попасть на живую беседу в офис компании. Для этого начните с составления списка интересующих вас организаций. Поищите их вакансии на job-сайтах или на корпоративном сайте и откликнитесь на них. При этом стоит учесть, что простого нажатия на кнопку &laquo;откликнуться&raquo; может быть недостаточно. Не лишним будет отослать резюме на личный адрес электронной почты человека, ответственного за подбор персонала, или позвонить ему. Не стесняйтесь самостоятельно организовывать общение &ndash; контактные данные для этого и даются. Не переживайте, если после телефонного разговора работодатель не спешит приглашать вас на встречу &ndash; вежливо предложите это самостоятельно. Отнеситесь к попаданию на собеседование как к самоцели, а не способу получения работы. Добивайтесь своего.</p>
<p>
	<strong>3. Воспользоваться сарафанным радио</strong></p>
<p>
	Важность рекомендаций никто не отменял. Найти работу можно не только с помощью порталов типа rabota-ya.ru. Не стоит забывать и о личных контактах. Вспомните о популярной теории 6 рукопожатий и поговорите со своими родными, друзьями, знакомыми, бывшими коллегами и руководителями. Возможно, у них есть на примете человек с интересующей вас открытой вакансией. Поэтому используйте все возможности своего круга общения, пусть все знают, что вы ищите работу.</p>
<p>
	<strong>4. Держать телефон под рукой</strong></p>
<p>
	Работа вашей мечты может объявиться в любую минуту. На время поиска работы вы всегда должны быть на связи. Не отключайте телефон, носите его всегда с собой, регулярно проверяйте электронную почту. Когда появится шанс, среагировать нужно будет сразу.</p>
<p>
	Эти простые правила помогут вам определить основные направления деятельности и спланировать свое время. А организованный процесс &ndash; залог успеха.</p>
<p>
	Другие интересные советы и полезную информацию ищите регулярно в разделе<strong> <span style="color:#ff0000;">&laquo;Советы для соискателей&raquo;</span> на бесплатном портале</strong> для поиска работы в Санкт-Петербурге и Ленинградской области <span style="color:#ff0000;">R</span>abot<span style="color:#000000;">a-</span><span style="color:#ff0000;">YA</span>.ru.</p>
<p style="text-align: center;">
	<span style="font-size:16px;"><strong><span style="color: rgb(255, 0, 0);">R</span>abot<span style="color:#000000;">a-</span><span style="color: rgb(255, 0, 0);">YA</span>.ru &ndash; стройте свое профессиональное будущее вместе с нами!</strong></span></p>