<h1 class="title">
	7 важных вопросов или как нанять сотрудника</h1>
<table width="100%">
	<tbody>
		<tr>
			<td style="width: 50%; padding-right: 5px">
				<p>
					<em>Хорошо подобранный персонал является залогом успеха компании. Но, как известно, поиск сотрудников - задача не из легких. Трудно найти хорошего кандидата, а об идеальном часто вообще можно только мечтать (конечно, если вы не корпорация международного уровня).</em></p>
			</td>
			<td style="width: 50%; padding-left: 5px">
				Обязанности по поиску кадров обычно берет на себя HR-менеджер в штате фирмы. Процесс может также быть отдан на outsourcing специализированным кадровым агентствам. Но случается и так, что данным вопросом занимается непосредственно директор компании.</td>
		</tr>
	</tbody>
</table>
<p style="text-align: center;">
	&nbsp;</p>
<p style="text-align: center;">
	<span style="font-size:16px;"><strong>Специально для тех, у кого нет HR-отдела,</strong></span></p>
<p style="text-align: center;">
	<span style="font-size:14px;"><strong><span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru предлагает простые вопросы,</strong></span></p>
<p style="text-align: center;">
	<span style="font-size:14px;"><strong>ответив на которые вы сможете выбрать лучшего кандидата.</strong></span><br />
	&nbsp;</p>
<p>
	<strong>1. Кто нам нужен? И нужен ли вообще?</strong></p>
<p>
	Как и всюду, главное в процессе подбора сотрудника &ndash; определиться, кого именно недостает вашей компании. Тщательно продумайте, какую работу будет выполнять новый член коллектива. Стоит ли для выполнения данных функций нанимать еще одного сотрудника или же можно обойтись ротацией кадров (распределить необходимый объем работы между нынешним кадровым составом). Если вам все же нужен новый человек в команде, четко определите для себя его портретные характеристики: пол, возраст, образование, опыт работы, качества характера и т.д. Вы должны точно знать, какой сотрудник вам подойдет, а какой нет.</p>
<p>
	<strong>2. Где взять новый кадр?</strong></p>
<p>
	Затем подумайте, каким образом вы будете искать кандидатов на замещение вакансии. Здесь может быть несколько вариантов. Во-первых, можно обратиться в кадровые агентства. Преимущество состоит в том, что у хорошего агентства есть большая база данных, что значительно ускоряет процесс найма. Агенты также знают, где лучше всего искать соискателей и на что в первую очередь обращать внимание при оценке резюме. В руках специалиста, как говориться, чувствуешь себя надежнее. Недостатки данного варианта состоят в следующем: высокая стоимость предоставляемых услуг в сочетании с тем фактом, что сторонний специалист не знает специфики вашей организации, возможно, он не сможет учесть какие-то существенные моменты. Во-вторых, в вашем распоряжении популярные сейчас job-порталы, например, rabota-ya.ru. С их помощью вы можете разместить бесплатное (как правило) объявление о вакансии, а также найти соискателей. Безусловным преимуществом является финансовая экономия, а также возможность самостоятельно увидеть и оценить ситуацию на рынке труда в вашей сфере деятельности, возможно составить собственную базу данных. Отрицательный момент в том, что всю работу вы выполняете самостоятельно, а это требует времени. Помимо этого, на сайте в данный момент может не оказаться подходящей кандидатуры. В-третьих, не стоит забывать о старых добрых рекомендациях. Вполне возможно, что у одного из ваших сотрудников на примете есть кто-то, подходящий под заданные параметры (вы же помните про популярную теорию о 6 рукопожатиях?). Рекомендация обеспечит вам надежный, проверенный кадр. Этот способ также не потребует денежных вложений и будет достаточно быстрым.</p>
<p>
	<strong>3. О мы будет говорить?</strong></p>
<p>
	Еще один ключевой этап в процессе найма &ndash; собеседование. Именно оно определит, подходит вам данный соискатель или нет. Поэтому после отбора резюме внимательно обдумайте вопросы, которые вы зададите кандидатам. Разделите вопросы по группам, например, персональные данные, опыт работы, видение будущих рабочих обязанностей и т.п. Это поможет вам выделить главное и не ничего упустить. Можно добавить, что сейчас стало тенденцией задавать на собеседовании т.н. &laquo;нестандартные вопросы&raquo; (такие как: чего не хватало вашему предыдущему работодателю для успеха? Можете ли вы описать идеального начальника? Каков ваш метод решения проблемы? Как начальство может вам помочь? и т.д.). Ответ на такие вопросы спонтанен, а значит лучше показывает качества вашего кандидата. Помните, что некоторые вопросы могут быть некорректными с вашей стороны. Не стоит спрашивать о социальном положении, вероисповедании и т.п.</p>
<p>
	<strong>4. Как увидит фирму соискатель?</strong></p>
<p>
	Не забывайте, что для соискателя важно первое впечатление, которое произведут на него работодатель и офис. Это часть тех параметров на основе которых сегодня осуществляется конкуренция в HR сфере между компаниями-производителями одинаковых товаров/услуг. Подготовьтесь к встрече. Выберите помещение, где потенциальный сотрудник будет чувствовать себя комфортно; скажите секретарше, чтобы во время собеседования вас никто не прерывал. Будьте гостеприимны и вежливы &ndash; представьтесь, предложите чашку чая или кофе, говорите спокойно, без спешки, постарайтесь не отвлекаться на телефонные звонки.</p>
<p>
	<strong>5. Что рассказать?</strong></p>
<p>
	Предоставьте наиболее полную информацию о вакансии и подробно ответьте на вопросы (их также можно продумать заранее). Повторно опишите вакансию, добавьте детали. Расскажите о последующем процессе трудоустройства &ndash; нужно ли будет кандидату проходить повторное интервью, будет ли с ним говорить что-то еще. Объясните, какие результаты вы ожидаете от нанимаемого после первой недели/ первого месяца работы. Не забудьте описать саму вашу фирму и ее корпоративную культуру, принципы взаимодействия сотрудников и требования к ним. Но не стоит сообщать эти сведения в начале интервью, поскольку таким образом соискатель будет подготовлен к задаваемым вопросам. Помните, что во избежание дальнейших конфликтов следует сообщать достоверную информацию, не замалчивать существенные отрицательные моменты.</p>
<p>
	<strong>6. Что еще следует сделать во время собеседования?</strong></p>
<p>
	Важно делать необходимые записи во время вашего разговора. Именно по ним вы позже сможете освежить в памяти впечатления от потенциального сотрудника. Это тем более важно, если вам предстоит выбрать из нескольких кандидатов.</p>
<p>
	<strong>7. Что сделать после интервью?</strong></p>
<p>
	По завершении собеседования не пожалейте пяти минут и обдумайте результаты. Сможет ли этот конкретный человек стать вашим сотрудником? Воспользуйтесь сделанными записями и выдвиньте объективную оценку. Честно ответьте на вопросы: справится ли этот кандидат со своими обязанностями? Обладает ли он необходимыми навыками? &laquo;Впишется&raquo; ли в коллектив?</p>
<p>
	&nbsp;</p>
<p style="text-align: center;">
	<strong>Помните, любая компания это, прежде всего, ее сотрудники. Именно от них зависит будущее вас и вашего бизнеса.</strong></p>
<p style="text-align: center;">
	<span style="color:#ff0000;"><strong>Свою помощь в подборе сотрудников предлагает портал Raboya-YA.ru, специализирующийся на трудовом рынке Санкт-Петербурга и Ленинградской области.</strong></span></p>
<p style="text-align: center;">
	<strong>Зайдите в разделы <u><a href="http://rabota-ya.ru/portal"><span style="color:#ff0000;">&laquo;О портале&raquo;</span></a></u> и <u><a href="http://rabota-ya.ru/for_employers"><span style="color:#ff0000;">&laquo;Работодателям&raquo;</span></a></u> чтобы узнать больше.</strong></p>
<p style="text-align: center;">
	<strong><span style="color:#ff0000;">R</span>abota-<span style="color:#ff0000;">YA</span>.ru &ndash; ищите идеальных сотрудников вместе с нами!</strong></p>