<p>
	<span style="font-size:16px;"><strong>I. Правила работы на портале <span style="font-size:22px;">RABOTA-</span></strong><span style="font-size:22px;"><strong>YA</strong><strong>.</strong><strong>RU</strong></span></span></p>
<p>
	<span style="font-size:16px;"><strong>1. Общие положения.</strong></span></p>
<p>
	<span style="font-size:16px;">1.1. Заказчик, выступающий в роли Работодателя, получает доступ к размещению на портале вакансий компании, представителем которой он является, с </span></p>
<p>
	<span style="font-size:16px;">целью привлечения сотрудников в данную компанию и поиска сотрудников среди размещенных на портале резюме.</span></p>
<p>
	<span style="font-size:16px;">1.2. Заказчик, выступающий в роли Соискателя, получает доступ к размещению на портале своих персональных резюме с целью поиска работы.</span></p>
<p>
	<span style="font-size:16px;">1.3. Размещение материалов на портале осуществляется посредством Личного кабинета. Для получения доступа к Личному кабинету Заказчику необходимо </span></p>
<p>
	<span style="font-size:16px;">зарегистрироваться на портале в соответствующей категории (Работодатель или Соискатель). Логином для доступа к Личному кабинету считается введенный </span></p>
<p>
	<span style="font-size:16px;">адрес электронной почты.</span></p>
<p>
	<span style="font-size:16px;">1.4. Заказчик размещает резюме или вакансии, указывая в них свои контактные данные, необходимые для поиска работы или сотрудников.</span></p>
<p>
	<span style="font-size:16px;">1.5. Срок размещения вакансий и резюме определяется в договоре-оферте. Срок размещения на портале Личного кабинета неограничен и определяется Заказчиком </span></p>
<p>
	<span style="font-size:16px;">самостоятельно.</span></p>
<p>
	<span style="font-size:16px;">1.6. Правила работы на портале могут быть изменены в любое время. Новые правила вступают в силу с момента опубликования и не распространяются на уже </span></p>
<p>
	<span style="font-size:16px;">размещенные в открытом доступе объявления о вакансиях и резюме. Заказчик в полном объеме несет ответственность за соблюдение указанных требований</span></p>
<p>
	<span style="font-size:16px;"><strong>2. Порядок работы</strong></span></p>
<p>
	<span style="font-size:16px;">2.1. Доступ к порталу осуществляется 24 часа в сутки ежедневно, и включает в себя следующие возможности:</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;"><strong>Для Работодателя:</strong></span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">2.1.1. Размещение, удаление, редактирование и управление вакансиями на портале, согласно Правилам размещения вакансий.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">2.1.2. Управление Личным кабинетом.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">2.1.3. Создание, редактирование данных о компании.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">2.1.4. Управление менеджерами по персоналу.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">2.1.5. Доступ ко всем резюме соискателей, находящимся на портале. Контактные данные соискателей доступны только работодателям, разместившим вакансии </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">на портале.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">2.1.6. Отправка приглашений соискателям средствами портала и получение откликов от соискателей.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;"><strong>Для Соискателя:</strong></span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">2.1.7. Размещение, удаление, редактирование и управление резюме на портале, согласно Правилам размещения резюме.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">2.1.8. Управление Личным кабинетом.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">2.1.9. Доступ ко всем вакансиям работодателей, находящимся на портале. Контактные данные работодателей находятся в открытом доступе.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">2.1.10. Отправка резюме на размещенные вакансии средствами портала и получение приглашений от работодателей.</span></p>
<p>
	<span style="font-size:16px;"><strong>3. Регламент работы портала</strong></span></p>
<p>
	<span style="font-size:16px;">3.1. Портал обязуется обеспечить следующие возможности:</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">3.1.1. Предоставить Заказчику возможность создавать резюме или вакансии согласно Правилам размещения резюме и Правилам размещения вакансий.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">3.1.2. Предоставить Заказчику возможность редактировать свои персональные данные.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">3.1.3. Предоставить возможность откликаться на опубликованные на портале вакансии или резюме, получать сообщения в Личном кабинете.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">3.1.4. Предоставить возможность Заказчику удалить персональную информацию, а также любую другую информацию, размещенную им на портале через Личный </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">кабинет, в любой момент по его усмотрению.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">3.1.5. В случае нарушения Заказчиком своих обязанностей, указанных в п. 4.1.1. и п. 4.1.2. настоящих Правил, удалить информацию Заказчика.</span></p>
<p>
	<span style="font-size:16px;">3.2. Портал прилагает все возможные усилия для того, чтобы избежать несанкционированного использования третьими лицами персональных данных Заказчиков. Но </span></p>
<p>
	<span style="font-size:16px;">не несет ответственности за возможное нецелевое использование персональных данных Заказчика, произошедшее в случае:</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">3.2.1. передачи паролей или информации с портала Заказчиком третьим лицам, не имеющим легального доступа к данной информации.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">3.2.2. перебоев в работе портала, связанных с намеренным или ненамеренным использованием портала не по назначению третьими лицами;</span></p>
<p>
	<span style="font-size:16px;">3.4. В случае нарушения Заказчиком правил работы на портале Исполнитель доступ в Личный кабинет может быть отключен.</span></p>
<p>
	<span style="font-size:16px;"><strong>4. Обязанности Заказчика</strong></span></p>
<p>
	<span style="font-size:16px;">4.1. Заказчик обязуется:</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.1. Соблюдать Правила работы на портале;</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.2. Публиковать вакансии или резюме в соответствии с Правилами размещения резюме или Правилами размещения вакансий.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.3. Не размещать любым способом посредством портала информацию, противоречащую законодательству РФ и международному законодательству, а также </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">информацию с призывами к участию/занятию: сетевым маркетингом, в религиозных сектах, игорным бизнесом, деятельностью оккультного и эзотерического </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">характера, проституцией, в проведении массовых электронных рассылок (спам), в финансовых пирамидах, любым другим видом деятельности, требующим </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">вложения первоначальных финансовых средств и/или привлечения других людей и т.д. В противном случае Заказчику направляется извещение от модератора </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">портала о необходимости приведения подаваемой информации в соответствие с Правилами работы на портале, Правилами размещения резюме или Правилами </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">размещения вакансий;</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.4. Не размещать информацию, содержащую призывы к насильственному изменению конституционного строя, пропаганду войны, насилия и порнографии, </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">разжигания религиозной и национальной розни, ущемления чести и достоинства человека и другой информации, запрещенной к распространению действующим</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">законодательством. При попытке размещения на портале данного рода информации Заказчику направляется извещение от модератора портала о необходимости </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">приведения подаваемой информации в соответствие с Правилами работы на портале, Правилами размещения резюме или Правилами размещения вакансий;</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.5. Не размещать заведомо недостоверную информацию;</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.6. Не размещать материалы, используя портал, если Заказчик не имеет на это соответствующих прав. Это касается материалов, защищенных авторскими правами, </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">торговыми марками, патентами и тому подобными;</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.7. Не нарушать информационную безопасность портала;</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.8. Не представляться чужим именем или от чужого имени &mdash; Соискателя, Работодателя, сотрудника Работодателя; не вводить в заблуждение других Заказчиков и </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">администрацию портала относительно своей идентификации любым иным способом;</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.9. Не уничтожать, не изменять любые материалы на портале, автором которых Заказчик не является;</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.10. Не использовать информацию о телефонах, почтовых адресах, адресах электронной почты для целей иных, нежели тематика портала;</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.11. Не регистрироваться, используя чужой адрес электронной почты, или электронный адрес, на который у Заказчика нет прав использования;</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.12. Не передавать пароль на доступ к Личному кабинету третьим лицам. Заказчик полностью несет ответственность за весь ущерб, причиненный ему, Исполнителю </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">или третьим лицам, возникший вследствие намеренной или ненамеренной передачи Заказчиком пароля другому лицу. Заказчик несет ответственность за сохранение </span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">конфиденциальности пароля и любое использование портала посредством его пароля.</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">4.1.13. Использовать портал исключительно в целях поиска персонала или поиска работы.</span></p>
<p>
	<span style="font-size:16px;"><strong>5. Тарифы и услуги</strong></span></p>
<p>
	<span style="font-size:16px;">5.1. Портал оказывает следующие платные услуги:</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">5.1.1. Размещение рекламно-информационных материалов (баннеры, рекламные модули)</span></p>
<p style="margin-left:15.0pt;">
	<span style="font-size:16px;">5.1.2. Другие услуги и сервисы, указанные в прайс-листе Исполнителя.</span></p>
<p>
	<span style="font-size:16px;">5.2. Стоимость услуг устанавливается и публикуется на страницах &laquo;Реклама в газете&raquo; и &laquo;Реклама на сайте&raquo;. Стоимость услуг может быть изменена в любое время. Новая </span></p>
<p>
	<span style="font-size:16px;">стоимость услуг вступает в силу с момента опубликования и не распространяется на оплаченные к моменту опубликования услуги.</span></p>
<p>
	<span style="font-size:16px;">5.3. Платные услуги регулируются <u>Договором-офертой для работодателя</u>.</span></p>
<p>
	<span style="font-size:16px;">5.4. Факт оплаты Заказчиком платной услуги автоматически считается согласием с Договором-офертой.</span></p>
<p>
	<span style="font-size:16px;"><strong>6. Положение о конфиденциальности</strong></span></p>
<p>
	<span style="font-size:16px;">6.1. Стороны обязуются обеспечить соблюдение действующего на территории Российской Федерации законодательства, регулирующего защиту информации, своими </span></p>
<p>
	<span style="font-size:16px;">работниками (сотрудниками), а также Субподрядчиками в отношении информации, передаваемой и/или получаемой в рамках исполнения ими своих обязательств</span></p>
<p>
	<span style="font-size:16px;">6.2. Размещение и использование персональных данных Заказчика ведется с учетом требований п.7.</span></p>
<p>
	<span style="font-size:16px;"><strong>7. Использование материалов портала</strong></span></p>
<p>
	<span style="font-size:16px;">7.1. Использование информации о вакансиях, резюме, данных о компании недопустимо ни с какими целями, кроме соответствующих тематике портала.</span></p>
<p>
	<span style="font-size:16px;">7.2. После размещения резюме и вакансии попадают на бессрочное хранение в архив портала и могут быть использованы по своему усмотрению без изменения их содержания.</span></p>
<p>
	<span style="font-size:16px;">Другая информация, размещенная Заказчиком на портале, также может быть использована без изменения содержания.</span></p>
<p>
	<span style="font-size:16px;">7.3. При перепечатке и ином использовании материалов портала, не являющихся резюме, вакансиями, компаниями, а также логотипом, элементами дизайна, внешнего вида и </span></p>
<p>
	<span style="font-size:16px;">структуры портала, прямая ссылка на портал обязательна.</span></p>
<p>
	<span style="font-size:16px;">7.4. В случае если Заказчик портала сохраняет резюме или вакансии, автором которых он не является, в своей собственной базе данных вне портала, то ответственность за это</span></p>
<p>
	<span style="font-size:16px;">несет именно он в рамках Закона &laquo;О персональных данных&raquo;, как оператор персональных данных.</span></p>
<p>
	<span style="font-size:16px;">7.5. Не допускается использование программных средств (скриптов, роботов) для считывания информации с портала.</span></p>
<p>
	<span style="font-size:16px;">7.6. Логотип, название, элементы дизайна, оформления и общий внешний вид являются собственностью портала, и их использование запрещено.</span></p>
<p>
	<span style="font-size:16px;"><strong>II. Правила размещения резюме</strong></span></p>
<p>
	<span style="font-size:16px;">1. Все резюме, опубликованные на портале, проходят проверку модераторами (проверяются модераторами до публикации). Модерирование размещаемых резюме осуществляется</span></p>
<p>
	<span style="font-size:16px;">в соответствии с настоящими Правилами несколько раз в день.</span></p>
<p>
	<span style="font-size:16px;">2. Размещение резюме на портале является бесплатной услугой.</span></p>
<p>
	<span style="font-size:16px;">3. На портале запрещается размещение резюме:</span></p>
<p>
	<span style="font-size:16px;">3.1. не являющихся таковыми (см. п. 7.1. - п. 7.8.);</span></p>
<p>
	<span style="font-size:16px;">3.2. содержащих прямую и скрытую рекламу товаров и услуг, в том числе кадровых агентств, компаний и т. п.;</span></p>
<p>
	<span style="font-size:16px;">3.3. содержащих рекламу сомнительных коммерческих предприятий;</span></p>
<p>
	<span style="font-size:16px;">3.4. содержащие один и тот же текст в разных блоках резюме.</span></p>
<p>
	<span style="font-size:16px;">3.5. содержащие ненормативную лексику и оскорбительные слова и выражения.</span></p>
<p>
	<span style="font-size:16px;">3.6. содержащих заведомо ложную информацию о соискателе, включая контактный телефон или e-mail;</span></p>
<p>
	<span style="font-size:16px;">3.7. содержащие предложения эскорт-услуг, интимных услуг или услуг сексуального характера, связанную с игорным бизнесом, финансовыми пирамидами, религиозными сектами, </span></p>
<p>
	<span style="font-size:16px;">оккультными услугами, сетевым маркетингом, предлагающие работу или обучение с требованием первоначального вложение денежных средств, и т.п.</span></p>
<p>
	<span style="font-size:16px;">3.8. противоречащие ст. 4 ФЗ &laquo;О средствах массовой информации&raquo; &laquo;Недопустимость злоупотребления свободой массовой информации&raquo; (&laquo;&hellip;не допускается использование средств </span></p>
<p>
	<span style="font-size:16px;">массовой информации в целях совершения уголовно наказуемых деяний, для разглашения сведений, составляющих государственную или иную специально охраняемую законом тайну,</span></p>
<p>
	<span style="font-size:16px;">для распространения материалов, содержащих публичные призывы к осуществлению террористической деятельности или публично оправдывающих терроризм, других экстремистских</span></p>
<p>
	<span style="font-size:16px;">материалов, а также материалов, пропагандирующих порнографию, культ насилия и жестокости...&raquo;).</span></p>
<p>
	<span style="font-size:16px;">3.9. содержащие другую информацию, противоречащую законодательству Российской Федерации.</span></p>
<p>
	<span style="font-size:16px;">4. Доступное количество резюме</span></p>
<p>
	<span style="font-size:16px;">4.1. пользователь, зарегистрированный на портале как Соискатель, может опубликовать любое количество резюме.</span></p>
<p>
	<span style="font-size:16px;">4.2. пользователь, зарегистрированный на портале как Работодатель, не может публиковать резюме.</span></p>
<p>
	<span style="font-size:16px;">5. Резюме должны быть размещены в соответствующих должности рубриках.</span></p>
<p>
	<span style="font-size:16px;">6. Размещение одинаковых резюме из разных &laquo;Личных кабинетов&raquo; запрещено.</span></p>
<p>
	<span style="font-size:16px;">7. Для гарантированного появления резюме в поиске на портале необходимо следовать следующим требованиям к содержанию и оформлению резюме:</span></p>
<p>
	<span style="font-size:16px;">7.1. в резюме обязательно должны быть указаны: имя, год рождения соискателя и город. Обязательны для заполнения поля: Желаемая должность, Зарплата, Профессиональная область,</span></p>
<p>
	<span style="font-size:16px;">Опыт работы в аналогичной должности, График работы, Занятость, Уровень образования.</span></p>
<p>
	<span style="font-size:16px;">7.2. в резюме должно быть правильно указано название желаемой должности. В поле &laquo;Должность&raquo; не допускается указание любой другой информации. Резюме должно содержать</span></p>
<p>
	<span style="font-size:16px;">информацию только об одной должности одного специалиста (допускаются двойные названия в резюме, если упоминаются сходные должности).</span></p>
<p>
	<span style="font-size:16px;">7.3. в резюме обязательно должна содержаться информация об образовании и профессиональном опыте соискателя. Каждое место учебы или работы должно быть размещено в отдельной</span></p>
<p>
	<span style="font-size:16px;">графе.</span></p>
<p>
	<span style="font-size:16px;">7.4. контактная информация соискателя должна быть указана в специальных полях резюме.</span></p>
<p>
	<span style="font-size:16px;">7.5. все резюме должно быть заполнено на одном языке. Не допускаются к размещению резюме, написанные приписными буквами, транслитом и прочими способами, затрудняющими</span><span style="font-size:16px;"> чтение.</span></p>
<p>
	<span style="font-size:16px;">7.6. в резюме могут быть размещены ссылки, которые ведут на сайт, на котором вы работали или работаете; на сайт, созданный вами.</span></p>
<p>
	<span style="font-size:16px;">7.7. в резюме могут быть добавлены фото, отвечающие следующим условиям:</span></p>
<p>
	<br />
	<span style="font-size:16px;">&ndash; на снимке изображен только один человек;</span></p>
<p>
	<br />
	<span style="font-size:16px;">&ndash; на снимке отчетливо видно лицо;</span></p>
<p>
	<br />
	<span style="font-size:16px;">&ndash; фон снимка нейтральный или связан с профессиональной деятельностью;</span></p>
<p>
	<br />
	<span style="font-size:16px;">&ndash; фотография не содержит рекламу, адреса других порталов, телефоны, символику организаций;</span></p>
<p>
	<br />
	<span style="font-size:16px;">&ndash; на фотографии не изображены творческие работы соискателя;</span></p>
<p>
	<br />
	<span style="font-size:16px;">&ndash; фотография не содержит эротику или порнографию;</span></p>
<p>
	<br />
	<span style="font-size:16px;">&ndash; на фотографии не наличествуют известные личности, персонажи фильмов и мультфильмов</span></p>
<p>
	<br />
	<span style="font-size:16px;">&ndash; фотографии не являющиеся коллажом или сильно изменены в графическом редакторе.</span></p>
<p>
	&nbsp;</p>
<p>
	<span style="font-size:16px;">7.8. Перед публикацией резюме внимательно проверьте орфографию и пунктуацию.</span></p>
<p>
	<span style="font-size:16px;">8. Лицо, размещающее резюме, гарантирует достоверность указанных в резюме сведений.</span></p>
<p>
	<span style="font-size:16px;">9. Размещенное резюме может появиться на портале с задержкой на срок, необходимый на осуществление проверки модератором. Предварительная проверка резюме модератором может составлять</span></p>
<p>
	<span style="font-size:16px;">до 1 рабочего дня.</span></p>
<p>
	<span style="font-size:16px;">10. Резюме, содержащие нарушения, предусмотренные в настоящих Правилах, снимается с размещения. Соискатель, получивший уведомление от модератора на электронную почту, имеет возможность</span></p>
<p>
	<span style="font-size:16px;">исправить резюме в своем Личном кабинете и повторно направить на проверку модератору.</span></p>
<p>
	<span style="font-size:16px;">11. Соискатель понимает, что при размещении на портале его персональные данные будут являться общедоступными, и администратор портала не несет ответственности за сохранение их </span></p>
<p>
	<span style="font-size:16px;">конфиденциальности или использование третьими лицами. После размещения резюме попадают на бессрочное хранение в электронный архив портала и могут быть использованы администрацией </span></p>
<p>
	<span style="font-size:16px;">портала без изменения их содержания.</span></p>
<p>
	<span style="font-size:16px;">12. Администрация портала оставляет за собой право отказать в размещении информации на портале без объяснения причин.</span></p>
<p>
	<span style="font-size:16px;"><strong>III. Правила размещения вакансий</strong></span></p>
<p>
	<span style="font-size:16px;">1. Все вакансии, опубликованные на портале, проходят проверку модераторами (проверяются модераторами до публикации). Модерирование размещаемых вакансий осуществляется в соответствии</span></p>
<p>
	<span style="font-size:16px;">с настоящими Условиями несколько раз в день.</span></p>
<p>
	<span style="font-size:16px;">2. Размещение вакансии должно представлять собой предложение работы и соответствовать следующим условиям:</span></p>
<p>
	<span style="font-size:16px;">2.1. одно объявление должно содержать информацию только об одной вакансии, предлагаемой работодателем.</span></p>
<p>
	<span style="font-size:16px;">2.2. каждое объявление о вакансии должно быть размещено в отраслевой рубрике, тематически соответствующей объявлению.</span></p>
<p>
	<span style="font-size:16px;">2.3. текст объявления о вакансии должен быть составлен на русском или английском языке. Не допускаются к размещению объявления о вакансиях, написанные прописными буквами, транслитом и прочими </span></p>
<p>
	<span style="font-size:16px;">способами, затрудняющими чтение.</span></p>
<p>
	<span style="font-size:16px;">2.4. заголовок вакансии должен содержать только название должности в единственном числе, именительном падеже. В заголовке не допускается указание лишней информации.</span></p>
<p>
	<span style="font-size:16px;">3. Не допускаются к публикации объявления о вакансии следующего вида:</span></p>
<p>
	<span style="font-size:16px;">3.1. не являющиеся предложением работы.</span></p>
<p>
	<span style="font-size:16px;">3.2. содержащие один и тот же текст в разных блоках объявления о вакансии.</span></p>
<p>
	<span style="font-size:16px;">3.3. содержащие ненормативную лексику и оскорбительные слова и выражения.</span></p>
<p>
	<span style="font-size:16px;">3.4. предлагающие работу или обучение, требующие каких-либо оплат, первоначальных взносов или денежных вложений в любой форме, финансовые пирамиды, сетевой маркетинг.</span></p>
<p>
	<span style="font-size:16px;">3.5. предлагающие работу в сферах: игорного бизнеса, азартных игр, религиозных сект, оккультных услуг.</span></p>
<p>
	<span style="font-size:16px;">3.6. предлагающих написание дипломных, курсовых и т.п. работ.</span></p>
<p>
	<span style="font-size:16px;">3.7. предложения об эскорт-услугах, интимных услугах, брачных агенств.</span></p>
<p>
	<span style="font-size:16px;">3.8. предлагающие предварительную отправку копий документов, удостоверяющих личность (паспорт, водительские права и пр.) для записи на собеседование.</span></p>
<p>
	<span style="font-size:16px;">3.9. содержащие рекламу, в т. ч. скрытую, побуждающие пользователей к приобретению любых продуктов и услуг.</span></p>
<p>
	<span style="font-size:16px;">3.10. противоречащие ст. 4 ФЗ &laquo;О средствах массовой информации&raquo; &laquo;Недопустимость злоупотребления свободой массовой информации&raquo; (&laquo;&hellip;не допускается использование средств массовой информации </span></p>
<p>
	<span style="font-size:16px;">в целях совершения уголовно наказуемых деяний, для разглашения сведений, составляющих государственную или иную специально охраняемую законом тайну, для распространения материалов,</span></p>
<p>
	<span style="font-size:16px;">содержащих публичные призывы к осуществлению террористической деятельности или публично оправдывающих терроризм, других экстремистских материалов, а также материалов, пропагандирующих</span></p>
<p>
	<span style="font-size:16px;">порнографию, культ насилия и жестокости...&raquo;).</span></p>
<p>
	<span style="font-size:16px;">3.11. содержащие другую информацию, противоречащую законодательству Российской Федерации.</span></p>
<p>
	<span style="font-size:16px;">4. Правила размещения объявлений о вакансиях</span></p>
<p>
	<span style="font-size:16px;">4.1. Размещение объявлений о вакансиях на портале является платной услугой.</span></p>
<p>
	<span style="font-size:16px;">4.2. Объявление о вакансии может быть размещено на любой срок, кратный 30 дням, но при этом может быть снято клиентом с размещения в любой момент по его желанию.</span></p>
<p>
	<span style="font-size:16px;">4.3. Запрещено одновременное размещение копий одной и той же вакансии. Продублированные вакансии расцениваются модераторами портала как спам.</span></p>
<p>
	<span style="font-size:16px;">5. Правила заполнения карточки компании</span></p>
<p>
	<span style="font-size:16px;">5.1. На портале разрешается однократная регистрация одного юридического лица. Две и более регистрации одной компании на портале являются нарушением настоящих Правил.</span></p>
<p>
	<span style="font-size:16px;">5.2. Обязательные элементы: телефон и/или адрес электронной почты</span></p>
<p>
	<span style="font-size:16px;">5.3. В карточке компании запрещены:<br />
	- ссылки на порталы, не имеющие прямого отношения к компании;<br />
	- текст или часть текста, набранные заглавными буквами;<br />
	- рекламные тексты, в том числе фразы рекламного характера. Например: &laquo;Мы предлагаем самые лучшие в мире товары&raquo;.</span></p>
<p>
	<span style="font-size:16px;">6. Лицо, размещающее объявление о вакансии или карточку работодателя, гарантирует достоверность указанных в объявлении о вакансии или карточке работодателя сведений.</span></p>
<p>
	<span style="font-size:16px;">7. Работодатель понимает, что при размещении на портале информации о компании данные сведения будут являться общедоступными, и администратор портала не несет ответственности за сохранение</span></p>
<p>
	<span style="font-size:16px;">их конфиденциальности или использование третьими лицами.</span></p>
<p>
	<span style="font-size:16px;">8. Размещенное объявление о вакансии может появиться на портале с задержкой на срок, необходимый на осуществление проверки модератором. Предварительная проверка объявления о вакансии</span></p>
<p>
	<span style="font-size:16px;">модератором может составлять до 1 рабочего дня.</span></p>
<p>
	<span style="font-size:16px;">9. Объявления о вакансиях, содержащие нарушения, предусмотренные в настоящих Условиях, снимаются с размещения. Пользователь, получивший уведомление от модератора на электронную почту, имеет</span></p>
<p>
	<span style="font-size:16px;">возможность исправить объявление о вакансии или данных в карточке компании в своем Личном кабинете и повторно направить на проверку модератору.</span></p>
<p>
	<span style="font-size:16px;">10. Администрация портала оставляет за собой право отказать в размещении информации на портале без объяснения причин.</span></p>