<!DOCTYPE html>
<html>
<head>
    <title>Для Вас создан новый аккаунт</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table style="width: 100%; background-color: #afafaf; background-repeat: repeat; min-height: 340px" background="email-bg.jpg">
    <tr>
        <td style="padding: 20px 0" align="center">

            <table style="width: 600px;border: 1px solid #777777;border-collapse: collapse">
                <tr>
                    <td style="padding: 20px; background-color: #fcf8cb; font-size: 18px">
                        Работа от А до Я | Доступ в Личный Кабинет
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; background-color: #f7f7f7; font-size: 15px">
                        Уважаемый/ая {%FIO%}!<br />
                        Для Вас автоматически создана <a href="{%LINK%}" target="_blank">ссылка для входа в Личный Кабинет</a>:<br /><br />
                        {%LINK%}<br /><br />

                        По всем вопросам обращайтесь по телефону или посредствам E-mail указаных на странице сайта <a href="{%LINK_CONTACTS%}">Контакты</a>.<br />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; background-color: #fcf8cb; font-size: 12px; color: #afafaf">
                        <i>Не отвечайте на данное письмо! Текст сформирован автоматически почтовым роботом.</i>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
