<!DOCTYPE html>
<html>
<head>
    <title>Восстановление пароля</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table style="width: 100%; background-color: #afafaf; background-repeat: repeat; min-height: 340px" background="email-bg.jpg">
    <tr>
        <td style="padding: 20px 0" align="center">

            <table style="width: 600px;border: 1px solid #777777;border-collapse: collapse">
                <tr>
                    <td style="padding: 20px; background-color: #fcf8cb; font-size: 18px">
                        Работа от А до Я | Пароль в Личный Кабинет восстановлен
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; background-color: #f7f7f7; font-size: 15px">
                        Уважаемый пользователь сайта Rabota-Ya.Ru!<br />
                        Вы, или кто-то другой, запросили напомнить пароль для авторизации в <a href="{%LINK_LOGIN%}" target="_blank">Личный Кабинет</a> на сайте.<br /><br />
                        <span style="color: #F99D1C">Логин</span>: <span style="color: #8A0202">{%login%}</span><br />
                        <span style="color: #F99D1C">Пароль</span>: <span style="color: #8A0202">{%password%}</span><br /><br />
                        <br />
                        По всем вопросам обращайтесь по телефону или посредствам E-mail указаных на странице сайта <a href="{%LINK_CONTACTS%}">Контакты</a>.<br />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; background-color: #fcf8cb; font-size: 12px; color: #afafaf">
                        <i>Не отвечайте на данное письмо! Текст сформирован автоматически почтовым роботом.</i>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
