<!DOCTYPE html>
<html>
<head>
    <title>Запрос с сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table style="width: 100%; background-color: #afafaf; background-repeat: repeat; min-height: 340px" background="email-bg.jpg">
    <tr>
        <td style="padding: 20px 0" align="center">

            <table style="width: 600px;border: 1px solid #777777;border-collapse: collapse">
                <tr>
                    <td style="padding: 20px; background-color: #fcf8cb; font-size: 18px">
                        Работа от А до Я | Запрос с сайта
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px; background-color: #f7f7f7; font-size: 15px">

                        <table>
                            <tr>
                                <td valign="top" width="150">Email посетителя</td>
                                <td>{%eMail%}</td>
                            </tr>
                            <tr>
                                <td valign="top">Телефон</td>
                                <td>{%phone%}</td>
                            </tr>
                            <tr>
                                <td valign="top">Контактное лицо</td>
                                <td>{%contact%}</td>
                            </tr>
                            <tr>
                                <td valign="top">Текст обращения</td>
                                <td>{%message%}</td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; background-color: #fcf8cb; font-size: 12px; color: #afafaf">
                        <i>Не отвечайте на данное письмо! Текст сформирован автоматически почтовым роботом.</i>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
